<div>
    <div class="panel">
        <div class="panel-heading">Add absent/late coming informations
        </div>
        <div class="panel-body">
            <div class="row ">
                <div class="col-md-12">
                    <div class="form-body pal">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="theoryBulk" class="control-label"><span class="glyphicon glyphicon-list-alt"><b> Select Department</b></span></label>
                                    <div class="input-icon left">
                                        <select
                                                class="form-control required"
                                                name="leaveType"
                                                id="leaveTypejj"
                                                style="width: 70%";
                                                data-ng-options="dept.name for dept in vm.deptList track by dept.id"
                                                data-ng-model="vm.deptName"
                                                data-ng-change="vm.deptChanged(vm.deptName)"
                                        ></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="toStudentList" class="control-label"><span class="glyphicon glyphicon-user"><b> Empoyee Name</b></span></label>
                                    <div class="input-icon left">
                                        <select
                                                class="form-control required"
                                                name="leaveType"
                                                id="leaveTypejj"
                                                style="width: 70%";
                                                data-ng-options="employee.employeeName for employee in vm.employees track by employee.id"
                                                data-ng-model="vm.employee"
                                                data-ng-change="vm.employeeChanged(vm.employee)"
                                        ><option value="">Select an Exam Date</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="theoryBulk" class="control-label"><span class="glyphicon glyphicon-apple"><b> Exam Type</b></span></label>
                                <div class="input-icon left">
                                    <select
                                            class="form-control required"
                                            name="meritType"
                                            id="meritType"
                                            style="width: 70%;"
                                            data-ng-options="examType.name for examType in vm.examTypeList track by examType.id"
                                            data-ng-model="vm.examType"
                                            data-ng-change="vm.changeExamType(vm.examType)"
                                    >
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <div class="form-body pal">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="theoryBulk" class="control-label"><span class="glyphicon glyphicon-apple"><b> Absent/Late Status</b></span></label>
                                    <div class="input-icon left">
                                        <select
                                                class="form-control required"
                                                name="meritType"
                                                id="meritType"
                                                style="width: 70%;"
                                                data-ng-options="absPreStatus.name for absPreStatus in vm.absPreStatusList track by absPreStatus.id"
                                                data-ng-model="vm.absPreStatus"
                                                data-ng-change="vm.changeAbsPreStatus(vm.absPreStatus)"
                                        >
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="theoryBulk" class="control-label"><span class="glyphicon glyphicon-apple"><b> Remarks</b></span></label>
                                    <div class="input-icon left">
                                        <select
                                                class="form-control required"
                                                name="meritType"
                                                id="meritType"
                                                style="width: 70%;"
                                                data-ng-options="remarks.name for remarks in vm.remarksList track by remarks.id"
                                                data-ng-model="vm.remarks"
                                                data-ng-change="vm.changeRemarkStatus(vm.remarks)"
                                        >
                                        </select>s
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="toStudentList" class="control-label"><span class="glyphicon glyphicon-list-alt"><b> Invigilation Room</b></span></label>
                                <div class="input-icon left">
                                    <select
                                            class="form-control required"
                                            name="leaveType"
                                            id="leaveTypejj"
                                            style="width: 70%";
                                            data-ng-options="classRoom.roomNo for classRoom in vm.classRooms track by classRoom.id"
                                            data-ng-model="vm.classRoom"
                                            data-ng-change="vm.classRoomChanged(vm.classRoom)"
                                    ><option value="">Reserved</option></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <div class="form-body pal">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="theoryBulk" class="control-label"><span class="glyphicon glyphicon-calendar"><b> Exam Date</b></span></label>
                                    <div class="input-icon left">
                                        <div>
                                            <select class="form-control" name="examDate" style="width: 70%"; data-ng-model="vm.examDate" data-ng-change="vm.ExamDateChange(vm.examDate)">
                                                <option value="">Select an Exam Date</option>
                                                <option data-ng-repeat="examRoutine in vm.examRoutineArr">{{examRoutine.examDate}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="theoryBulk" class="control-label"><span class="glyphicon glyphicon-calendar"><b> Arrival Time</b></span></label>
                                    <input align="center" contenteditable="editable"
                                           ng-disabled="editable"
                                           style="width:70%;text-align: center;"
                                           type="text"
                                           style="width: 70%";
                                           data-date-format="dd-mm-yyyy" placeholder="DD-MM-YYYY"
                                           class="datepicker-default form-control"
                                           data-ng-model="vm.arrivalTime"
                                           data-ng-change="vm.dateChanged(vm.arrivalTime)">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="theoryBulk" class="control-label"> </label>
                                    <div class="input-icon left" align="center">
                                        <button type="button" class="btn btn-success" style="width:40%;" data-ng-click="vm.getClassRoomInfo()">submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
</div>
