<div class="row">
    <div class="orgLeftClass pull-left panel panel-green col-md-12" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <form action="" class="form-horizontal" data-validate="" data-onvalidate="saveAssignment"
              data-ng-hide="response.status">
            <div class="panel-body pan">
                <div class="form-body pal">
                    <div class="row">
                        <div class="col-md-2">
                            <select data-ng-model="userId" data-ng-change="savedAdditionalRolePermission()">
                                <option data-ng-repeat="user in users">{{::user.id}}</option>
                            </select>
                            <div data-spinner="" data-ng-if="isPermissionLoading"></div>
                        </div>
                        <div class="col-md-5">
                            <ul>
                                <li data-ng-repeat="entry in menuEntries[0].items">
                                    <input type="checkbox" data-ng-model="permissions[entry.id]"/>
                                    <span>{{entry.title}}</span>
                                    <ul data-ng-if="entry.children.length > 0">
                                        <li data-ng-repeat="children in entry.children">
                                            <input type="checkbox" data-ng-model="permissions[children.id]"
                                                   data-ng-click="togglePermission(children.id)"/>
                                            <span>{{children.title}}</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <label class="col-md-2 control-label">Start Date</label>

                                <div class="col-md-10">
                                    <div class="input-icon right"><i class="fa fa-calendar"></i>
                                        <input type="text" name="semesterStartDate" data-date-format="dd/mm/yyyy"
                                               placeholder="DD/MM/YYYY" class="datepicker-default form-control required"
                                               autocomplete="off" data-ng-model="startDate" data-date-picker=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-2 control-label">End Date</label>

                                <div class="col-md-10">
                                    <div class="input-icon right"><i class="fa fa-calendar"></i>
                                        <input type="text" name="semesterEndDate" data-date-format="dd/mm/yyyy"
                                               placeholder="DD/MM/YYYY" class="datepicker-default form-control required"
                                               autocomplete="off" data-ng-model="endDate" data-date-picker=""/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-actions text-right pal">
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>