<div id="{{handler}}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: left;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" style="font-weight: bold;">{{header}}</h4>
      </div>
      <div class="modal-body" style="text-align: left;font-size:17px;">
        <p>{{body}}</p>
        <p class="text-warning"><small>{{warning}}</small></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-ng-click="callbackButtonRight();" data-dismiss="modal" >
          Ok
        </button>

      </div>
    </div>
  </div>
</div>