<style>

    .fa-user:hover {
        color: green;
    }
    .fa-users:hover {
        color: green;
    }

    .selected{
        color:green;
    }
</style>
<div class="row">
    <div class="col-lg-4" style="text-align: center;">
        <a    ng-click="passwordReset.singleUser=true;passwordReset.multipleUser=false;" ui-sref=".singleUserPassword">
            <i class="fa fa-user fa-5x" style="font-size: 10em;cursor: pointer;" ng-class="{'selected': passwordReset.singleUser==true && passwordReset.multipleUser==false, '': passwordReset.singleUser==false && passwordReset.multipleUser==true}"></i></a><br/>Single User<br/><br/>
        <a  ng-click="passwordReset.singleUser=false;passwordReset.multipleUser=true;" ui-sref=".bulkUserPassword">
            <i class="fa fa-users fa-5x" style="font-size: 10em;cursor: pointer;" ng-class="{'selected': passwordReset.singleUser==false && passwordReset.multipleUser==true, '': passwordReset.singleUser==true && passwordReset.multipleUser==false}"></i></a><br/>Bulk User
    </div>


    <div class="col-lg-8">
        <div  ui-view>

        </div>
    </div>

</div>