<style>

    .fa-user:hover {
        color: green;
    }
    .fa-users:hover {
        color: green;
    }

    .selected{
        color:green;
    }
</style>
<div class="row">
    <div class="col-lg-4" style="text-align: center;">
        <a    ng-click="passwordReset.singleUser=true;passwordReset.multipleUser=false;" ui-sref=".singleUserPassword">
            <i class="fa fa-user fa-5x" style="font-size: 10em;cursor: pointer;" ng-class="{'selected': passwordReset.singleUser==true && passwordReset.multipleUser==false, '': passwordReset.singleUser==false && passwordReset.multipleUser==true}"></i></a><br/>Single User<br/><br/>
        <a  ng-click="passwordReset.singleUser=false;passwordReset.multipleUser=true;" ui-sref=".bulkUserPassword">
            <i class="fa fa-users fa-5x" style="font-size: 10em;cursor: pointer;" ng-class="{'selected': passwordReset.singleUser==false && passwordReset.multipleUser==true, '': passwordReset.singleUser==true && passwordReset.multipleUser==false}"></i></a><br/>Bulk User
    </div>


    <div class="col-lg-8">
        <div  ui-view>
            <div class="col-lg-6">
                <div class="panel panel-blue">
                    <div class="panel-heading">Password Change Form</div>
                    <div class="panel-body pan">
                        <form action="" class="form-horizontal" data-validate="" data-onvalidate="submit" data-ng-hide="response.status">
                            <div class="form-body pal">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">User Id</label>

                                    <div class="col-md-8">
                                        <div class="input-icon right"><i class="fa fa-lock"></i>
                                            <input name="userId" data-ng-model="userId" type="text" class="form-control required"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="text-center mbl">
                                                <img src="" data-image="changePasswordUser.userId"
                                                     style="border: 5px solid #fff; box-shadow: 0 2px 3px rgba(0,0,0,0.25);"
                                                     data-ng-if="changePasswordUser"/>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-hover" style="border: 1px solid #dedede"
                                               data-ng-if="changePasswordUser">
                                            <tbody>
                                            <tr>
                                                <td width="50%">User Name</td>
                                                <td>{{changePasswordUser.userName}}</td>
                                            </tr>
                                            <tr>
                                                <td width="50%">Dept/Office/School</td>
                                                <td>{{changePasswordUser.department}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-striped table-hover" style="border: 1px solid #dedede"
                                               data-ng-if="changePasswordUserError">
                                            <tbody>
                                            <tr>
                                                <td>{{changePasswordUserError}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="form-actions text-right pal">
                                <button type="button" class="btn btn-success">Find User</button>
                                <button type="button" class="btn" data-ng-click="generatePdf(changePasswordUser)">
                                    Generate PDF
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>