<div class="modal-header">
    <button type="button" data-ng-click="ok()" aria-hidden="true"
            class="close">&times;</button>
    <h4 class="modal-title">Confirm</h4>
</div>
<form action="" class="form-horizontal" data-validate="" data-onvalidate="receivePayment">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-bordered table-advanced table-striped"
                       data-ng-repeat='feeType in selectedPaymentsGroup'>
                    <thead>
                    <tr>
                        <td>
                            Payment for: {{::feeType.feeTypeDescription}}
                        </td>
                    </tr>
                    </thead>
                    <tr data-ng-repeat="transaction in feeType.transactions">
                        <td style="padding: 0">
                            <table class="course-teacher-inner"
                                   style="border-collapse: collapse;">
                                <thead>
                                <tr>
                                    <td style="padding:10px;border-top: none;width: 30%">
                                        <b>TxId</b></td>
                                    <td style="padding:10px;border-top: none;width: 25%">
                                        <b>Type</b></td>
                                    <td style="padding:10px;border-top: none;width: 20%"><b>Applied
                                        On</b></td>
                                    <td style="padding:10px;border-top: none;width: 20%"><b>Amount</b>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="payment in transaction.entries">
                                    <td style="padding:10px" rowspan="{{::transaction.entries.length}}"
                                        data-ng-if="$index===0">
                                        {{::transaction.id}}
                                    </td>
                                    <td style="padding:10px">
                                        {{payment.feeCategory}}
                                    </td>
                                    <td style="padding:10px">
                                        {{payment.appliedOn}}
                                    </td>
                                    <td style="padding:10px">
                                        {{payment.amount}}/=
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="padding:10px; text-align: right">
                                        Total
                                    </td>
                                    <td colspan="2" style="padding:10px">
                                        {{totalAmount(transaction.entries)}}/=
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="methodOfPayment" class="control-label col-md-5">Payment method</label>
                    <div class="col-md-7">
                        <select id="methodOfPayment" class="form-control required" data-ng-model="receiveParams.methodOfPayment">
                            <option value="{{::paymentOption.value}}"
                                    data-ng-repeat="paymentOption in methodOfPaymentOptions">
                                {{::paymentOption.label}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="receiptNo" class="control-label col-md-5">Receipt no</label>
                    <div class="col-md-7">
                        <input id="receiptNo" type="text" class="form-control required" data-ng-model="receiveParams.receiptNo"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="paymentDetails" class="control-label col-md-5">Details</label>
                    <div class="col-md-7">
                        <textarea id="paymentDetails" class="form-control" rows="4" cols="40" data-ng-model="receiveParams.paymentDetails"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="ok()">Close</button>
        <button type="button" class="btn btn-success" data-ng-disabled="!receiveParams.methodOfPayment && !receiveParams.receiptNo">Receive</button>
    </div>
</form>
