<div class="panel">
    <div class="panel-heading">Payments</div>
    <div class="panel-body">
        <list-filter data-filters="vm.filters" data-selected-filters="vm.selectedFilters"></list-filter>
        <table class="table table-hover table-bordered table-advanced" style="margin-top: 10px;">
            <thead>
            <tr>
                <td width="15%">Transaction Id</td>
                <td width="15%">Account</td>
                <td width="15%">Method of payment</td>
                <td width="10%">Receipt no.</td>
                <td width="10%">Status</td>
                <td width="10%">Amount</td>
                <td width="10%">Receive on</td>
                <td width="10%">Completed on</td>
                <td width="5%"></td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="paymentStatus in vm.paymentStatusList">
                <td>
                    {{::paymentStatus.transactionId}}
                </td>
                <td>
                    {{::paymentStatus.account}}
                </td>
                <td>
                    {{::paymentStatus.methodOfPayment}}
                </td>
                <td>
                    {{::paymentStatus.receiptNo}}
                </td>
                <td>
                    {{paymentStatus.status}}
                </td>
                <td>
                    {{paymentStatus.amount}}/=
                </td>
                <td>
                    {{paymentStatus.receivedOn}}
                </td>
                <td>
                    {{paymentStatus.completedOn}}
                </td>
                <td>
                    <input type="checkbox" data-ng-model="vm.selectedPayments[paymentStatus.id]"
                            data-ng-if="paymentStatus.status !== 'Verified' && paymentStatus.status !== 'Rejected'"/>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-success" data-ng-click="vm.concludePayment(true)"
                        data-ng-if="vm.selectedPaymentIds && vm.selectedPaymentIds.length > 0">
                    Accept
                </button>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-warn" data-ng-click="vm.concludePayment(false)"
                        data-ng-if="vm.selectedPaymentIds && vm.selectedPaymentIds.length > 0">
                    Reject
                </button>
            </div>
            <div class="col-md-4">
                <div class="text-right">
                    <button type="button" class="btn btn-success text-right" data-ng-click="vm.navigate(vm.nextLink)"
                            data-ng-if="vm.nextLink">
                        Next >>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

