<style>
    .form-control {
        border-radius: 8px !important;
    }

    fieldset {
        margin: 1em 1em 1em 0;
        padding: 1em;
        background-color: #f4f8f9;
        border: 2px solid #b9d8d9;
        border-radius: 5px;
    }

    legend {
        font-weight: bold;
        border: 2px solid #b9d8d9;
        background-color: #ffffff;
        border-radius: 3px;
        width: auto;
        padding: 0.2em 30px 0.2em 0.5em;
        margin-bottom: 5px !important;
        font-size: 14px;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        /*background-color: white !important;*/
    }
</style>
<div data-ng-show="!vm.showWarning">
    <div class="row">
        <div class="col-md-8">
            <fieldset>
                <legend>Check in</legend>
                <div class="row">
                    <div class="col-md-8">
                        <label for="barcode">Enter item barcode: </label>
                        <input name="barcode" id="barcode" size="14" data-ng-model="vm.checkInItem.itemCode"
                               class="form-control" disabled>
                    </div>
                    <div class="col-md-4">
                        <label>Specify return date</label>
                        <input type="text" size="13" data-provide="datepicker" placeholder="DD/MM/YYYY"
                               data-date-format="dd/mm/yyyy" data-ng-model="vm.checkInItem.returnDate"
                               id="return_date_override" name="return_date_override"
                               class="form-control">
                    </div>
                </div>
                <br />

                <input type="button" data-ng-click="vm.submitCheckIn()" class="submit" value="Submit">


            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset id="checkin_options">
                <legend>Options</legend>

                <p>

                    <input type="checkbox" data-ng-model="vm.checkInItem.fineStatus" id="exemptcheck" name="exemptfine" value="exemptfine">

                    <label for="exemptcheck">Forgive overdue charges</label>
                </p>
                <!-- overduecharges -->
                <!--<p>-->

                <!--&lt;!&ndash;<input type="checkbox" id="dropboxcheck" name="dropboxmode" value="dropboxmode">&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="dropboxcheck">Book drop mode</label>&ndash;&gt;-->
                <!--</p>-->
                <!-- overduecharges -->
            </fieldset>
        </div>

        <!--<div class="col-md-4">-->
        <!--<fieldset id="checkin_options">-->
        <!--<legend>Patrons</legend>-->

        <!--<table class="table table-bordered table-striped table-condensed cf">-->
        <!--<thead class="cf">-->
        <!--<tr>-->
        <!--<th width="80%">Name</th>-->
        <!--<th width="20%" style="text-align: center;">Hold</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>Ifta Khirul</td>-->
        <!--<td style="text-align: center;"><span class="badge badge-danger pull-center">3</span></td>-->

        <!--</tr>-->
        <!--<tr>-->
        <!--<td>Imrul Kayes</td>-->
        <!--<td style="text-align: center;"><span class="badge badge-danger pull-center">3</span></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--&lt;!&ndash; overduecharges &ndash;&gt;-->
        <!--</fieldset>-->
        <!--</div>-->
    </div>

    <!-- S - Checked-in Items Table Start -->

    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<p style="font-weight: bold;font-size: 16px;margin-top:10px;">Checked-in Items</p>-->
    <!--<table class="table table-bordered table-striped table-condensed cf">-->
    <!--<thead class="cf">-->
    <!--<tr>-->
    <!--<th>Due date</th>-->
    <!--<th>Title</th>-->
    <!--<th>Author</th>-->
    <!--<th>Barcode</th>-->
    <!--<th>Call Number</th>-->
    <!--<th>Type</th>-->
    <!--<th>Patron</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
    <!--<td>AAC</td>-->
    <!--<td>AUSTRALIAN AGRICULTURAL</td>-->
    <!--<td>1.38</td>-->
    <!--<td>1.38</td>-->
    <!--<td>1.38</td>-->
    <!--<td>1.38</td>-->
    <!--<td>AUSTRALIAN AGRICULTURAL</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>AAC</td>-->
    <!--<td>AUSTRALIAN AGRICULTURAL</td>-->
    <!--<td>1.38</td>-->
    <!--<td>1.38</td>-->
    <!--<td>1.38</td>-->
    <!--<td>1.38</td>-->
    <!--<td>AUSTRALIAN AGRICULTURAL</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; - X-  Checked-in Items Table End &ndash;&gt;-->

    <div class="row">
        <br/>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p style="font-weight: bold;font-size: 16px;margin-top:10px;">Checked-in Items</p>
            <table class="table table-bordered">
                <thead style="background-color: whitesmoke">
                <tr>
                    <th>Due Date</th>
                    <th>Title</th>
                    <th>Material Type</th>
                    <th>Barcode</th>
                    <th>Return Date</th>
                    <th>Fines</th>
                </tr>
                </thead>
                <tbody data-ng-repeat="item in vm.allCirculation">
                <tr>
                    <td>{{item.dueDate}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.materialType}}</td>
                    <td>{{item.mfn}}</td>
                    <td>{{item.returnDate}}</td>
                    <td>{{item.fineStatusString}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div data-ng-show="vm.showWarning">
    <div class="row">
        <div class="col-md-12">

            <fieldset>
                <legend>Warning</legend>
                Desired Item is not checked Out.
            </fieldset>
        </div>
    </div>
</div>