<style>
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 2px;
    }
</style>
<div id="showTwo">
    <div class="col-md-5" align="right">
        <div class="ui-widget">
            <label for="tags">Student Id</label>
            <input id="tags">
            <button class="btn btn-info" id="addOneBtn">Add</button>
        </div>
    </div>

    <div class="col-md-1"><label>TO</label></div>
    <div class="col-md-5">
        <div class="ui-widget" align="left">
            <label for="tags">Student Id</label>
            <input id="tags2">
            <button class="btn btn-info" id="addRangeBtn">Add</button>
        </div>
    </div>
</div>
<div id="showOne">
    <div class="col-md-12" align="left">
        <div class="ui-widget">
            <label for="tags">Student Id</label>
            <input id="tags3">
            <button class="btn btn-info" id="addSrcBtn">Search</button>
        </div>
    </div>
</div>


