
<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabs-left">
            <ul  class="nav nav-tabs">
                <li data-ng-repeat="d in weekday" data-ng-class="d.id==currentDate?'active':''">
                    <a  data-toggle="tab" data-ng-click="updateDate(d.id)">{{d.name}}</a>
                </li>
            </ul>
            <div  class="tab-content">
                <div  class="tab-pane fade in active">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Course No.</th>
                            <th>Section</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Duration(minutes)</th>
                            <th>Room No.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="r in routines" data-ng-if="r.day==currentDate">
                            <td>{{courseMap[r.courseId].no}}</td>
                            <td>{{r.section}}</td>
                            <td>{{r.startTime}}</td>
                            <td>{{r.endTime}}</td>
                            <td>{{r.duration *50}}</td>
                            <td>{{roomMap[r.roomId].roomNo}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
