
<div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2">
        <a  href="javascript:;" class="btn btn-xs btn-default"
            data-ng-click="viewByDay()" style="background-color: black;">
            <i class="fa fa-tasks" style="color: white;" aria-hidden="true"></i>
        </a>
        <a  href="javascript:;" class="btn btn-xs btn-default"
            data-ng-click="viewByCompleteTable()" style="background-color: black;">
            <i class="fa fa-table" style="color: white;" aria-hidden="true"></i>
        </a>
    </div>
</div>
<br>
<div class="row" data-ng-if="showByDay==true">
    <div class="col-md-12">
        <div class="tabbable tabs-left">
            <ul  class="nav nav-tabs">
                <li data-ng-repeat="d in weekday" data-ng-class="d.id==currentDate?'active':''">
                    <a  data-toggle="tab" data-ng-click="updateDate(d.id)">{{d.name}}</a>
                </li>
            </ul>
            <div  class="tab-content">
                <div  class="tab-pane fade in active">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Course No.</th>
                            <th>Section</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Duration(minutes)</th>
                            <th>Room No.</th>   
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="r in routines" data-ng-if="r.day==currentDate">
                            <td>{{courseMap[r.courseId].no}}</td>
                            <td>{{r.section}}</td>
                            <td>{{r.startTime}}</td>
                            <td>{{r.endTime}}</td>
                            <td>{{r.duration *50}}</td>
                            <td>{{roomMap[r.roomId].roomNo}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-ng-if="routines">
    <div class="row" data-ng-show="showByDay==false" >
        <div class="col-md-12">
            <style type="text/css">
                table {
                    border:solid #000 ;
                    border-width:1px 0 0 1px ;
                }
                th, td {
                    border:solid #000;
                    border-width:0 1px 1px 0 ;
                }
            </style>
            <div class="table-responsive">
                <table class="table" style="font-size: smaller">
                    <tr>
                        <th>Time &rarr;<br>Day &darr;</th>
                        <th>8:00 am - <br> 8:50 am</th>
                        <th>8:50 am - <br> 9:40 am</th>
                        <th>9:40 am - <br> 10:30 am</th>
                        <th>10:30 am - <br> 11:20 am</th>
                        <th>11:20 am - <br> 12:10 pm</th>
                        <th>12:10 pm - <br> 1:00 pm</th>
                        <th>1:00 pm - <br> 1:50 pm</th>
                        <th>1:50 pm - <br> 2:40 pm</th>
                        <th>2:40 pm - <br> 3:30 pm</th>
                        <th>3:30 pm - <br> 4:20 pm</th>
                        <th>4:20 pm - <br> 5:10 pm</th>
                        <th>5:10 pm - <br> 6:00 pm</th>
                    </tr>

                    <tr data-ng-repeat="day in days">
                        <td><b><i>{{day.day}}</i></b></td>
                        <td colspan={{stores.colspan}} data-ng-repeat="stores in routineStore | filter:{day:day.id}">
                            <p align="center"><b>{{stores.courseId}}<br>{{stores.roomNo}}</b></p>
                        </td>

                    </tr>

                </table>
            </div>
        </div>

    </div>
</div>

