<div class="form-group" data-ng-if="model.fieldView().programType !== model.fieldViewTypes()['hidden']">
  <label class="col-md-4 control-label">Program Type</label>
  <div class="col-md-8">
    <select class="form-control required" name="programType" id="programTypeId" data-ng-model="model.programTypeId"
            data-ng-change="model.loadDepartments();model.loadSemester();" data-convert-to-number>
      <option data-ng-repeat="programType in model.getProgramTypes()" value="{{programType.id}}">{{programType.name}}
      </option>
    </select>
  </div>
</div>
<div class="form-group" data-ng-if="model.fieldView().department !== model.fieldViewTypes()['hidden']">
  <label class="col-md-4 control-label">Dept./School</label>
  <div class="col-md-8">
    <select name="dept" id="dept_id" class="form-control required" data-ng-model="model.departmentId" data-ng-change="model.loadPrograms()" >
      <option data-ng-repeat="department in model.getDepartments()" value="{{department.id}}">{{department.name}}</option>
    </select>
  </div>
</div>
<div class="form-group" data-ng-if="model.fieldView().program !== model.fieldViewTypes()['hidden']">
  <label class="col-md-4 control-label">Program Name</label>
  <div class="col-md-8">
    <select class="form-control required" data-ng-model="model.programId" id="dirProgram" data-convert-to-number>
      <option data-ng-repeat="program in model.getPrograms()" value="{{program.id}}">{{program.longName}}</option>
    </select>
  </div>
</div>
<div class="form-group" data-ng-if="model.isSemesterEnabled() && model.fieldView().semester !== model.fieldViewTypes()['hidden']">
  <label class="col-md-4 control-label">Semester</label>
  <div class="col-md-8">
    <select name="semester" id="semester_id" class="form-control required" data-ng-model="model.semesterId">
      <option data-ng-repeat="semester in model.getSemesters()" value="{{semester.id}}">
        {{semester.name}}
      </option>
    </select>
  </div>
</div>
