<style>



</style>

<!--<div ng-bind-html="vm.template"></div>-->
<div ng-if="vm.template==''"></div>
<table class="table table-bordered" ng-if="vm.template!=''"  >
    <tbody>
   <!-- <tr>
        <td class="col-md-3" colspan="3">Three</td>
    </tr>
    <tr>
        <td class="col-md-1" colspan="1">one</td>
        <td class="col-md-2" colspan="2">Two</td>
    </tr>-->
    <tr ng-repeat="r in vm.routineRows">
        <td  ng-repeat="l in r.routineList" colspan="{{vm.getColSpan(l)}}" align="center" class="col-md-{{vm.getColSpan(l)}}*2" >
            <div ng-if="l.course!=undefined">
                {{l.course.no}}({{l.section}})<br>
                {{l.room.roomNo}}<br>
                <p ng-if="vm.getCourseTeacher(l.course.id, l.section)!=='(TBA)'" style="color: #1f232a"><span >{{vm.getCourseTeacher(l.course.id, l.section)}}</span></p>
                <p ng-if="vm.getCourseTeacher(l.course.id, l.section)==='(TBA)'" style="color: red"><span >{{vm.getCourseTeacher(l.course.id, l.section)}}</span></p>
            </div>
            <div ng-if="l.course==undefined">
                <p  ng-style="{'background-color':l.color}" title="{{l.message}}">Error</p>
            </div>

           <!-- {{vm.getCourseTeacherByCourseAndSection(routine.courseId, routine.section)}}-->
        </td>
    </tr>
    </tbody>
</table>
