<fieldset>
    <legend>Library use</legend>
    <div class="row">
        <div class="col-md-2"><b>Name</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.userName}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Id</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.userId}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Category</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.category}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Email</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.emailAddress}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Contact No</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.mobileNo}}</div>
    </div>
</fieldset>

<br/>

<fieldset>
    <legend>General</legend>
    <div class="row">
        <div class="col-md-2"><b>Gender</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.gender}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Blood Group</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.bloodGroup}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Date of Birth</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.dateOfBirth}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Department</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.department}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Designation</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.designation}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Father Name</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.fatherName}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><b>Mother Name</b></div>
        <div class="col-md-1"><b>:</b></div>
        <div class="col-md-9">{{vm.user.motherName}}</div>
    </div>
</fieldset>