<div class="row">
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead style="background-color: whitesmoke">
            <tr>
                <th>Due Date</th>
                <th>Title</th>
                <th>Material Type</th>
                <th>Barcode</th>
                <th>Fines</th>
                <th>Check In</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Due Date</td>
                <td>Title</td>
                <td>Material Type</td>
                <td>Barcode</td>
                <td>Fines</td>
                <td><input type="checkbox"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button>Check In Selected Rows</button>
        <button ng-click="vm.checkAll()">Check In All</button>
    </div>
</div>