<div class="row">
    <br />
</div>
<div class="row">
    <div class="col-md-12">
        <p style="font-weight: bold;font-size: 16px;margin-top:10px;">All Fines</p>
        <table class="table table-bordered">
            <thead style="background-color: whitesmoke">
            <tr>
                <th>Due Date</th>
                <th>MFN</th>
                <th>Amount</th>
                <th>status</th>
                <th>Payment Date</th>
                <th>Forgive Fine</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="fine in vm.fines">
                <td>{{fine.dueDate}}</td>
                <td>{{fine.mfn}}</td>
                <td>{{fine.amount}}</td>
                <td>{{fine.statusName}}</td>
                <td>{{fine.paymentDate}}</td>
                <td><span data-ng-if="fine.status==1"><input data-ng-model="fine.checkBoxStatus" type="checkbox"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" data-ng-click="vm.forgiveFines()">Forgive Fine</button>
    </div>
</div>