<table class="table table-condensed table-bordered">
    <tbody>
    <tr>
        <td>Name</td>
        <td>{{vm.user.userName}}</td>

    </tr>
    <tr>
        <td>Id</td>
        <td>{{vm.user.userId}}</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>{{vm.user.category}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{vm.user.emailAddress}}</td>
    </tr>
    <tr>
        <td>Contact No</td>
        <td>{{vm.user.mobileNo}}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{vm.user.gender}}</td>
    </tr>

    <tr>
        <td>Blood Group</td>
        <td>{{vm.user.bloodGroup}}</td>
    </tr>
    <tr>
        <td>Date of Birth</td>
        <td>{{vm.user.dateOfBirth}}</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>{{vm.user.department}}</td>
    </tr>
    <tr>
        <td>Designation</td>
        <td>{{vm.user.designation}}</td>
    </tr>
    <tr>
        <td>Father Name</td>
        <td>{{vm.user.fatherName}}</td>
    </tr>
    <tr>
        <td>Mother Name</td>
        <td>{{vm.user.motherName}}</td>
    </tr>
    </tbody>
</table>
