<style>
    .center-block {
        width: 250px;
        padding: 10px;
    }

    #rcorners1 {
        border-radius: 15px;
        background: #eee;
        padding: 16px 12px;
        height: 64px;
    }

    .btn-round {
        border-radius: 0.5em !important;
    }

    .btn-group > .btn {
        -webkit-border-radius: 14px !important;
    }

    .btn-group {
        width: 80% !important;
    }

    .tab-content {
        padding: 2px 1px;
    }

    .tabbable.tabs-below .tab-content {
        border-top: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
    }

    .tabbable.tabs-below .nav-tabs {
        margin-left: 30px !important;
    }

    .tabbable.tabs-below .nav-tabs > li.active > a {
        border-color: #ABB2B9 !important;
    }

    .tabbable.tabs-below .nav-tabs > li.active > a {
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }

    .tabbable.tabs-below .nav-tabs > li.active > a {
        font-weight: 700;
    }

    .searchLabel {
        color: #909497;
        padding-bottom: 3px;
        padding-left: 34px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-body" style="padding-top: 17px;" id="panelBody1">

        <!--<div class="col-md-6">-->
        <!--<input type="file" file-input="vm.file" file-preview="filepreview"/>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
        <!--<img ng-src="{{filepreview}}" class="img-responsive" ng-show="filepreview"/>-->
        <!--</div>-->
        <!--<button type="button" data-ng-click="vm.submitImage()">Upload Image</button>-->
        <!--{{vm.file}}-->

        <div class="row">
            <div class="col-md-4">
                <input type='file' id="inputFile"/>
            </div>
            <div class="col-md-6">
                <img id="image_upload_preview"/>
            </div>
        </div>
        <button type="button" id="submitBtn" data-ng-click="vm.uploadImage()">Upload Image</button>

    </div>
</div>


<script type="text/javascript">
    /*
    var div = $('.page-content');
    var div1 = $('#panelBody1');
    var height = div.height();
    div1.css('height', height);
    */


    function readURL(input) {
        if (input.files && input.files[0]) {
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png)$");
            if (regex.test(input.value.toLowerCase())) {
                if (typeof (input.files[0]) != "undefined") {
                    var reader = new FileReader();
                    reader.readAsDataURL(input.files[0]);
                    reader.onload = function (e) {
                        var image = new Image();
                        image.src = e.target.result;
                        image.onload = function () {
                            var height = this.height;
                            var width = this.width;
                            if (height > 128 || width > 128) {
                                alert("Height and Width must not exceed 128px.");
                                $("#inputFile").val("");
                                return false;
                            }
                            $('#image_upload_preview').attr('src', e.target.result);
                            $("#submitBtn").show();
                            return true;
                        };
                    }
                } else {
                    alert("This browser does not support HTML5.");
                    return false;
                }
            } else {
                alert("Please select a valid Image file.");
                return false;
            }
        }

        //     var reader = new FileReader();
        //
        //     reader.onload = function (e) {
        //         $('#image_upload_preview').attr('src', e.target.result);
        //     };
        //
        //     reader.readAsDataURL(input.files[0]);
        // }
    }

    $("#inputFile").change(function () {
        readURL(this);
    });
</script>
