<div class="row">
    <div class="col-md-2">
        <img class="img-square" style="border: 5px solid #fff; box-shadow: 0 2px 3px rgba(0,0,0,0.25);"
             src=""
             img-id="vm.user.userId"
             data-profile-picture="">
    </div>
    <div class="col-md-9">
        <table class="table table-condensed table-bordered">
            <tbody>
            <tr>
                <td>Name</td>
                <td>{{vm.user.userName}}</td>

            </tr>
            <tr>
                <td>Id</td>
                <td>{{vm.user.userId}}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{vm.user.category}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{vm.user.emailAddress}}</td>
            </tr>
            <tr>
                <td>Contact No</td>
                <td>{{vm.user.mobileNo}}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{vm.user.gender}}</td>
            </tr>

            <tr>
                <td>Blood Group</td>
                <td>{{vm.user.bloodGroup}}</td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td>{{vm.user.dateOfBirth}}</td>
            </tr>
            <tr>
                <td>Department</td>
                <td>{{vm.user.department}}</td>
            </tr>
            <tr>
                <td>Designation</td>
                <td>{{vm.user.designation}}</td>
            </tr>
            <tr>
                <td>Father Name</td>
                <td>{{vm.user.fatherName}}</td>
            </tr>
            <tr>
                <td>Mother Name</td>
                <td>{{vm.user.motherName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <p style="font-weight: bold;font-size: 16px;margin-top:10px;">Checked-out Items</p>
        <div data-ng-show="!vm.showCheckedOutItems">
            <button type="button" data-ng-click="vm.getCirculations()">Show Circulation history</button>
        </div>
        <div data-ng-show="vm.showCheckedOutItems">
            <button type="button" data-ng-click="vm.showCheckedOutItems=false">Hide Circulation history</button>
        </div>
    </div>
    <div class="col-md-12">
        <br/>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div data-ng-show="vm.showCheckedOutItems">
            <table class="table table-bordered">
                <thead style="background-color: whitesmoke">
                <tr>
                    <th>Due Date</th>
                    <th>Title</th>
                    <th>Material Type</th>
                    <th>Barcode</th>
                    <th>Return Date</th>
                    <!-- <th>Fines</th>-->
                </tr>
                </thead>
                <tbody data-ng-repeat="item in vm.allCirculation">
                <tr>
                    <td>{{item.dueDate}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.materialType}}</td>
                    <td>{{item.mfn}}</td>
                    <td>{{item.returnDate}}</td>
                    <!-- <td>{{item.fineStatusString}}</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>