<fieldset>
    <legend>Library use</legend>
    <div class="col-md-2"><b>Name:</b></div> <div class="col-md-10">{{vm.user.userName}}</div>
    <div class="col-md-2"><b>Id:</b></div> <div class="col-md-10">{{vm.user.userId}}</div>
    <div class="col-md-2"><b>Category:</b></div> <div class="col-md-10">{{vm.user.category}}</div>
    <div class="col-md-2"><b>Address:</b></div> <div class="col-md-10">{{vm.user.emailAddress}}</div>
    <div class="col-md-2"><b>Contact No:</b></div><div class="col-md-10">{{vm.user.mobileNo}}</div>
</fieldset>

<br />

<fieldset>
    <legend>General</legend>
    <div class="col-md-2"><b>Gender:</b></div> <div class="col-md-10">{{vm.user.gender}}</div>
    <div class="col-md-2"><b>Blood Group:</b></div> <div class="col-md-10">{{vm.user.bloodGroup}}</div>
    <div class="col-md-2"><b>Date of Birth:</b></div> <div class="col-md-10">{{vm.user.dateOfBirth}}</div>
    <div class="col-md-2"><b>Department:</b></div> <div class="col-md-10">{{vm.user.department}}</div>
    <div class="col-md-2"><b>Designation:</b></div><div class="col-md-10">{{vm.user.designation}}</div>
    <div class="col-md-2"><b>Father Name:</b></div> <div class="col-md-10">{{vm.user.fatherName}}</div>
    <div class="col-md-2"><b>Mother Name:</b></div><div class="col-md-10">{{vm.user.motherName}}</div>
</fieldset>