<div>
    <div class="row">
        <div class="col-md-4 form-group">
            <input type="text"
                   class="form-control required"
                   style="width: 70%";
                   placeholder="Search By Employee Name"
                   data-ng-model="vm.empName"
            />
        </div>

        <div class="col-md-4 form-group">
            <input type="text"
                   class="form-control required"
                   style="width: 70%";
                   placeholder="Search By Room No"
                   data-ng-model="vm.roomNo"
            />
        </div>
    </div>
    <table class="table table-hover table-bordered table-advanced">
        <thead>
        <tr role="row" class="heading">
            <th width="1%">#</th>
            <th width="22%">Name of Invigilators</th>
            <th width="5%">Dept</th>
            <th width="40%">Invigilator Date</th>
            <th width="24%">Reserve Date</th>
            <th width="5%">Room</th>
            <th width="3%" data-ng-if="vm.hideInsertMode">
             Update/Delete
            </th>
        </tr>
        </thead>
        <thead>
        <tr data-ng-repeat="app in vm.empExamAttendantInfo | orderBy:['employeeType','deptId',] | filter:{employeeFullName:vm.empName,invigilatorRoomName:vm.roomNo}">
            <td>{{$index+1}}</td>
            <td>{{app.employeeFullName+''+app.roomInChargeStatus+''}}</td>
            <td>{{app.departmentShortName}}</td>
            <td>{{app.invigilatorDate==" " ? "Attendant":app.invigilatorDate}}</td>
            <td>{{app.reserveDate}}</td>
            <td>{{app.invigilatorRoomName}}</td>
            <td data-ng-if="vm.hideInsertMode">
                <button type="button"
                        data-toggle="modal"
                        data-target="#myModalViewInfo"
                        data-ng-click="vm.updateInfo(app)"
                        class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button"
                        data-toggle="modal"
                        data-target="#myModalDeleteViewInfo"
                        data-ng-click="vm.deleteInfo(app)"
                        class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="myModalViewInfo" role="dialog"  >
    <!--   <div class="modal-backdrop"> -->
    <div class="modal-dialog  modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button"  class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Employee Exam Attendant Info</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table table-hover table-bordered table-advanced">
                        <thead>
                        <tr>
                            <td width="20%">Name of Invigilators</td>
                            <td>{{vm.empExamAttendantInfoForUpdate.employeeFullName}}</td>
                        </tr>
                        <tr>
                            <td width="5%">Dept</td>
                            <td>{{vm.empExamAttendantInfoForUpdate.departmentShortName}}</td>
                        </tr>
                        <tr>
                            <td width="35%">Invigilator Date</td>
                            <td>
                                <input align="center"
                                       style="width:100%;text-align: center;"
                                       data-ng-disabled="vm.isDeleteAvailable"
                                       type="text"
                                       data-date-format="dd-mm-yyyy" placeholder="Invigilator Date"
                                       class="datepicker-default form-control"
                                       data-ng-model="vm.upEmpExamInvDate"
                                       data-ng-change="vm.dateChanged(vm.upEmpExamInvDate)"></td>
                        </tr>
                        <tr >
                            <td width="20%">Reserve Date</td>
                            <td>
                                <input align="center"
                                        style="width:100%;text-align: center;"
                                        type="text"
                                       data-ng-disabled="vm.isDeleteAvailable"
                                        data-date-format="dd-mm-yyyy" placeholder="Reserve Date"
                                        class="datepicker-default form-control"
                                       data-ng-init="vm.upEmpExamReserveDate"
                                        data-ng-model="vm.upEmpExamReserveDate"
                                        data-ng-change="vm.dateChanged(vm.upEmpExamReserveDate)"></td></td>
                        </tr>
                        <tr>
                            <td width="5%">Room</td>
                            <td>{{vm.empExamAttendantInfoForUpdate.invigilatorRoomName}}</td>
                        </tr>
                        </thead>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-default" data-ng-click="vm.close()"  data-dismiss="modal">Close</button>
                <button type="button"  class="btn btn-info"  data-ng-click="vm.update()" data-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalDeleteViewInfo" role="dialog"  >
    <!--   <div class="modal-backdrop"> -->
    <div class="modal-dialog  modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button"  class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Employee Exam Attendant Info</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table table-hover table-bordered table-advanced">
                        <thead>
                        <tr>
                            <td width="20%">Name of Invigilators</td>
                            <td>{{vm.empExamAttendantInfoForDelete.employeeFullName}}</td>
                        </tr>
                        <tr>
                            <td width="5%">Dept</td>
                            <td>{{vm.empExamAttendantInfoForDelete.departmentShortName}}</td>
                        </tr>
                        <tr>
                            <td width="35%">Invigilator Date</td>
                            <td>
                                <input align="center"
                                       style="width:100%;text-align: center;"
                                       data-ng-disabled="vm.isDeleteAvailable"
                                       type="text"
                                       data-date-format="dd-mm-yyyy" placeholder="Invigilator Date"
                                       class="datepicker-default form-control"
                                       data-ng-model="vm.upEmpExamInvDate"
                                       data-ng-change="vm.dateChanged(vm.upEmpExamInvDate)"></td>
                        </tr>
                        <tr >
                            <td width="20%">Reserve Date</td>
                            <td>
                                <input align="center"
                                       style="width:100%;text-align: center;"
                                       type="text"
                                       data-ng-disabled="vm.isDeleteAvailable"
                                       data-date-format="dd-mm-yyyy" placeholder="Reserve Date"
                                       class="datepicker-default form-control"
                                       data-ng-init="vm.upEmpExamReserveDate"
                                       data-ng-model="vm.upEmpExamReserveDate"
                                       data-ng-change="vm.dateChanged(vm.upEmpExamReserveDate)"></td></td>
                        </tr>
                        <tr>
                            <td width="5%">Room</td>
                            <td>{{vm.empExamAttendantInfoForDelete.invigilatorRoomName}}</td>
                        </tr>
                        </thead>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-default" data-ng-click="vm.close()"  data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success"  data-ng-click="vm.delete()"  data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>