<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 form-group">
                <select
                        class="form-control required"
                        style="width: 70%";
                        data-ng-options="employee.employeeName for employee in vm.employees track by employee.id"
                        data-ng-model="vm.employee"
                        data-ng-change="vm.employeeChanged(vm.employee)"
                ><option value="">Select Employee</option></select>
            </div>
            <div class="col-md-4 form-group">
                <select
                        class="form-control required"
                        name="leaveType"
                        style="width: 70%";
                        data-ng-options="classRoom.roomNo for classRoom in vm.classRooms track by classRoom.id"
                        data-ng-model="vm.classRoom"
                        data-ng-change="vm.classRoomChanged(vm.classRoom)"
                ><option value="">Select Room No</option></select>
            </div>
            <div class="col-md-4 form-group">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label>Room In Charge</label>
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="checkbox" ng-model="vm.roomInCharge">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 form-group">
                <input type="text"
                       class="form-control required"
                       style="width: 70%";
                       placeholder="Invigilation Date"
                       data-ng-model="vm.invigilationDate"
                />
            </div>

            <div class="col-md-4 form-group">
                <input type="text"
                       class="form-control required"
                       style="width: 70%";
                       placeholder="Reserve Date"
                       data-ng-model="vm.reserveDate"
                />
            </div>
        </div>
    </div>
</div>


    <div  align="right">
        <button type="button"
                class="btn btn-success"
                data-toggle="modal"
                data-ng-click="vm.isEligibleForSubmitData()"
                data-target="#myModal">submit</button>
    </div>
<div>
    <div class="modal fade" id="myModal" role="dialog">
        <!--   <div class="modal-backdrop"> --->
        <div class="modal-dialog  modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" >
                    <button type="button"  data-ng-click="vm.reset()" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cofirmation of  Information</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td width="30%"><b>{{'Employee Name'}}</b></td>
                                <td>{{vm.selectedEmployeeName}}</td>
                            </tr>
                            <tr>
                                <td width="30%"><b>{{'Faculty/Satff'}}</b></td>
                                <td>{{vm.selectedEmployeeType}}</td>
                            </tr>
                            <tr>
                                <td width="30%"><b>{{'Dept'}}</b></td>
                                <td>{{vm.selectedDeptName}}</td>
                            </tr>
                            <tr>
                                <td width="30%"><b>{{'Exam Type'}}</b></td>
                                <td>{{vm.selectedExamTypeName}}</td>
                            </tr>
                            <tr>
                                <td width="30%"><b>{{'Invigilation Date'}}</b></td>
                                <td>{{vm.selectedAbsPreStatusName}}</td>
                            </tr>
                            <tr>
                                <td width="30%"><b>{{'Reserve Date'}}</b></td>
                                <td >{{vm.remarks}}</td>
                            </tr>
                            <tr>
                                <td width="30%"><b>{{'Invigilation Room'}}</b></td>
                                <td >{{vm.selectedClassRoomNo}}</td>
                            </tr>
                            <tr>
                                <td width="30%"><b>{{'Exam Date'}}</b></td>
                                <td >{{vm.selectedExamDate}}</td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info"  data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" data-ng-click="vm.save()" data-dismiss="modal">Confirm</button>

                </div>
            </div>
        </div>
    </div>

</div>
