<div class="row" >
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>
    <div class="panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal">
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>
                        <div class="col-md-8">
                            <select
                                    class="form-control required"
                                    name="semester"
                                    id="semester"
                                    data-ng-options="semester.name for semester in vm.semesters track by semester.id"
                                    data-ng-model="vm.semester"
                                    data-ng-change="vm.semesterChanged(vm.semester)"
                            >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="col-md-4 control-label">Exam Type</label>
                    <div class="col-md-8">
                        <select
                                class="form-control required"
                                name="meritType"
                                id="meritType"
                                data-ng-options="examType.name for examType in vm.examTypeList track by examType.id"
                                data-ng-model="vm.examType"
                                data-ng-change="vm.changeExamType(vm.examType)"
                        >
                        </select>
                    </div>
                </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Employee Type</label>
                        <div class="col-md-8">
                            <select
                                    class="form-control required"
                                    name="meritType"
                                    data-ng-options="employeeType.name for employeeType in vm.employeeTypeList track by employeeType.id"
                                    data-ng-model="vm.employeeType"
                                    data-ng-change="vm.changeEmployeeType(vm.employeeType)"
                            >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Dept</label>
                        <div class="col-md-8">
                            <select
                                    class="form-control required"
                                    data-ng-options="dept.name for dept in vm.deptList"
                                    data-ng-model="vm.deptName"
                                    data-ng-change="vm.deptChanged(vm.deptName)"
                            ><option value="">Select All Dept./Office</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Exam Date</label>
                        <div class="col-md-8">
                            <select class="form-control" name="examDate"  data-ng-model="vm.examDate" data-ng-change="vm.ExamDateChange(vm.examDate)">
                                <option value="">Select an Exam Date</option>
                                <option data-ng-repeat="examRoutine in vm.examRoutineArr">{{examRoutine.examDate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" data-ng-click="vm.search()" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div id="rightDiv">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-7">
                        <div style="font-size: 13px;font-family: 'Times New Roman'">
                            Semester:&nbsp<b>{{vm.semesterName}}</b>&nbsp
                            Exam Type:&nbsp<b>{{vm.selectedExamTypeName}}</b>&nbsp
                            EmployeeType:&nbsp<b>{{vm.employeeTypeName}}</b>&nbsp
                            Dept:&nbsp<b>{{vm.departmentName}}</b>&nbsp
                            Exam Date:&nbsp<b>{{vm.selectedExamDate}}</b>&nbsp
                        </div>
                    </div>
                    <div class="col-md-5" data-ng-if="vm.isRightDivAvailable">
                        <div align="right" style="font-size: 12px;font-family: 'Times New Roman'">
                            <button type="button" class="btn btn-default btn-xs" data-ng-click="vm.getClassRoomReport()">
                                <span class="glyphicon glyphicon-download"></span> Memorandum
                            </button>
                            <button type="button" class="btn btn-dark btn-xs" data-ng-click="vm.getReserveEmployeeReport()">
                                <span class="glyphicon glyphicon-download"></span> Reserve
                            </button>
                            <button type="button" class="btn btn-info btn-xs" data-ng-click="vm.getAttendantReport()">
                                <span class="glyphicon glyphicon-download"></span> Attendant
                            </button>
                            <button type="button" class="btn btn-success btn-xs" data-ng-click="vm.getEmployeeReport()">
                                <span class="glyphicon glyphicon-download"></span> Employee
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div data-ng-if="vm.isRightDivAvailable">
                    <div align="right" data-ng-hide="vm.isInsertAvailable" data-ng-if="vm.hideInsertMode">
                        <button type="button" class="btn btn-success btn-xs" data-ng-click="vm.enableInsert()">
                            <span class="glyphicon glyphicon-plus"></span> Insert
                        </button>
                    </div>
                    <div align="right" data-ng-show="vm.isInsertAvailable">
                        <button type="button" class="btn btn-success btn-xs" data-ng-click="vm.hideInsert()">
                            <span class="glyphicon glyphicon-plus"></span> Hide Insert
                        </button>
                    </div>

                <div data-ng-show="vm.isInsertAvailable">
                    <div
                            data-ng-include="'views/employee-exam-attendance/emp-insert.html'">
                    </div>
                    <hr>
                </div>
                <!--  End of Insert -->
                <div >
                    <div
                            data-ng-include="'views/employee-exam-attendance/emp-view.html'">
                    </div>
                </div>
                <!--  End of view -->
            </div>
            </div>

        </div>
    </div>
</div>
</div>