<style>
    #thead{
        font-weight: bolder;
    }
</style>

<div class="row" data-ng-init="getSemesters()">
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>
    <div class="panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal" data-validate=""  data-onvalidate="fetchDeadlineInformation" >
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>
                        <div class="col-md-8">
                            <select class="form-control required" name="semester" data-ng-model="semesterId" data-ng-change="getExamDates()" data-convert-to-number>
                                <option value="">Select a Semester</option>
                                <option data-ng-repeat="semesters in semesterList" value="{{semesters.id}}">{{semesters.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Exam Type</label>
                        <div class="col-md-8">
                            <select class="form-control required" name="examType" data-ng-model="examType" data-ng-change="getExamDates()"  data-convert-to-number>
                                <option value="1">Semester Final</option>
                                <option value="2">Carry/Clearance/Improvement</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Exam Date</label>
                        <div class="col-md-8">
                            <select class="form-control required" name="examDate" data-ng-model="examDate">
                                <option value="">Select an Exam Date</option>
                                <option data-ng-repeat="examRoutine in examRoutineArr">{{examRoutine.examDate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success">Search</button>
                </div>
            </form>
         </div>
     </div>
    <div id="rightDiv">
        <div class="panel">
            <div class="panel-heading">Grade Submission Deadline Information<span
                    class="subtitle"></span></div>
            <div class="panel-body shadowPanel"   style="min-height: 490px;">
                <div class="row" data-ng-if="showTable==true" style="padding-left: 2%; padding-right: 2%;">
                <table class="table table-bordered table-striped" >

                    <thead id="thead">
                    <td align="center">Exam Date</td>
                    <td align="center">Program</td>
                    <td align="center">Course No</td>
                    <td align="left">Course Title</td>
                    <td align="center">CrHr</td>
                    <td align="center">Total Students</td>
                    <td align="center">Last Date of Submission</td>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="e in examGradeStatisticsArr" align="center">
                        <td>{{e.examDate}}</td>
                        <td>{{e.programShortName}}</td>
                        <td>{{e.courseNo}}</td>
                        <td align="left">{{e.courseTitle}}</td>
                        <td>{{e.courseCreditHour}}</td>
                        <td class="col-md-1">{{e.totalStudents}}</td>
                        <td align="center" ><input align="center" contenteditable="editable" style="width:40%;" type="text" data-date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy" class="datepicker-default form-control" data-ng-model="e.lastSubmissionDate" data-ng-change="dateChanged(e)"> </td>
                    </tr>
                    </tbody>

                </table>
                <br/>
                <div align="right" style="padding-right: 3%;" data-ng-if="showButton">
                    <button class="btn btn-primary" data-ng-click="saveChanges()">Save Changes</button> <button class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
                </div>
                    </div>
            </div>
</div>