
<div class="page-header pull-left">
  <div class="page-title">{{data.title}}</div>
</div>
<ol class="breadcrumb page-breadcrumb pull-right">
  <li data-ng-if="data.navId != null">
    <span style="font-size: 12px;">
      <a data-ng-click="downloadUserGuide(data.navId,data.manualName,'html')"  style="cursor: pointer;display: none;" data-toggle="modal" data-target="#modal-full-width" >
        <img height="22" width="22" src="images/manual_html.png" />&nbsp;
      </a>
      <a data-ng-click="downloadUserGuide(data.navId,data.manualName,'pdf')" style="cursor: pointer" title="User Guide">
        <img height="22" width="22" src="images/manual_pdf.png" />&nbsp;
      </a>
  </span>
  </li>
  <!--
  <li data-ng-if="data.navId == null"><i class="fa fa-home"></i>&nbsp;<a href="/#/">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i></li>
  <li data-ng-if="data.navId == null" ng-repeat="(k,v) in data.breadcrumb" ng-class="{active:$last}">
    &nbsp;&nbsp;
    {{v}}
    &nbsp;&nbsp;<i ng-if="!$last" class="fa fa-angle-right"></i>
  </li>
  -->
</ol>
<div class="clearfix"></div>