<div class="panel">
    <div class="panel-heading">Branches</div>
    <div class="panel-body">
        <table class="table table-hover table-bordered table-advanced table-striped" style="margin-top: 10px;">
            <thead>
            <tr>
                <th width="50%">Branch code</th>
                <th width="50%">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{::vm.branch.code}}
                </td>
                <td>
                    {{::vm.branch.name}}
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-hover table-bordered table-advanced table-striped" style="margin-top: 10px;">
            <thead>
            <tr>
                <th width="10%">User Id</th>
                <th width="25%">Name</th>
                <th width="25%">Email</th>
                <th width="10%"></th>
                <th width="10%"></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in vm.users">
                <td>
                    {{::user.userId}}
                </td>
                <td>
                    {{::user.name}}
                </td>
                <td>
                    {{::user.email}}
                </td>
                <td>
                    <button class="btn btn-xs btn-success filter-submit" data-ng-click="vm.editUser(user)">
                        <i class="fa fa-plus-square-o"></i>
                        Edit
                    </button>
                </td>
                <td>
                    <button class="btn btn-xs btn-success filter-submit" data-ng-click="vm.deleteUser(user)">
                        <i class="fa fa-plus-square-o"></i>
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6">
                <a href="javascript:void(0);" data-ng-click="vm.editUser()" class="btn btn-grey"><i
                        class="fa fa-plus-square"></i></a>
            </div>
        </div>
    </div>
</div>

