<style>
    .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
        vertical-align: middle;
        text-align: center;
    }
    .btn-round{
        border-radius: 15px !important;
    }
    .select2-container .select2-choice{
        height: 26px !important;
        line-height: 26px !important;
    }
    .select2-container .select2-choice .select2-arrow{
        margin-top: -2px !important;
    }

    table#routineTable>tbody>tr>td {
        border: 1px solid #736F6E;
    }
    table#programTable>tbody>tr>td {
        border: 1px solid #736F6E;
    }
    #divOverlay { display: none; background-color:Silver; text-align:center;  position:absolute; z-index:10000; opacity:0.5; }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body shadowPanel" style="min-height: 600px;">

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" style="font-weight: bold;">Semester</label>
                            <select class="form-control" data-ng-model="routine.semester" data-ng-change="fetchSavedRoutine()" data-convert-to-number>
                                <option data-ng-repeat="semester in data.semesters" value="{{semester.id}}">{{semester.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label" style="font-weight: bold;">Exam Type</label>
                            <select class="form-control" data-ng-model="routine.examType" data-ng-change="fetchSavedRoutine()" data-convert-to-number>
                                <option value="0" ng-selected="true">Select Exam Type</option>
                                <option value="1">Semester Final</option>
                                <option value="2">Carry/Clearance/Improvement</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <span data-ng-show="data.editable">
                            <div class="form-group">
                                <label class="control-label" style="font-weight: bold;">Operations</label>
                                <div class="form-control"  style="border: none;padding: 0px;">
                                    <button type="button"   class="btn btn-success" data-ng-click="addNewDateTime()"   data-ng-disabled="routine.addButtonDisable"> Add New Date</button>
                                    <button type="button" class="btn btn-grey btn-square" data-ng-click="saveAll()" data-ng-disabled="routine.saveButtonDisable">Save All</button>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>



                <table id="routineTable" class="table table-hover table-bordered table-advanced" style="margin-top: 20px;border-collapse: collapse;" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr role="row" class="heading">
                        <th width="17%" class="sorting">Date-Time-Group</th>
                        <th width="17%" class="sorting_asc">Program</th>
                        <th width="6%" class="sorting">Year</th>
                        <th width="6%" class="sorting">Semester</th>
                        <th width="13%" class="sorting">Course No.</th>
                        <th width="33%" class="sorting">Course Title</th>
                        <th width="6%" class="sorting">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="date_time in routine.date_times "  id="row{{date_time.index}}">
                        <td align="center" style="border-right: none;">


                            <div  data-ng-hide="date_time.readOnly" style="width: 190px;">
                                <div class="input-icon right" >
                                    <i class="fa fa-calendar"></i>
                                    <input  id="date_{{::date_time.index}}" type="text"  data-ng-model="date_time.examDate" data-date-format="dd/mm/yyyy"
                                            placeholder="DD/MM/YYYY" class="datepicker-default form-control required" autocomplete="off" /><br/>
                                </div>
                                    <select data-ng-model="date_time.examTime" style="width: 135px;float: left">
                                        <option data-ng-repeat="examTime in data.examTimeOptions" value="{{::examTime.id}}">{{::examTime.name}}</option>
                                    </select>
                                    <select data-ng-model="date_time.examGroup" style="width: 50px;float: left; margin-left: 2px;" data-convert-to-number>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                            </div>
                    .<div data-ng-show="date_time.readOnly" style="clear: both;">
                            <div class="input-icon right" >
                                {{date_time.examDate}}
                            </div>
                            <div class="input-icon right" >
                                {{date_time.examTime}}
                            </div>
                            <div class="input-icon right" >
                                Group : {{date_time.examGroup}}
                            </div>
                        </div>
            <br/>

                            <span data-ng-show="data.editable">
                            <div data-ng-show="date_time.readOnly">
                                <a href="javascript:;" class="btn btn-xs btn-default btn-round disabled"
                                   style="border-radius: 15px;" >
                                    <i class="fa fa-plus-circle" style="color: darkslategrey;"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-xs btn-default btn-round disabled"
                                   style="border-radius: 15px;">
                                    <i class="fa fa-floppy-o" style="color: darkslategrey;"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                   data-ng-click="editDateTime(date_time)">
                                    <i class="fa fa-edit" style="color: blue;"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-xs btn-default btn-round disabled"
                                   style="border-radius: 15px;" >
                                    <i class="fa fa-times" style="color: darkslategrey;"></i>
                                </a>
                            </div>

                            <div data-ng-hide="date_time.readOnly">
                                <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                   data-ng-click="addNewProgram(date_time.index)" style="border-radius: 15px;" >
                                    <i class="fa fa-plus-circle" style="color: blue;"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                   data-ng-click="saveByDateTime(date_time)"  style="border-radius: 15px;">
                                    <i class="fa fa-floppy-o" style="color: blue;"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                   data-ng-click="date_time.readOnly=true;">
                                    <i class="fa fa-arrow-circle-left" style="color: blue;"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                   style="border-radius: 15px;" data-ng-click="removeDateTime(date_time.index)">
                                    <i class="fa fa-times" style="color: red;"></i>
                                </a>
                            </div>
                            </span>

                        <td colspan="6" style="padding: 0px;border: none;">
                            <table width="100%" id="programTable">
                                <tr ng-repeat="program in date_time.programs" >
                                    <td width="19%" align="center" style="vertical-align: top;padding-top: 20px;padding-bottom: 20px; border-bottom: none;">


                                        <select id="program_{{date_time.index}}{{program.index}}" data-ng-hide="date_time.readOnly" class="form-control"  style="width: 80%" data-ng-model="program.programId"
                                                ng-change="programSelectionChanged(program,date_time)">
                                            <option data-ng-repeat="ugProgram in data.ugPrograms" value="{{ugProgram.programs[0].id}}">{{ugProgram.programs[0].shortName}}</option>
                                        </select>
                                        <div  data-ng-show="date_time.readOnly">
                                            {{program.programName}}
                                        </div>
                                        <br/>

                                        <span data-ng-show="data.editable">
                                                <div data-ng-show="date_time.readOnly">
                                                    <a href="javascript:;" class="btn btn-xs btn-default btn-round disabled"
                                                       style="border-radius: 15px;" data-ng-show="date_time.readOnly">
                                                        <i class="fa fa-plus-circle" style="color: darkslategrey;"></i>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-xs btn-default btn-round disabled"
                                                       style="border-radius: 15px;"  data-ng-show="date_time.readOnly">
                                                        <i class="fa fa-floppy-o" style="color: darkslategrey;"></i>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-xs btn-default btn-round disabled"
                                                       style="border-radius: 15px;" data-ng-show="date_time.readOnly">
                                                        <i class="fa fa-times" style="color: darkslategrey;"></i>
                                                    </a>
                                                </div>
                                                <div data-ng-hide="date_time.readOnly">
                                                    <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                                       style="border-radius: 15px;" data-ng-click="addNewCourse(date_time,program)" data-ng-hide="date_time.readOnly">
                                                        <i class="fa fa-plus-circle" style="color: blue;"></i>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                                       style="border-radius: 15px;" data-ng-click="saveByProgram(date_time,program)" data-ng-hide="date_time.readOnly">
                                                        <i class="fa fa-floppy-o" style="color: blue;"></i>
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                                       style="border-radius: 15px;" data-ng-click="removeProgram(date_time.index,program.index)" data-ng-hide="date_time.readOnly">
                                                        <i class="fa fa-times" style="color: red;"></i>
                                                    </a>
                                                </div>
                                        </span>
                                    </td>
                                    <td width="73%" style="vertical-align: top;" >
                                        <div><!--style="min-height: 160px;"-->
                                        <table width="100%">
                                            <tr ng-repeat="course in program.courses">
                                                <td width="11%" align="center" style="padding-top: 5px;padding-bottom: 5px;height: 45px;" height="45px">
                                                    <input id="year_{{::date_time.index}}{{::program.index}}{{::course.index}}" type="text" class="form-control" style="width: 80%;height: 25px;text-align: center;padding: 0px;" data-ng-model="course.year"  data-ng-hide="date_time.readOnly"/>
                                                    <div  data-ng-show="date_time.readOnly">
                                                        {{course.year}}
                                                    </div>

                                                </td>
                                                <td width="11%" align="center" style="padding-top: 5px;padding-bottom: 5px;">
                                                    <input id="semester_{{::date_time.index}}{{::program.index}}{{::course.index}}" type="text" class="form-control" style="width: 80%;height: 25px;text-align: center;padding: 0px;" data-ng-model="course.semester"  data-ng-hide="date_time.readOnly"//>
                                                    <div  data-ng-show="date_time.readOnly">
                                                        {{course.semester}}
                                                    </div>
                                                </td>

                                                <td width="18%" align="center" style="padding-top: 5px;padding-bottom: 5px;">
                                                    <select id="course_{{date_time.index}}{{program.index}}{{course.index}}" data-ng-hide="date_time.readOnly" class="select2-size form-control" style="width: 90%;height: 25px;text-align: center;padding: 0px;"
                                                            ng-model="exam_course.id" data-ng-change="courseSelectionChanged(program,course,exam_course.id)">
                                                        <option data-ng-repeat="exam_course in program.courseArr" value="{{exam_course.id}}">{{exam_course.no}}</option>
                                                    </select>

                                                    <div  data-ng-show="date_time.readOnly">
                                                        {{course.no}}
                                                    </div>
                                                </td>
                                                <td width="53%" align="left" style="padding-left:10px;padding-top: 5px;padding-bottom: 5px;">{{course.title}}</td>
                                                <td width="12%" align="center" style="padding-top: 5px;padding-bottom: 5px;">
                                                    <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                                       style="border-radius: 15px;" data-ng-click="removeCourse(date_time.index,program.index,course.index)" data-ng-hide="date_time.readOnly">
                                                        <i class="fa fa-times" style="color: red;"></i>
                                                    </a>

                                                    <a href="javascript:;" class="btn btn-xs btn-default btn-round disabled"
                                                       style="border-radius: 15px;" data-ng-show="date_time.readOnly">
                                                        <i class="fa fa-times" style="color: darkslategrey;"></i>
                                                    </a>



                                                </td>
                                            </tr>
                                        </table>
                                        </div>

                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="spinner" ng-show="loadingVisibility">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div id="divOverlay" style=""><div data-spinner=""></div></div>
            </div>
        </div>
    </div>

</div>


