<div class="row mbl"  ng-show="data.loadingVisibility">
    <div class="col-md-12">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body shadowPanel">
        <div class="row mbl" data-ng-show="data.listVisibility">
            <div class="col-md-12">
                <div class="table-container" >
                    <div class="row mbl">
                        <div class="col-lg-6">
                            <!--
                            <div class="input-group input-group-sm mbs"><span class="input-group-btn">
                      <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">
                          Filter
                          &nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                          <li><a href="javascript:void(0);"><i class="fa fa-tint"></i>&nbsp;
                              Newest</a></li>
                          <li><a href="javascript:void(0);"><i class="fa fa-star"></i>&nbsp;
                              Rating</a></li>
                          <li><a href="javascript:void(0);"><i class="fa fa-money"></i>&nbsp;
                              Price</a></li>
                          <li><a href="javascript:void(0);"><i class="fa fa-user"></i>&nbsp;
                              Sales</a></li>
                      </ul></span>
                                <input type="text" placeholder="Enter here..." class="form-control"/><span class="input-group-btn">
                      <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle">Search
                      </button></span>
                            </div>
                            -->
                        </div>
                        <div class="col-lg-6">
                            <div class="actions" style="text-align: right;"><a href="#/createSyllabus" class="btn btn-info btn-sm"><i
                                    class="fa fa-plus"></i>&nbsp;
                                New Syllabus</a>&nbsp;
                                <div class="btn-group" style="display: none;">
                                    <a href="javascript:void(0);" data-toggle="dropdown"
                                                          class="btn btn-warning btn-sm dropdown-toggle"><i class="fa fa-wrench"></i>&nbsp;
                                    Tools</a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#">Export to Excel</a></li>
                                        <li><a href="#">Export to CSV</a></li>
                                        <li><a href="#">Export to XML</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Print Invoices</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">

                        <table class="table table-hover table-striped table-bordered table-advanced tablesorter" >
                            <thead>
                            <tr>
                                <th width="5%">Serial</th>
                                <th width="15%">Dept./School</th>
                                <th width="35%">Program Name</th>
                                <th width="15%">Semester</th>
                                <th width="20%">Actions</th>
                            </tr>
                            <tbody>
                            <tr data-ng-repeat="syllabus in syllabuses track by $index">
                                <td>{{$index+1}}</td>
                                <td>{{syllabus.department_name}}</td>
                                <td>{{syllabus.program_name}}</td>
                                <td>{{syllabus.semester_name}}</td>
                                <td>
                                    <!--
                                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i>&nbsp;
                                        Delete
                                    </button>
                                    -->
                                    <a href="#/viewFullSyllabus/{{syllabus.id}}" class="btn btn-default btn-xs"><i class="fa fa-book"></i>&nbsp;
                                        Show Courses</a>
                                    </button>

                                </td>
                            </tr>


                            </tbody>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="row" style="display: none;">
                    <div class="col-lg-6">
                        <div class="pagination-panel">
                            Page
                            &nbsp;<a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev"><i class="fa fa-angle-left"></i></a>&nbsp;
                            <input type="text" maxlenght="5" value="1"
                                   class="pagination-panel-input form-control input-mini input-inline input-sm text-center"/>&nbsp;<a
                                href="javascript:void(0);" class="btn btn-sm btn-default btn-prev"><i class="fa fa-angle-right"></i></a>&nbsp;
                            of 6 | View
                            &nbsp;
                            <select class="form-control input-xsmall input-sm input-inline">
                                <option value="20" selected="selected">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="-1">All</option>
                            </select>&nbsp;
                            records | Found total 58 records
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <div class="pagination-panel">
                            <ul class="pagination pagination-sm man">
                                <li><a href="javascript:void(0);">&laquo;</a></li>
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                                <li><a href="javascript:void(0);">5</a></li>
                                <li><a href="javascript:void(0);">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>