<div class="row">
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i>
    </div>
    <div class="panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select</h3>
        </div>
        <div class="panel-body pan">
            <form class="form-horizontal">
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Meeting Type</label>
                        <div class="col-md-8">
                            <select name="nMeetingType"
                                    id="iMeetingType"
                                    data-ng-model="vm.meetingType"
                                    data-ng-options="type.name for type in vm.meetingTypes track by type.id"
                                    data-ng-change="vm.getMeetingNumber()"
                                    class="form-control" required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Meeting No.</label>
                        <div class="col-md-8">
                            <select name="nMeetingNumber"
                                    id="iMeetingNumber"
                                    data-ng-model="vm.meetingNumber"
                                    data-ng-options="meetingNumber for meetingNumber in vm.meetingNumbers track by meetingNumber.id"
                                    class="form-control" required>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success" data-ng-click="vm.getAgendaResolution()">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div id="rightDiv">
        <div class="panel">
            <div class="panel-body shadowPanel" style="min-height:490px;">
                <div class="control-fluid">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>