<style>
    .row{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    legend {
        font-size: medium;
    }
</style>
<div class="panel">
    <div class="panel-body shadowPanel" style="min-height: 490px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <fieldset>
                        <legend>Schedule</legend>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Type</label>
                            </div>
                            <div class="col-md-9">
                                <select data-ng-model="vm.prepareMeetingModel.meetingSchedule.type"
                                        data-ng-options="meetingType.name for meetingType in vm.meetingTypes track by meetingType.id"
                                        data-ng-change="vm.getMembers()"
                                        class="form-control" required>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">No.</label>
                            </div>
                            <div class="col-md-9">
                                <input type="number"
                                       data-ng-model="vm.prepareMeetingModel.meetingSchedule.meetingNo"
                                       class="form-control"
                                       placeholder="Meeting No."/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Ref No.</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text"
                                       data-ng-model="vm.prepareMeetingModel.meetingSchedule.refNo"
                                       class="form-control"
                                       placeholder="Ref No."/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Date</label>
                            </div>
                            <div class="col-md-9">
                                <div class="input-icon right" >
                                    <i class="fa fa-calendar"></i>
                                    <input type="text"
                                           data-ng-model="vm.prepareMeetingModel.meetingSchedule.date"
                                           data-date-format="dd/mm/yyyy"
                                           placeholder="DD/MM/YYYY"
                                           class="datepicker-default form-control"
                                           autocomplete="off"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Time</label>
                            </div>
                            <div class="col-md-9">
                                <input type="time"
                                       data-ng-model="vm.prepareMeetingModel.meetingSchedule.time"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Room</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text"
                                       data-ng-model="vm.prepareMeetingModel.meetingSchedule.room"
                                       class="form-control"
                                       placeholder="Meeting Room"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <fieldset>
                        <legend>Member Invitation</legend>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead class="well">
                                <th>Sl.</th>
                                <th>Member Name</th>
                                <th>Designation</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th><input type="checkbox" data-ng-checked="vm.isChecked()"
                                           data-ng-click="vm.toggleAll()"/></th>
                                </thead>
                                <tbody data-ng-repeat="meetingMember in vm.meetingMembers track by $index">
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>{{meetingMember.name}}</td>
                                    <td>{{meetingMember.designation}}</td>
                                    <td>{{meetingMember.email}}</td>
                                    <td>{{meetingMember.contactNo}}</td>
                                    <td><input type="checkbox" data-ng-checked="vm.exists(meetingMember)"
                                               data-ng-click="vm.toggleSelection(meetingMember)"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <!--<button type="button" data-target="#modal-add-member"-->
                            <!--data-toggle="modal" class="btn btn-default"><i class="fa fa-search"></i>&nbsp;&nbsp;Search Member</button>-->
                </div>
            </div>
            <br /><br /><br />
            <div class="row">
                <div align="right">
                    <button type="button" class="btn btn-default" data-ng-click="vm.sendInvitationWithoutAgenda()">Send Invitation Without Agenda</button>
                    <button type="button" class="btn btn-default" data-ng-click="vm.saveAndPrepareAgenda()">Save & Prepare Agenda</button>
                    <button type="button" class="btn btn-success" data-ng-click="vm.saveScheduleAndMembers()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div id="modal-add-member" tabindex="-1" role="dialog" aria-labelledby="modal-responsive-label"-->
     <!--aria-hidden="true" class="modal fade">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" data-dismiss="modal" aria-hidden="true"-->
                        <!--class="close">&times;</button>-->
                <!--<h4 id="modal-responsive-label" class="modal-title">Add or Search</h4></div>-->
            <!--<div class="modal-body">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-2">-->
                        <!--<label>Search By</label>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<input type="text"-->
                               <!--data-ng-model="searchText"-->
                               <!--class="form-control input-sm">-->
                    <!--</div>-->
                    <!--<div class="col-md-6">-->
                        <!--<div align="right">-->
                            <!--<button type="button" class="btn btn-default btn-sm" data-ng-click="addNewMember()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add New</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" data-dismiss="modal" class="btn btn-default">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
