
<div class="sidebar-collapse menu-scroll">
  <ul id="side-menu" ng-menu="" class="nav admin-nav-main">
    <li class="user-panel">
      <div class="thumb"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" alt="" class="img-circle"/></div>
      <div class="info">
        <p>John Doe</p>
        <ul class="list-inline list-unstyled">
          <li><a ui-sref="extra-profile" data-hover="tooltip" title="Profile"><i class="fa fa-user"></i></a></li>
          <li><a ui-sref="email-inbox" data-hover="tooltip" title="Mail"><i class="fa fa-envelope"></i></a></li>
          <li><a href="javascript:void(0);" data-hover="tooltip" title="Setting" data-toggle="modal" data-target="#modal-config"><i class="fa fa-cog"></i></a></li>
          <li><a ui-sref="extra-signin" data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </li>
    <li><a ui-sref="index"><i class="fa fa-tachometer fa-fw">
          <div class="icon-bg bg-orange"></div></i><span class="menu-title">Dashboard</span></a></li>
    <li><a href="javascript:void(0);"><i class="fa fa-laptop fa-fw">
          <div class="icon-bg bg-pink"></div></i><span class="menu-title">Frontend</span><span class="fa arrow"></span><span class="label label-yellow">v3.0</span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="frontend-one-page"><i class="fa fa-rocket"></i><span class="submenu-title">One Page</span></a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);"><i class="fa fa-desktop fa-fw">
          <div class="icon-bg bg-pink"></div></i><span class="menu-title">Layouts</span><span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="layout-left-sidebar"><i class="fa fa-align-left"></i><span class="submenu-title">Left Sidebar</span></a></li>
        <li><a ui-sref="layout-left-sidebar-collapsed"><i class="fa fa-angle-double-left"></i><span class="submenu-title">Left Sidebar Collapsed</span></a></li>
        <li><a ui-sref="layout-right-sidebar"><i class="fa fa-align-right"></i><span class="submenu-title">Right Sidebar</span></a></li>
        <li><a ui-sref="layout-right-sidebar-collapsed"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Right Sidebar Collapsed</span></a></li>
        <li><a ui-sref="layout-horizontal-menu"><i class="fa fa-header"></i><span class="submenu-title">Horizontal Menu</span></a></li>
        <li><a ui-sref="layout-horizontal-menu-sidebar"><i class="fa fa-h-square"></i><span class="submenu-title">Horizontal Menu & Sidebar</span></a></li>
        <li><a ui-sref="layout-fixed-topbar"><i class="fa fa-magnet"></i><span class="submenu-title">Fixed Topbar</span></a></li>
        <li><a ui-sref="layout-boxed"><i class="fa fa-columns"></i><span class="submenu-title">Boxed Layout</span></a></li>
        <li><a ui-sref="layout-hidden-footer"><i class="fa fa-eye-slash"></i><span class="submenu-title">Hidden Footer</span></a></li>
        <li><a ui-sref="layout-header-topbar"><i class="fa fa-paperclip"></i><span class="submenu-title">Header & Topbar</span></a></li>
        <li><a ui-sref="layout-title-breadcrumb"><i class="fa fa-link"></i><span class="submenu-title">Title & Breadcrumb</span></a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);"><i class="fa fa-send-o fa-fw">
          <div class="icon-bg bg-green"></div></i><span class="menu-title">UI Elements</span><span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="ui-generals"><i class="fa fa-briefcase"></i><span class="submenu-title">Generals</span></a></li>
        <li><a ui-sref="ui-portlets"><i class="fa fa-instagram"></i><span class="submenu-title">Portlets</span></a></li>
        <li><a ui-sref="ui-buttons"><i class="fa fa-hand-o-up"></i><span class="submenu-title">Buttons</span></a></li>
        <li><a ui-sref="ui-tabs"><i class="fa fa-trello"></i><span class="submenu-title">Tabs</span></a></li>
        <li><a ui-sref="ui-progressbars"><i class="fa fa-ellipsis-h"></i><span class="submenu-title">Progress Bars</span></a></li>
        <li><a ui-sref="ui-editors"><i class="fa fa-edit"></i><span class="submenu-title">Editors</span></a></li>
        <li><a ui-sref="ui-typography"><i class="fa fa-font"></i><span class="submenu-title">Typography</span></a></li>
        <li><a ui-sref="ui-modals"><i class="fa fa-list-alt"></i><span class="submenu-title">Modals</span></a></li>
        <li><a ui-sref="ui-sliders"><i class="fa fa-arrows-h"></i><span class="submenu-title">Sliders</span></a></li>
        <li><a ui-sref="ui-nestable-list"><i class="fa fa-list-ol"></i><span class="submenu-title">Nestable List</span></a></li>
        <li><a ui-sref="ui-dropdown-select"><i class="fa fa-level-down"></i><span class="submenu-title">Dropdown Select</span><span class="label label-yellow">v2.1</span></a></li>
        <li><a ui-sref="ui-icons"><i class="fa fa-tint"></i><span class="submenu-title">Icons</span></a></li>
        <li><a ui-sref="ui-notific8-notifications"><i class="fa fa-exclamation-circle"></i><span class="submenu-title">Notific8 & Message</span><span class="label label-blue">v2.1</span></a></li>
        <li><a ui-sref="ui-toastr-notifications"><i class="fa fa-exclamation-triangle"></i><span class="submenu-title">Toastr Notifications</span></a></li>
        <li><a ui-sref="ui-checkbox-radio"><i class="fa fa-dot-circle-o"></i><span class="submenu-title">Checkbox & Radio</span></a></li>
        <li><a ui-sref="ui-treeview"><i class="fa fa-tasks"></i><span class="submenu-title">Tree View</span></a></li>
        <li><a ui-sref="ui-panels"><i class="fa fa-th-large"></i><span class="submenu-title">Panels</span></a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);"><i class="fa fa-edit fa-fw">
          <div class="icon-bg bg-violet"></div></i><span class="menu-title">Forms</span><span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="form-layouts"><i class="fa fa-columns"></i><span class="submenu-title">Form Layouts</span></a></li>
        <li><a ui-sref="form-basic"><i class="fa fa-file-text-o"></i><span class="submenu-title">Form Basics</span></a></li>
        <li><a ui-sref="form-components"><i class="fa fa-cubes"></i><span class="submenu-title">Form Components</span></a></li>
        <li><a ui-sref="form-wizard"><i class="fa fa-magic"></i><span class="submenu-title">Form Wizard</span></a></li>
        <li><a ui-sref="form-validation"><i class="fa fa-exclamation"></i><span class="submenu-title">Form Validation</span></a></li>
        <li><a ui-sref="form-multiple-file-upload"><i class="fa fa-upload"></i><span class="submenu-title">Multiple File Upload</span></a></li>
        <li><a ui-sref="form-dropzone-file-upload"><i class="fa fa-cloud-upload"></i><span class="submenu-title">Dropzone File Upload</span></a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);"><i class="fa fa-th-list fa-fw">
          <div class="icon-bg bg-blue"></div></i><span class="menu-title">Tables</span><span class="fa arrow"></span><span class="label label-pink">New</span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="table-basic"><i class="fa fa-th-large"></i><span class="submenu-title">Basic Tables</span></a></li>
        <li><a ui-sref="table-responsive"><i class="fa fa-tablet"></i><span class="submenu-title">Responsive Tables</span></a></li>
        <li><a ui-sref="table-action"><i class="fa fa-tencent-weibo"></i><span class="submenu-title">Action Tables</span></a></li>
        <li><a ui-sref="table-filter"><i class="fa fa-filter"></i><span class="submenu-title">Filter Tables</span></a></li>
        <li><a ui-sref="table-advanced"><i class="fa fa-indent"></i><span class="submenu-title">Advanced Tables</span></a></li>
        <li><a ui-sref="table-export"><i class="fa fa-paperclip"></i><span class="submenu-title">Table Export</span><span class="label label-yellow">v2.1</span></a></li>
        <li><a ui-sref="table-editable"><i class="fa fa-list-alt"></i><span class="submenu-title">Jeditable</span><span class="label label-blue">v2.0</span></a></li>
        <li><a ui-sref="table-datatables"><i class="fa fa-list-alt"></i><span class="submenu-title">DataTables</span><span class="label label-pink">v2.0</span></a></li>
        <li><a ui-sref="table-sample"><i class="fa fa-table"></i><span class="submenu-title">Sample Tables</span></a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);"><i class="fa fa-database fa-fw">
          <div class="icon-bg bg-red"></div></i><span class="menu-title">Data Grids</span><span class="fa arrow"></span><span class="label label-yellow">Hot</span></a>
      <ul class="nav nav-second-level">
        <li><a href="javascript:void(0);"><i class="fa fa-th-large"></i><span class="submenu-title">Layout Examples</span><span class="fa arrow"></span></a>
          <ul class="nav nav-third-level">
            <li><a ui-sref="grid-layout-div"><i class="fa fa-angle-right"></i><span class="submenu-title">DIVs Layout</span></a></li>
            <li><a ui-sref="grid-layout-table-1"><i class="fa fa-angle-right"></i><span class="submenu-title">Table Demo 1</span></a></li>
            <li><a ui-sref="grid-layout-table-2"><i class="fa fa-angle-right"></i><span class="submenu-title">Table Demo 2</span></a></li>
            <li><a ui-sref="grid-layout-2-table"><i class="fa fa-angle-right"></i><span class="submenu-title">2 Tables on the Page</span></a></li>
            <li><a ui-sref="grid-layout-ul-li"><i class="fa fa-angle-right"></i><span class="submenu-title">UL LI</span></a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0);"><i class="fa fa-tencent-weibo"></i><span class="submenu-title">Actions Examples</span><span class="fa arrow"></span></a>
          <ul class="nav nav-third-level">
            <li><a ui-sref="grid-filter-with-ul-li"><i class="fa fa-angle-right"></i><span class="submenu-title">Filters With UL/LI</span></a></li>
            <li><a ui-sref="grid-filter-with-select"><i class="fa fa-angle-right"></i><span class="submenu-title">Filters With SELECT</span></a></li>
            <li><a ui-sref="grid-deep-linking"><i class="fa fa-angle-right"></i><span class="submenu-title">Deep Linking</span></a></li>
            <li><a ui-sref="grid-pagination-only"><i class="fa fa-angle-right"></i><span class="submenu-title">Pagination Only</span></a></li>
            <li><a ui-sref="grid-without-item-per-page"><i class="fa fa-angle-right"></i><span class="submenu-title">Without "Items per Page"</span></a></li>
            <li><a ui-sref="grid-hidden-sort"><i class="fa fa-angle-right"></i><span class="submenu-title">Hidden Sort</span></a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0);"><i class="fa fa-table"></i><span class="submenu-title">jPList with jQuery UI</span><span class="fa arrow"></span></a>
          <ul class="nav nav-third-level">
            <li><a ui-sref="grid-range-slider"><i class="fa fa-angle-right"></i><span class="submenu-title">Range Slider</span></a></li>
            <li><a ui-sref="grid-datepicker"><i class="fa fa-angle-right"></i><span class="submenu-title">Date Picker Filter</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="javascript:void(0);"><i class="fa fa-file-o fa-fw">
          <div class="icon-bg bg-yellow"></div></i><span class="menu-title">Pages</span><span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="page-gallery"><i class="fa fa-suitcase"></i><span class="submenu-title">Gallery</span></a></li>
        <li><a ui-sref="page-timeline"><i class="fa fa-steam"></i><span class="submenu-title">Timeline</span></a></li>
        <li><a ui-sref="page-blog"><i class="fa fa-puzzle-piece"></i><span class="submenu-title">Blog</span></a></li>
        <li><a ui-sref="page-blog-item"><i class="fa fa-chain"></i><span class="submenu-title">Blog Item</span></a></li>
        <li><a ui-sref="page-about"><i class="fa fa-group"></i><span class="submenu-title">About Us</span></a></li>
        <li><a ui-sref="page-contact"><i class="fa fa-send-o"></i><span class="submenu-title">Contact Us</span></a></li>
        <li><a ui-sref="page-calendar"><i class="fa fa-calendar"></i><span class="submenu-title">Full Calendar</span></a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);"><i class="fa fa-gift fa-fw">
          <div class="icon-bg bg-grey"></div></i><span class="menu-title">Extras</span><span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="extra-profile"><i class="fa fa-user"></i><span class="submenu-title">User Profile</span></a></li>
        <li><a ui-sref="extra-signin"><i class="fa fa-sign-in"></i><span class="submenu-title">Sign In</span></a></li>
        <li><a ui-sref="extra-signup"><i class="fa fa-sign-out"></i><span class="submenu-title">Sign Up</span></a></li>
        <li><a ui-sref="extra-lock-screen"><i class="fa fa-lock"></i><span class="submenu-title">Lock Screen</span></a></li>
        <li><a ui-sref="extra-user-list"><i class="fa fa-user"></i><span class="submenu-title">User List</span><span class="label label-yellow">v2.1</span></a></li>
        <li><a ui-sref="extra-invoice"><i class="fa fa-print"></i><span class="submenu-title">Invoice</span></a></li>
        <li><a ui-sref="extra-faq"><i class="fa fa-graduation-cap"></i><span class="submenu-title">FAQ</span></a></li>
        <li><a ui-sref="extra-pricing-table"><i class="fa fa-money"></i><span class="submenu-title">Pricing Tables</span></a></li>
        <li><a ui-sref="extra-blank"><i class="fa fa-file-o"></i><span class="submenu-title">Blank</span></a></li>
        <li><a ui-sref="extra-404"><i class="fa fa-exclamation-circle"></i><span class="submenu-title">404 Page</span></a></li>
        <li><a ui-sref="extra-500"><i class="fa fa-exclamation-circle"></i><span class="submenu-title">500 Page</span></a></li>
        <li><a href="javascript:void(0)" title="FullScreen" ng-click="fullscreen()" class="btn-fullscreen"><i class="fa fa-arrows"></i><span class="submenu-title">Full Screen</span></a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);"><i class="fa fa-sitemap fa-fw">
          <div class="icon-bg bg-dark"></div></i><span class="menu-title">Multi-Level Dropdown</span><span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i><span class="submenu-title">Second Level Item</span></a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i><span class="submenu-title">Second Level Item</span></a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i><span class="submenu-title">Third Level</span><span class="fa arrow"></span></a>
          <ul class="nav nav-third-level">
            <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Third Level Item</span></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Third Level Item</span></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right"></i><span class="submenu-title"> Third Level Item</span></a></li>
            <li><a href="javascript:void(0);"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Third Level Item</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="javascript:void(0);"><i class="fa fa-envelope-o">
          <div class="icon-bg bg-primary"></div></i><span class="menu-title">Email</span><span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="email-inbox"><i class="fa fa-inbox"></i><span class="submenu-title">Inbox</span></a></li>
        <li><a ui-sref="email-compose-mail"><i class="fa fa-pencil"></i><span class="submenu-title">Compose Mail</span></a></li>
        <li><a ui-sref="email-view-mail"><i class="fa fa-eye"></i><span class="submenu-title">View Mail</span></a></li>
      </ul>
    </li>
    <li><a href="javascript:void(0);"><i class="fa fa-bar-chart-o fa-fw">
          <div class="icon-bg bg-orange"></div></i><span class="menu-title">Charts</span><span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li><a ui-sref="charts-flotchart"><i class="fa fa-angle-right"></i><span class="submenu-title">Flot Charts</span></a></li>
        <li><a ui-sref="charts-chartjs"><i class="fa fa-angle-right"></i><span class="submenu-title">Chartjs</span></a></li>
        <li><a href="javascript:void(0);"><i class="fa fa-angle-right"></i><span class="submenu-title">HighCharts</span><span class="fa arrow"></span></a>
          <ul class="nav nav-third-level">
            <li><a ui-sref="charts-highchart-line"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Line Charts</span></a></li>
            <li><a ui-sref="charts-highchart-area"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Area Charts</span></a></li>
            <li><a ui-sref="charts-highchart-pie"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Pie Charts</span></a></li>
            <li><a ui-sref="charts-highchart-scatter-bubble"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Scatter & Bubble Charts</span></a></li>
            <li><a ui-sref="charts-highchart-dynamic"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Dynamic Charts</span></a></li>
            <li><a ui-sref="charts-highchart-combinations"><i class="fa fa-angle-double-right"></i><span class="submenu-title">Combinations</span></a></li>
            <li><a ui-sref="charts-highchart-more"><i class="fa fa-angle-double-right"></i><span class="submenu-title">More Chart Types</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a ui-sref="animations"><i class="fa fa-slack fa-fw">
          <div class="icon-bg bg-green"></div></i><span class="menu-title">Animations</span></a></li>
  </ul>
</div>