<style>
    .row{
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
<ul id="iTab" class="nav nav-tabs nav-justified">
    <li class="active"><a href="employee-information.html#personal" title="Click to open personal tab" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;Personal</a></li>
    <li><a href="employee-information.html#academic" title="Click to open academic tab" data-toggle="tab"><i class="fa fa-cap"></i>&nbsp;Academic</a></li>
    <li><a href="employee-information.html#publication" title="Click to open publication tab" data-toggle="tab"><i class="fa fa-pencil"></i>&nbsp;Publication</a></li>
    <li><a href="employee-information.html#training" title="Click to open training tab" data-toggle="tab"><i class="fa fa-shield"></i>&nbsp;Training</a></li>
    <li><a href="employee-information.html#award" title="Click to open award/honor tab" data-toggle="tab"><i class="fa fa-trophy"></i>&nbsp;Award/Honor</a></li>
    <li><a href="employee-information.html#experience" title="Click to open experience tab" data-toggle="tab"><i class="fa fa-star"></i>&nbsp;Experience</a></li>
    <li><a href="employee-information.html#additional" title="Click to open experience tab" data-toggle="tab"><i class="fa fa-wrench"></i>&nbsp;Additional</a></li>
</ul>


<div id="iTabContent" class="tab-content responsive">

    <div id="personal" class="tab-pane fade in active" style="min-height: 490px;">
        <div data-ng-include="src='views/registrar-office/employee-information-management/personal-information.html'"></div>
    </div>

    <div id="academic" class="tab-pane fade" style="min-height: 490px;">
        <div data-ng-include="src='views/registrar-office/employee-information-management/academic-information.html'"></div>
    </div>

    <div id="publication" class="tab-pane fade" style="min-height: 490px;">
        <div data-ng-include="src='views/registrar-office/employee-information-management/publication-information.html'"></div>
    </div>

    <div id="training" class="tab-pane fade" style="min-height: 490px;">
        <div data-ng-include="src='views/registrar-office/employee-information-management/training-information.html'"></div>
    </div>

    <div id="award" class="tab-pane fade" style="min-height: 490px;">
        <div data-ng-include="src='views/registrar-office/employee-information-management/award-information.html'"></div>
    </div>

    <div id="experience" class="tab-pane fade" style="min-height: 490px;">
        <div data-ng-include="src='views/registrar-office/employee-information-management/experience-information.html'"></div>
    </div>

    <div id="additional" class="tab-pane fade" style="min-height: 490px;">
        <div data-ng-include="src='views/registrar-office/employee-information-management/additional-information.html'"></div>
    </div>

</div>