<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div align="right">-->
            <!--<i class="fa fa-edit " title="Edit" class="btn" data-ng-click="enableEditMode('publication')" data-ng-show="showPublicationEditButton"></i>-->
            <!--<i class="fa fa-eye " title="View Mode" class="btn" data-ng-click="enableViewMode('publication')" data-ng-show="showPublicationCancelButton"></i>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<dir-pagination-controls boundary-links="true"-->
<!--pagination-id="iPagination" on-page-change="pageChanged(newPageNumber)"-->
<!--template-url="views\registrar-office\directive\dirPagination.tpl.html">-->
<!--</dir-pagination-controls>-->

<div data-ng-if="showPublicationInputDiv">
    <form name="nPublicationForm" data-validate="" data-onvalidate="submitPublicationForm">

        <div data-ng-repeat="publication in entry.publication track by $index">
            <div data-ng-class="{'outlined': publication.status==='0', 'noOutlined': publication.status==='1', 'redOutlined': publication.status==='2'}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center pal">
                            <b>{{$index + 1}}.</b>
                            <span>
                                [ <i title="Remove Row {{$index + 1}}" data-ng-click="deleteRow('publication', $index)" class="fa fa-times fa-lg" style="color:red;cursor:pointer;"></i> ]
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationType{{$index}}">Publication Type<span class='require'>*</span></label>
                        <div class="col-md-8">
                            <select name="nPublicationType{{$index}}"
                                    id="iPublicationType{{$index}}"
                                    data-ng-model="publication.publicationType"
                                    data-ng-options="publicationType.name for publicationType in publicationTypes"
                                    data-ng-change="changeFieldsByPublicationType($index)"
                                    class="form-control" required>
                                <option value="">Select Publication Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationISSN{{$index}}">ISSN/DOI</label>
                        <div class="col-md-8">
                            <input type="text"
                                   name="nPublicationISSN{{$index}}"
                                   id="iPublicationISSN{{$index}}"
                                   data-ng-model="publication.publicationISSN"
                                   placeholder="ISSN No."
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationTitle{{$index}}">Publication Title<span class='require'>*</span></label>
                        <div class="col-md-8">
                            <input type="text"
                                   name="nPublicationTitle{{$index}}"
                                   id="iPublicationTitle{{$index}}"
                                   data-ng-model="publication.publicationTitle"
                                   placeholder="Publication Title"
                                   class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationVolume{{$index}}">Volume</label>
                        <div class="col-md-8">
                            <input type="text"
                                   name="nPublicationVolume{{$index}}"
                                   id="iPublicationVolume{{$index}}"
                                   data-ng-model="publication.publicationVolume"
                                   placeholder="Volume"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iDateOfPublication{{$index}}">Date Of Publication<span class='require'>*</span></label>
                        <div class="col-md-8">
                            <input type="text"
                                   name="nDateOfPublication{{$index}}"
                                   id="iDateOfPublication{{$index}}"
                                   data-ng-model="publication.dateOfPublication"
                                   data-date-format="dd/mm/yyyy"
                                   placeholder="DD/MM/YYYY"
                                   autocomplete="off"
                                   class="datepicker-default form-control" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationIssue{{$index}}">Issue</label>
                        <div class="col-md-8">
                            <input type="text"
                                   name="nPublicationIssue{{$index}}"
                                   id="iPublicationIssue{{$index}}"
                                   data-ng-model="publication.publicationIssue"
                                   placeholder="Issue"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationJournalName{{$index}}">Journal/Conference Name</label>
                        <div class="col-md-8">
                            <input type="text"
                                   name="nPublicationJournalName{{$index}}"
                                   id="iPublicationJournalName{{$index}}"
                                   data-ng-model="publication.publicationJournalName"
                                   placeholder="Journal Name"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationPage{{$index}}">Pages</label>
                        <div class="col-md-8">
                            <input type="text"
                                   name="nPublicationPage{{$index}}"
                                   id="iPublicationPage{{$index}}"
                                   data-ng-model="publication.publicationPages"
                                   placeholder="Page"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iEmployeeWebLink{{$index}}">Web Link</label>
                        <div class="col-md-8">
                            <input type="text"
                                   name="nEmployeeWebLink{{$index}}"
                                   id="iEmployeeWebLink{{$index}}"
                                   data-ng-model="publication.publicationWebLink"
                                   placeholder="Web Link"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationInterestGenre{{$index}}">Genre</label>
                        <div class="col-md-8">
                            <input type="text"
                                   name="nPublicationInterestGenre{{$index}}"
                                   id="iPublicationInterestGenre{{$index}}"
                                   data-ng-model="publication.publicationInterestGenre"
                                   placeholder="Genre"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationCountry{{$index}}">Country</label>
                        <div class="col-md-8">
                            <input type="text"
                                   name="nPublicationCountry{{$index}}"
                                   id="iPublicationCountry{{$index}}"
                                   data-ng-model="publication.publicationCountry"
                                   placeholder="Volume"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublishername{{$index}}">Publisher Name</label>
                        <div class="col-md-8">
                            <input data-ng-model="publication.publisherName"
                                   name="nPublishername{{$index}}"
                                   id="iPublishername{{$index}}"
                                   type="text"
                                   placeholder="Publisher Name"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <hr />
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-6" data-ng-show="showPublicationAddIcon">-->
                <!--[ <a title="Add New Row" data-ng-click="addNewRow('publication')"><i class="fa fa-plus" aria-hidden="true" style="cursor: pointer;color: green;"></i></a> ]-->
            <!--</div>-->
            <!--<div class="col-md-6"></div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-md-4">
                <div class="text-left pal">
                    <a data-target="#modal-publication" data-toggle="modal" style="cursor: pointer"><b><u>See Instructions</u></b></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center pal">
                    [ <a title="Add New Row" data-ng-click="addNewRow('publication')"><i class="fa fa-plus" aria-hidden="true" style="cursor: pointer;color: green;"></i></a> ]
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-right pal">
                    <button type="button" title="Cancel" class="btn" data-ng-click="enableViewMode('publication')"><i class="fa fa-eye"></i>&nbsp;View</button>
                    <button type="submit" title="Submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Submit</button>
               </div>
            </div>
        </div>
    </form>
</div>

<div data-ng-if="showPublicationLabelDiv">

    <div class="row">
        <div class="col-md-12">
            <!--<label class="col-md-4 control-label" for="iItemsPerPage">Items Per Page</label>-->
            <div class="col-md-4">
                <input type="number"
                           name="nItemsPerPage"
                           id="iItemsPerPage"
                           data-ng-model="data.customItemPerPage"
                           data-ng-change="changeItemPerPage()"
                           placeholder="Items Per Page"
                           class="form-control">
            </div>
        </div>
    </div>
    <div align="center">
        <dir-pagination-controls boundary-links="true"
                                 pagination-id="iPagination" on-page-change="pageChanged(newPageNumber)"
                                 template-url="views\registrar-office\directive\dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>

    <div dir-paginate="publication in paginatedPublication | itemsPerPage: data.itemPerPage" current-page="pagination.currentPage" total-items="data.totalRecord" pagination-id="iPagination">
        <!--<div data-ng-repeat="publication in entry.publication track by $index">-->
            <div data-ng-class="{'outlined': publication.status==='0', 'noOutlined': publication.status==='1', 'redOutlined': publication.status==='2'}">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center pal">
                            <b>{{$index + 1}}.</b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationType{{$index}}">Publication Type</label>
                        <div class="col-md-8"  style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publicationType.name}}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationISSN{{$index}}">ISSN/DOI</label>
                        <div class="col-md-8" style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publicationISSN}}</label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationTitle{{$index}}">Publication Title</label>
                        <div class="col-md-8" style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publicationTitle}}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationVolume{{$index}}">Volume</label>
                        <div class="col-md-8" style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publicationVolume}}</label>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iDateOfPublication{{$index}}">Date Of Publication</label>
                        <div class="col-md-8" style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.dateOfPublication}}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationIssue{{$index}}">Issue</label>
                        <div class="col-md-8" style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publicationIssue}}</label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationJournalName{{$index}}">Journal/Conference Name</label>
                        <div class="col-md-8" style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publicationJournalName}}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationPage{{$index}}">Pages</label>
                        <div class="col-md-8" style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publicationPages}}</label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iEmployeeWebLink{{$index}}">Web Link</label>
                        <div class="col-md-8"  style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publicationWebLink}}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationInterestGenre{{$index}}">Genre</label>
                        <div class="col-md-8" style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publicationInterestGenre}}</label>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublicationCountry{{$index}}">Country</label>
                        <div class="col-md-8" style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publicationCountry}}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 control-label" for="iPublishername{{$index}}">Publisher Name</label>
                        <div class="col-md-8" style="border-bottom: 1px dashed;">
                            <label class="control-label">{{publication.publisherName}}</label>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <hr />
        </div>
        <!--<div class="row">-->
        <!--<div class="col-md-6" data-ng-show="showPublicationAddIcon">-->
        <!--[ <a title="Add New Row" data-ng-click="addNewRow('publication')"><i class="fa fa-plus" aria-hidden="true" style="cursor: pointer;color: green;"></i></a> ]-->
        <!--</div>-->
        <!--<div class="col-md-6"></div>-->
        <!--</div>-->

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="text-right pal">
                    <button type="button" title="Cancel" class="btn" data-ng-click="enableEditMode('publication')"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                </div>
            </div>
        </div>
    </div>

<div align="center">
    <dir-pagination-controls boundary-links="true"
                             pagination-id="iPagination" on-page-change="pageChanged(newPageNumber)"
                             template-url="views\registrar-office\directive\dirPagination.tpl.html">
    </dir-pagination-controls>
</div>
</div>


<div id="modal-publication" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
     aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true"
                        class="close">&times;</button>
                <h4 id="modal-default-label" class="modal-title">Instructions</h4></div>
            <div class="modal-body">
                There are six different tabs.
                This <span class="require"><storng>( * )</storng></span> represents Mandatory Fields
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            </div>
        </div>
    </div>
</div>
<!--<h4><b>Waiting For Approval</b></h4>-->
<!--<br />-->
<!--<div class="row">-->
<!--<div class="col-md-1">-->
<!--<label><b>Sl.</b></label>-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<label><b>Publication Title</b></label>-->
<!--</div>-->
<!--<div class="col-md-2">-->
<!--<label><b>Publication Type</b></label>-->
<!--</div>-->
<!--<div class="col-md-1">-->
<!--<label><b>Status</b></label>-->
<!--</div>-->
<!--</div>-->
<!--<br />-->
<!--<div data-ng-repeat="waitingPublication in waitingForApprovalPublications track by $index">-->
<!--<div class="row">-->
<!--<div class="col-md-1">-->
<!--<label><b>{{$index + 1}}</b></label>-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<label>{{waitingPublication.publicationTitle}}</label>-->
<!--</div>-->
<!--<div class="col-md-2">-->
<!--<label>{{waitingPublication.publicationType.name}}</label>-->
<!--</div>-->
<!--<div class="col-md-1">-->
<!--<label style="color: orangered">{{waitingPublication.status}}</label>-->
<!--</div>-->
<!--</div>-->
<!--<hr />-->
<!--</div>-->
