<style>
    fieldset {
        border: 1px solid grey;
        width: auto;
    }
    legend {
        border: 1px solid grey;
        color: #4d4b4b;
        font-size: 100%;
        text-align: center;
        width: auto;
        font-weight: bold;
        padding: 0.2%;
    }
</style>

<div class="panel">
    <div class="panel-heading">Service Information</div>
    <div class="panel-body showPanel" style="min-height: 490px;">
        <div data-ng-repeat="service in entry.serviceInfo track by $index">
            <fieldset>
                <legend align="center">Designation: <select name="nDesignation{{$index}}"
                                                            id="iDesignation{{$index}}"
                                                            data-ng-model="service.designation"
                                                            data-ng-options="designation.name for designation in designations track by designation.id" required>
                    <option value="">Select Designations</option>
                </select>
                    <span>
                         <i title="Remove Row {{$index + 1}}" data-ng-click="deleteRow(this, $index)" class="fa fa-times fa-lg" style="color:red;cursor:pointer;"></i>
                    </span>
                </legend>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-md-4">Employment Type:</label>
                        <div class="col-md-8">
                            <select name="nEmploymentType{{$index}}"
                                    id="iEmploymentType{{$index}}"
                                    data-ng-model="service.employmentType"
                                    data-ng-options="employmentType.name for employmentType in employmentTypes track by employmentType.id"
                                    class="form-control" required>
                                <option value="">Select Category</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div data-ng-repeat="interval in service.intervalDetails track by $index">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="col-md-4">Period:</label>
                                <div class="col-md-8">
                                    <select name="nPeriod{{$index}}"
                                            id="iPeriod{{$index}}"
                                            data-ng-model="interval.interval"
                                            data-ng-options="serviceInterval.name for serviceInterval in serviceIntervals track by serviceInterval.id"
                                            class="form-control" required>
                                        <option value="">Select Category</option>
                                    </select>
                                </div>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-4 control-label">Start Date</label>
                            <div class="col-md-8">
                                <input type="text"
                                       name="nStartDate{{$index}}"
                                       id="iStartDate{{$index}}"
                                       data-ng-model="interval.startDate"
                                       data-date-format="dd/mm/yyyy"
                                       placeholder="DD/MM/YYYY"
                                       autocomplete="off"
                                       class="datepicker-default form-control" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-4 control-label">End Date</label>
                            <div class="col-md-8">
                                <input type="text"
                                       name="nEndDate{{$index}}"
                                       id="iEndDate{{$index}}"
                                       data-ng-model="interval.endDate"
                                       data-date-format="dd/mm/yyyy"
                                       placeholder="DD/MM/YYYY"
                                       autocomplete="off"
                                       class="datepicker-default form-control" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="col-md-4 control-label">Exp End Date</label>
                            <div class="col-md-8">
                                <input type="text"
                                       name="nExpEndDate{{$index}}"
                                       id="iExpEndDate{{$index}}"
                                       data-ng-model="interval.expEndDate"
                                       data-date-format="dd/mm/yyyy"
                                       placeholder="DD/MM/YYYY"
                                       autocomplete="off"
                                       class="datepicker-default form-control" required>
                            </div>
                        </div>
                        <div class="col-md-1">
                            [ <i title="Remove Row {{$index + 1}}" data-ng-click="deleteRow(this, $index)" class="fa fa-times fa-lg" style="color:red;cursor:pointer;"></i> ]
                        </div>
                    </div>
                </div>
                <div class="text-center pal">
                    [ <a title="Add New Row" data-ng-click="addNewRow('serviceDetails', $index)"><i class="fa fa-plus" aria-hidden="true" style="cursor: pointer;color: green;"></i></a> ]
                </div>
            </fieldset>
            <br />
        </div>
        <div class="text-center pal">
            [ <a title="Add New Row" data-ng-click="addNewRow('serviceInfo')"><i class="fa fa-plus" aria-hidden="true" style="cursor: pointer;color: green;"></i></a> ]
        </div>
        <br />
    </div>
</div>