<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="panel panel-blue">
            <div class="panel-heading">New Student Create Form</div>
            <div class="panel-body pan">
                <form action="" class="form-horizontal">
                    <div class="form-body pal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Full Name</label>
                                    <div class="col-md-8">
                                        <input name="studentName" type="text" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Dept./School</label>
                                    <div class="col-md-8">
                                        <input name="department" type="text" placeholder="" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-4 control-label">Father Name</label>
                                    <div class="col-md-8">
                                        <input name="fatherName" type="text" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-4 control-label">Birth Date</label>
                                    <div class="col-md-8">
                                        <div class="input-icon right"><i class="fa fa-calendar"></i>
                                            <input type="text" name="birthDate"  data-date-format="dd-mm-yyyy" placeholder="DD-MM-YYYY" class="datepicker-default form-control required"/>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Mobile Number</label>
                                    <div class="col-md-8">
                                        <input name="mobileNumber" type="text"  class="form-control required"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Present Address</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Guardian Name</label>
                                    <div class="col-md-8">
                                        <input name="guardianName" type="text" class="form-control required"/>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName" class="col-md-4 control-label">Student Id</label>
                                    <div class="col-md-8">
                                        <input id="inputName" type="text" placeholder="" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Semester</label>
                                    <div class="col-md-8">
                                        <input name="semester" type="text" placeholder="" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-4 control-label">Mother Name</label>
                                    <div class="col-md-8">
                                        <input id="motherName" type="text" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-4 control-label ">Gender</label>
                                    <div class="col-md-8">
                                        <select name="gender"  class="form-control required">
                                            <option value="">Select Gender</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Phone Number</label>
                                    <div class="col-md-8">
                                        <input id="phoneNumber" type="text" placeholder="" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Permanent Address</label>
                                    <div class="col-md-8">
                                        <textarea name="permanentAddress" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Guardian Email</label>
                                    <div class="col-md-8">
                                        <input id="guardianEmail" type="text" class="form-control"/>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="form-actions text-right pal">
                        <button type="submit" class="btn btn-success">Save Student Info</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>