<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="panel panel-blue">
            <div class="panel-heading">New Course Create Form</div>
            <div class="panel-body pan">
                <form action="" class="form-horizontal">
                    <div class="form-body pal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Course Number</label>
                                    <div class="col-md-8">
                                        <input name="courseNumber" type="text" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Credit Hour</label>
                                    <div class="col-md-8">
                                        <input name="creditHour" type="text" placeholder="" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-4 control-label">Course Category</label>
                                    <div class="col-md-8">
                                        <select name="courseCategory"  class="form-control required">
                                            <option value="">Select Course Category</option>
                                            <option value="M">Mandatory</option>
                                            <option value="F">Optional</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-4 control-label">Year</label>
                                    <div class="col-md-8">
                                        <select name="courseYear"  class="form-control required">
                                            <option value="">Select Course Year</option>
                                            <option value="M">1st Year</option>
                                            <option value="F">2nd Year</option>
                                            <option value="F">3rd Year</option>
                                            <option value="F">4th Year</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">View Order</label>
                                    <div class="col-md-8">
                                        <input name="viewOrder" type="text"  class="form-control required"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-4 control-label">Offered For</label>
                                    <div class="col-md-8">
                                        <select name="offeredFor"  class="form-control required">
                                            <option value="">Select Offered For Dept./School</option>
                                            <option value="M">CSE</option>
                                            <option value="F">EEE</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Course Title</label>
                                    <div class="col-md-8">
                                        <input id="courseTitle" type="text" placeholder="" class="form-control required"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Course Type</label>
                                    <div class="col-md-8">
                                        <select name="courseType"  class="form-control required">
                                            <option value="">Select Course Type</option>
                                            <option value="M">Theory</option>
                                            <option value="F">Sessional</option>
                                            <option value="F">Theory</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-4 control-label">Offer By</label>
                                    <div class="col-md-8">
                                        <select name="offredBy"  class="form-control required">
                                            <option value="">Select Offered For Dept./School</option>
                                            <option value="M">CSE</option>
                                            <option value="F">EEE</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-4 control-label ">Semester</label>
                                    <div class="col-md-8">
                                        <select name="courseSemester"  class="form-control required">
                                            <option value="">Select Course Semester</option>
                                            <option value="M">1st Semester</option>
                                            <option value="F">2nd Semester</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Optional Group</label>
                                    <div class="col-md-8">
                                        <select name="optionalGroup"  class="form-control required">
                                            <option value="">Select Optional Group</option>
                                            <option value="M">Management</option>
                                            <option value="F">Accounting</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Syllabus</label>
                                    <div class="col-md-8">
                                        <select name="courseSyllabus"  class="form-control required">
                                            <option value="">Select Syllabus</option>
                                            <option value="M">CSE</option>
                                            <option value="F">EEE</option>
                                        </select>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                    <div class="form-actions text-right pal">
                        <button type="submit" class="btn btn-success">Save New Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>