<div class="row">
    <div class="col-lg-3">
        <div id="sum_box" class="row mbl">
            <div class="col-sm-12 col-md-12">
                <div class="panel profit db mbm" onclick="window.location='#/createUgCourse'" style="cursor: pointer">
                    <div class="panel-body"><p class="icon"><i class="icon fa fa-ellipsis-h"></i></p><h4
                            class="value"><span>Undergraduate</span></h4>

                        <p class="description">UG Course</p>

                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
                <div class="panel profit db mbm"  style="background:#0a819c none repeat scroll 0 0; color:#fff;">
                    <div class="panel-body"><p class="icon"><i class="icon fa fa-ellipsis-v"></i></p><h4
                            class="value"><span>Postgraduate</span></h4>

                        <p class="description">PG Course</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-blue">
            <div class="panel-heading">New Course Create Form</div>
            <div class="panel-body pan">
                abc
            </div>
        </div>
    </div>
    <!--<div class="col-lg-2"></div>-->
</div>