<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-pink">
            <div class="panel-heading">Employee Information</div>
            <div class="panel-body pan">
                <div class="page-content">
                    <div id="form-layouts" class="row">
                        <div class="col-lg-12"></div>
                        <div class="col-lg-12">
                            <ul class="nav ul-edit nav-tabs responsive">
                                <li class="active"><a href="#personal" data-toggle="tab">Personal</a></li>
                                <li><a href="#acadmic" data-toggle="tab">Academic</a></li>
                                <li><a href="" data-toggle="tab">Publication</a></li>
                                <li><a href="" data-toggle="tab">Training</a></li>
                                <li><a href="" data-toggle="tab">Honor/Award</a></li>
                            </ul>
                            <form action="#" class="form-horizontal">
                                <div id="personal">
                                    <div class="form-body pal">
                                        <h3>General</h3>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputFirstName"
                                                                               class="col-md-3 control-label">First
                                                    Name <span class='require'>*</span></label>

                                                    <div class="col-md-9"><input id="inputFirstName"
                                                                                 type="text"
                                                                                 placeholder="First Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputLastName"
                                                                               class="col-md-3 control-label">Last
                                                    Name <span class='require'>*</span></label>

                                                    <div class="col-md-9"><input id="inputLastName"
                                                                                 type="text"
                                                                                 placeholder="Last Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputFather'sName"
                                                                               class="col-md-3 control-label">Father's
                                                    Name <span class='require'>*</span></label>

                                                    <div class="col-md-9"><input id="inputFather'sName"
                                                                                 type="text"
                                                                                 placeholder="Father's Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputMother'sName"
                                                                               class="col-md-3 control-label">Mother's
                                                    Name <span class='require'>*</span></label>

                                                    <div class="col-md-9"><input id="inputMother'sName"
                                                                                 type="text"
                                                                                 placeholder="Mother's Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="selGender"
                                                                               class="col-md-3 control-label">Gender
                                                    <span class='require'>*</span></label>

                                                    <div class="col-md-9"><select id="selGender"
                                                                                  class="form-control">
                                                        <option value="">Male</option>
                                                        <option value="">Female</option>
                                                    </select></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputBirthday"
                                                                               class="col-md-3 control-label">Birthday <span class='require'>*</span></label>

                                                    <div class="col-md-9"><input id="inputBirthday"
                                                                                 type="text"
                                                                                 placeholder="dd/mm/yyyy"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="MaritalStatus"
                                                                               class="col-md-3 control-label">Marital Status <span class='require'>*</span></label>

                                                    <div class="col-md-9"><select id="MaritalStatus"
                                                                                  class="form-control">
                                                        <option value="">Single</option>
                                                        <option value="">Married</option>
                                                        <option value="">Divorced</option>
                                                        <option value="">Widowed</option>
                                                    </select></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputSpouse'sName"
                                                                               class="col-md-3 control-label">Spouse's Name</label>

                                                    <div class="col-md-9"><input id="inputSpouse'sName"
                                                                                 type="text"
                                                                                 placeholder="Spouse's Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputSpouse'sName"
                                                                               class="col-md-3 control-label">National Id Card No.<span class="require">*</span></label>

                                                    <div class="col-md-9"><input id="inputNationalIdNo"
                                                                                 type="text"
                                                                                 placeholder="National Id Card Number"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                        </div>


                                        <h3>Contact</h3>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label
                                                        class="col-md-3 control-label">Email
                                                    <span class='require'>*</span></label>

                                                    <div class="col-md-9">
                                                        <div class="input-icon"><i
                                                                class="fa fa-envelope"></i><input
                                                                type="text" placeholder="Email Address"
                                                                class="form-control"/></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputPhone"
                                                                               class="col-md-3 control-label">Phone <span class='require'>*</span></label></label>

                                                    <div class="col-md-9"><input id="inputPhone"
                                                                                 type="text"
                                                                                 placeholder="Phone"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputPresentAddress"
                                                                               class="col-md-3 control-label">Present Address
                                                    <span class='require'>*</span></label>

                                                    <div class="col-md-9"><input id="inputPresentAddress"
                                                                                 type="text"
                                                                                 placeholder="Present Address"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputPermanentAddress"
                                                                               class="col-md-3 control-label">Permanent Address<span class='require'>*</span></label>

                                                    <div class="col-md-9"><input id="inputPermanentAddress"
                                                                                 type="text"
                                                                                 placeholder="Permanent Address"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div id="academic">
                                    <div class="form-body pal">
                                        <h3>General</h3>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group"><label for="inputDegreeName"
                                                                               class="col-md-3 control-label">Degree Name<span class='require'>*</span></label>

                                                    <div class="col-md-9"><input id="inputDegreeName"
                                                                                 type="text"
                                                                                 placeholder="First Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-actions text-right pal">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-green">Cancel</button>
                                </div>
                            </form>
                            </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>