<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-white">
            <div class="panel-body pan">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav ul-edit nav-tabs responsive">
                            <li class="active"><a data-ng-click="changeNav(1)" data-toggle="tab">Personal</a></li>
                            <li><a data-ng-click="changeNav(2)" data-toggle="tab">Academic</a></li>
                            <li><a data-ng-click="changeNav(3)" data-toggle="tab">Publication</a></li>
                            <li><a data-ng-click="changeNav(4)" data-toggle="tab">Training</a></li>
                            <li><a data-ng-click="changeNav(5)" data-toggle="tab">Honor/Award</a></li>
                            <li><a data-ng-click="changeNav(6)" data-toggle="tab">Experience</a></li>
                        </ul>
                        <form action="#">
                            <div data-ng-show="personal">
                                <div class="form-body pal">
                                    <div class="container-fluid" style="border:1px solid #cecece;">
                                        <h5>General</h5>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>First Name</b><span class='require'>*</span></label>
                                                    <div class="col-md-9"  data-ng-show="showInputFirstNameDiv"><input data-ng-model="firstName"
                                                                                 type="text"
                                                                                 placeholder="First Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelFirstNameDiv"><label> {{firstName}} </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Last Name</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputLastNameDiv"><input data-ng-model="lastName"
                                                                                 type="text"
                                                                                 placeholder="Last Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelLastNameDiv"><label> {{lastName}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Father's Name</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputFatherNameDiv"><input data-ng-model="fatherName"
                                                                                 type="text"
                                                                                 placeholder="Father's Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelFatherNameDiv"><label> {{fatherName}} </label></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Mother's Name</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputMotherNameDiv"><input data-ng-model="motherName"
                                                                                 type="text"
                                                                                 placeholder="Mother's Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelMotherNameDiv"><label> {{motherName}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Gender</b><span class='require'>*</span></label>

                                                    <div class="col-md-9" data-ng-show="showInputGenderDiv"><select data-ng-model="gender"
                                                                                  class="form-control">
                                                        <option value="" disabled>Select Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select></div>
                                                </div>
                                                <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelGenderDiv"><label> {{gender}} </label></div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Birthday</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputBirthdayDiv"><input data-ng-model="birthday"
                                                                                 type="text"
                                                                                 placeholder="dd/mm/yyyy"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelBirthdayDiv"><label> {{birthday}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Marital Status</b><span class='require'>*</span></label>

                                                    <div class="col-md-9" data-ng-show="showInputMaritalStatusDiv"><select data-ng-model="maritalStatus"
                                                                                  class="form-control">
                                                        <option value="" disabled>Select Marital Status</option>
                                                        <option value="Single">Single</option>
                                                        <option value="Married">Married</option>
                                                        <option value="Divorced">Divorced</option>
                                                        <option value="Widowed">Widowed</option>
                                                    </select></div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelMaritalStatusDiv"><label> {{maritalStatus}} </label></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Spouse's Name</b></label>

                                                    <div class="col-md-9" data-ng-show="showInputSpouseNameDiv"><input data-ng-model="spouseName"
                                                                                 type="text"
                                                                                 placeholder="Spouse's Name"
                                                                                 class="form-control"/>
                                                    </div>

                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelSpouseNameDiv"><label> {{spouseName}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>National Id Card No.</b><span class="require">*</span></label>

                                                    <div class="col-md-9" data-ng-show="showInputNationalIdNoDiv"><input data-ng-model="nationalIdNo"
                                                                                 type="text"
                                                                                 placeholder="National Id Card Number"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelNationalIdNoDiv"><label> {{nationalIdNo}} </label></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                        <br />
                                        <h5>Contact:</h5>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Email</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputEmailDiv">
                                                        <div class="input-icon">
                                                            <i class="fa fa-envelope"></i>
                                                            <input data-ng-model="email"
                                                                   type="text"
                                                                   placeholder="Email Address"
                                                                   class="form-control"/></div>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelEmailDiv"><label> {{email}} </label></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Phone</b><span class='require'>*</span></label>

                                                    <div class="col-md-9" data-ng-show="showInputPhoneDiv"><input data-ng-model="phone"
                                                                                 type="text"
                                                                                 placeholder="Phone"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelPhoneDiv"><label> {{phone}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div><label class="col-md-3 control-label"><b>Present Address</b><span class='require'>*</span></label>

                                                    <div class="col-md-9" data-ng-show="showInputPresentAddressDiv"><input data-ng-model="presentAddress"
                                                                                 type="text"
                                                                                 placeholder="Present Address"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelPresentAddressDiv"><label> {{presentAddress}} </label></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Permanent Address</b><span class='require'>*</span></label>

                                                    <div class="col-md-9" data-ng-show="showInputPermanentAddressDiv"><input data-ng-model="permanentAddress"
                                                                                 type="text"
                                                                                 placeholder="Permanent Address"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed; " data-ng-show="showLabelPermanentAddressDiv"><label> {{permanentAddress}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>





                            <div data-ng-show="academic">
                                <div class="form-body pal">
                                    <div class="container-fluid" style="border:1px solid #cecece;">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p><b>Degree</b></p>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>Institution</b></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p><b>Cgpa/Gpa/Division</b></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p><b>Passing Year</b></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2" data-ng-show="showInputSSCSelectedDiv">
                                                <select class="form-control" data-ng-model="sscSelected">
                                                    <option value="" disabled>Select Degree</option>
                                                    <option value="SSC" selected>SSC</option>
                                                    <option value="HSC">HSC</option>
                                                    <option value="Bachelor">Bachelor</option>
                                                    <option value="Masters">Master's</option>
                                                    <option value="Phd">Ph.D</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelSSCSelectedDiv"><label> {{sscSelected}} </label></div>
                                            <div class="col-md-6" data-ng-show="showInputSSCInstitutionDiv">
                                                <input type="text" data-ng-model="sscInstitution" class="form-control" placeholder="Institution">
                                            </div>
                                            <div class="col-md-6"  style="border-bottom: 1px dashed; " data-ng-show="showLabelSSCInstitutionDiv"><label> {{sscInstitution}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputSSCGpaDiv">
                                                <input type="text" data-ng-model="sscGPA" class="form-control" placeholder="Cgpa/Gpa/Division">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed; " data-ng-show="showLabelSSCGpaDiv"><label> {{sscGPA}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputSSCPassingYearDiv">
                                                <input type="text" data-ng-model="sscPassingYear" class="form-control" placeholder="Passing Year">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed; " data-ng-show="showLabelSSCPassingYearDiv"><label> {{sscPassingYear}} </label></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2" data-ng-show="showInputHSCSelectedDiv">
                                                <select class="form-control" data-ng-model="hscSelected">
                                                    <option value="" disabled>Select Degree</option>
                                                    <option value="SSC">SSC</option>
                                                    <option value="HSC" selected>HSC</option>
                                                    <option value="Bachelor">Bachelor</option>
                                                    <option value="Masters">Master's</option>
                                                    <option value="Phd">Ph.D</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelHSCSelectedDiv"><label> {{hscSelected}} </label></div>
                                            <div class="col-md-6" data-ng-show="showInputHSCInstitutionDiv">
                                                <input type="text" data-ng-model="hscInstitution" class="form-control" placeholder="Institution">
                                            </div>
                                            <div class="col-md-6"  style="border-bottom: 1px dashed;" data-ng-show="showLabelHSCInstitutionDiv"><label> {{hscInstitution}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputHSCGpaDiv">
                                                <input type="text" data-ng-model="hscGPA" class="form-control" placeholder="Cgpa/Gpa/Division">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelHSCGpaDiv"><label> {{hscGPA}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputHSCPassingYearDiv">
                                                <input type="text" data-ng-model="hscPassingYear"  class="form-control" placeholder="Passing Year">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelHSCPassingYearDiv"><label> {{hscPassingYear}} </label></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2" data-ng-show="showInputBachelorSelectedDiv">
                                                <select class="form-control" data-ng-model="bachelorSelected">
                                                    <option value="" disabled>Select Degree</option>
                                                    <option value="SSC">SSC</option>
                                                    <option value="HSC">HSC</option>
                                                    <option value="Bachelor" selected>Bachelor</option>
                                                    <option value="Masters">Master's</option>
                                                    <option value="Phd">Ph.D</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelBachelorSelectedDiv"><label> {{bachelorSelected}} </label></div>
                                            <div class="col-md-6" data-ng-show="showInputBachelorInstitutionDiv">
                                                <input type="text" data-ng-model="bachelorInstitution" class="form-control" placeholder="Institution">
                                            </div>
                                            <div class="col-md-6"  style="border-bottom: 1px dashed;" data-ng-show="showLabelBachelorInstitutionDiv"><label> {{bachelorInstitution}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputBachelorCGpaDiv">
                                                <input type="text" data-ng-model="bachelorCGPA" class="form-control" placeholder="Cgpa/Gpa/Division">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelBachelorCGpaDiv"><label> {{bachelorCGPA}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputBachelorPassingYearDiv">
                                                <input type="text" data-ng-model="bachelorPassingYear" class="form-control" placeholder="Passing Year">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelBachelorPassingYearDiv"><label> {{bachelorPassingYear}} </label></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2" data-ng-show="showInputMastersSelectedDiv">
                                                <select class="form-control" data-ng-model="mastersSelected">
                                                    <option value="" disabled>Select Degree</option>
                                                    <option value="SSC">SSC</option>
                                                    <option value="HSC">HSC</option>
                                                    <option value="Bachelor">Bachelor</option>
                                                    <option value="Masters" selected>Master's</option>
                                                    <option value="Phd">Ph.D</option>>
                                                </select>
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelMastersSelectedDiv"><label> {{mastersSelected}} </label></div>
                                            <div class="col-md-6" data-ng-show="showInputMastersInstitutionDiv">
                                                <input type="text" data-ng-model="mastersInstitution" class="form-control" placeholder="Institution">
                                            </div>
                                            <div class="col-md-6"  style="border-bottom: 1px dashed;" data-ng-show="showLabelMastersInstitutionDiv"><label> {{mastersInstitution}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputMastersCGpaDiv">
                                                <input type="text" data-ng-model="mastersCGPA" class="form-control" placeholder="Cgpa/Gpa/Division">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelMastersCGpaDiv"><label> {{mastersCGPA}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputMastersPassingYearDiv">
                                                <input type="text" data-ng-model="mastersPassingYear" class="form-control" placeholder="Passing Year">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelMastersPassingYearDiv"><label> {{mastersPassingYear}} </label></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2" data-ng-show="showInputPhdSelectedDiv">
                                                <select class="form-control" data-ng-model="phdSelected">
                                                    <option value="" disabled>Select Degree</option>
                                                    <option value="SSC">SSC</option>
                                                    <option value="HSC">HSC</option>
                                                    <option value="Bachelor">Bachelor</option>
                                                    <option value="Masters">Master's</option>
                                                    <option value="Phd" selected>Ph.D</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelPhdSelectedDiv"><label> {{phdSelected}} </label></div>
                                            <div class="col-md-6" data-ng-show="showInputPhdInstitutionDiv">
                                                <input type="text" data-ng-model="phdInstitution" class="form-control" placeholder="Institution">
                                            </div>
                                            <div class="col-md-6"  style="border-bottom: 1px dashed;" data-ng-show="showLabelPhdInstitutionDiv"><label> {{phdInstitution}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputPhdCGpaDiv">
                                                <input type="text" data-ng-model="phdCGPA" class="form-control" placeholder="Cgpa/Gpa/Division">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelPhdCGpaDiv"><label> {{phdCGPA}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputPhdPassingYearDiv">
                                                <input type="text" data-ng-model="phdPassingYear" class="form-control" placeholder="Passing Year">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelPhdPassingYearDiv"><label> {{phdPassingYear}} </label></div>
                                        </div>
                                        <br/>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="" style="float: right;">Add New Row</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <div data-ng-show="publication">
                                <div class="form-body pal">
                                    <div class="container-fluid" style="border:1px solid #cecece;">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Publication Title</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputPublicationTitleDiv"><input data-ng-model="publicationTitle"
                                                                                 type="text"
                                                                                 placeholder="Publication Title"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed;" data-ng-show="showLabelPublicationTitleDiv"><label> {{publicationTitle}} </label></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Publication Type</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputPublicationTypeDiv"><input data-ng-model="publicationType"
                                                                                 type="text"
                                                                                 placeholder="Publication Type"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed;" data-ng-show="showLabelPublicationTypeDiv"><label> {{publicationType}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Publication Year</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputPublicationYearDiv"><input data-ng-model="publicationYear"
                                                                                 type="text"
                                                                                 placeholder="Publication Year"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed;" data-ng-show="showLabelPublicationYearDiv"><label> {{publicationType}} </label></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Publication Place</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputPublicationPlaceDiv"><input data-ng-model="publicationPlace"
                                                                                 type="text"
                                                                                 placeholder="Publication Place"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed;" data-ng-show="showLabelPublicationPlaceDiv"><label> {{publicationPlace}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Web Reference</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputWebReferenceDiv"><input data-ng-model="webReference"
                                                                                 type="text"
                                                                                 placeholder="Web Reference"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed;" data-ng-show="showLabelWebReferenceDiv"><label> {{webReference}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="" style="float: right">Add New Row</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <div data-ng-show="training">
                                <div class="form-body pal">
                                    <div class="container-fluid" style="border:1px solid #cecece;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p><b>Training Name</b></p>
                                            </div>
                                            <div class="col-md-4">
                                                <p><b>Training Institution/Organization Name</b></p>
                                            </div>
                                            <div class="col-md-3">
                                                <p><b>Duration(In Months)</b></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p><b>Accredited Year</b></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3" data-ng-show="showInputTrainingNameDiv">
                                                <input type="text" data-ng-model="trainingName" class="form-control" placeholder="Training Name">
                                            </div>
                                            <div class="col-md-3"  style="border-bottom: 1px dashed;" data-ng-show="showLabelTrainingNameDiv"><label> {{trainingName}} </label></div>
                                            <div class="col-md-4" data-ng-show="showInputTrainingInstitutionDiv">
                                                <input type="text" data-ng-model="trainingInstitution" class="form-control" placeholder="Training Institution/Organization Name">
                                            </div>
                                            <div class="col-md-4"  style="border-bottom: 1px dashed;" data-ng-show="showLabelTrainingInstitutionDiv"><label> {{trainingInstitution}} </label></div>
                                            <div class="col-md-3" data-ng-show="showInputTrainingDurationDiv">
                                                <input type="text" data-ng-model="trainingDuration" class="form-control" placeholder="Duration">
                                            </div>
                                            <div class="col-md-3"  style="border-bottom: 1px dashed;" data-ng-show="showLabelTrainingDurationDiv"><label> {{trainingDuration}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputTrainingAccreditedYearDiv">
                                                <input type="text" data-ng-model="trainingAccreditedYear" class="form-control" placeholder="Accredited Year">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelTrainingAccreditedYearDiv"><label> {{trainingAccreditedYear}} </label></div>
                                        </div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="" style="float: right;">Add New Row</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div data-ng-show="award">
                                <div class="form-body pal">
                                    <div class="container-fluid" style="border:1px solid #cecece;">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Award/Honor Name</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputAwardNameDiv"><input data-ng-model="awardName"
                                                                                 type="text"
                                                                                 placeholder="Award/Honor Name"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed;" data-ng-show="showLabelAwardNameDiv"><label> {{awardName}} </label></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Purpose Of The Award</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputPurposeDiv"><input data-ng-model="purpose"
                                                                                 type="text"
                                                                                 placeholder="Purpose Of The Award"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed;" data-ng-show="showLabelPurposeDiv"><label> {{purpose}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Year Of Recognition</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputYearOfRecognitionDiv"><input data-ng-model="yearOfRecognition"
                                                                                 type="text"
                                                                                 placeholder="Short Description"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed;" data-ng-show="showLabelYearOfRecognitionDiv"><label> {{yearOfRecognition}} </label></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <label class="col-md-3 control-label"><b>Short Description</b><span class='require'>*</span></label>
                                                    <div class="col-md-9" data-ng-show="showInputDescriptionDiv"><input data-ng-model="description"
                                                                                 type="text"
                                                                                 placeholder="Short Description"
                                                                                 class="form-control"/>
                                                    </div>
                                                    <div class="col-md-9"  style="border-bottom: 1px dashed;" data-ng-show="showLabelDescriptionDiv"><label> {{description}} </label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="" style="float: right">Add New Row</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <div data-ng-show="experience">
                                <div class="form-body pal">
                                    <div class="container-fluid" style="border:1px solid #cecece;">
                                        <div class="row">
                                            <div class="col-md-6"></div>
                                            <div class="col-md-3">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-1">
                                                    <p><b>From</b></p>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-1">
                                                    <p><b>To</b></p>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <p><b>Institution/Organization</b></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p><b>Designation</b></p>
                                            </div>
                                            <div class="col-md-1">
                                                <p><b>Month</b></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p><b>Year</b></p>
                                            </div>
                                            <div class="col-md-1">
                                                <p><b>Month</b></p>
                                            </div>
                                            <div class="col-md-2">
                                                <p><b>Year</b></p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4" data-ng-show="showInputExperienceInstitutionDiv">
                                                <input type="text" data-ng-model="experienceInstitution" class="form-control" placeholder="Institution/Organization">
                                            </div>
                                            <div class="col-md-4"  style="border-bottom: 1px dashed;" data-ng-show="showLabelExperienceInstitutionDiv"><label> {{experienceInstitution}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputExperienceDesignationDiv">
                                                <input type="text" data-ng-model="experienceDesignation" class="form-control" placeholder="Designation">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelExperienceDesignationDiv"><label> {{experienceDesignation}} </label></div>
                                            <div class="col-md-1" data-ng-show="showInputExperienceFromMonthDiv">
                                                <input type="text" data-ng-model="experienceFromMonth" class="form-control" placeholder="Month">
                                            </div>
                                            <div class="col-md-1"  style="border-bottom: 1px dashed;" data-ng-show="showLabelExperienceFromMonthDiv"><label> {{experienceFromMonth}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputExperienceFromYearDiv">
                                                <input type="text" data-ng-model="experienceFromYear" class="form-control" placeholder="Year">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelExperienceFromYearDiv"><label> {{experienceFromYear}} </label></div>
                                            <div class="col-md-1" data-ng-show="showInputExperienceToMonthDiv">
                                                <input type="text" data-ng-model="experienceToMonth" class="form-control" placeholder="Month">
                                            </div>
                                            <div class="col-md-1"  style="border-bottom: 1px dashed;" data-ng-show="showLabelExperienceToMonthDiv"><label> {{experienceToMonth}} </label></div>
                                            <div class="col-md-2" data-ng-show="showInputExperienceToYearDiv">
                                                <input type="text" data-ng-model="experienceToYear" class="form-control" placeholder="Year">
                                            </div>
                                            <div class="col-md-2"  style="border-bottom: 1px dashed;" data-ng-show="showLabelExperienceToYearDiv"><label> {{experienceToYear}} </label></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <a href="" style="float: right">Add New Row</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                        </form>
                        <div class="form-actions text-right pal">
                            <button type="submit" class="btn btn-pink" data-ng-click="testData()">Test Data</button>
                            <button type="button" class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
                            <button type="submit" class="btn btn-green" data-ng-click="submit()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>