<style>

    p.times {
        padding-left: 5%;
    }

    table, th, td {
        border: 1px solid black;
    }


</style>

<div class="panel panel-default" data-ng-show="showGroupSelectionPanel">
    <div class="panel-heading">
        <h3 class="panel-title" align="center">Exam Seat Plan</h3>
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="col-md-3">
                Select Semester <br>
                <select class="form-control required" name="semester" data-ng-model="semesterId" >
                    <option data-ng-repeat="semesters in semesterList| filter:{status:'1'}" value="{{semesters.id}}">{{semesters.name}}</option>
                </select><br>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                Select Exam Type <br>
                <select class="form-control required" name="examType" data-ng-model="examType" >
                    <option value="1">Regular</option>
                    <option value="2">Carry</option>
                    <option value="3">Clearance</option>
                </select>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-3">
                Select Seat Plannign System
                <select class="form-control required" name="system" data-ng-model="system" >
                    <option value="1">Automatic</option>
                    <option value="2">Manual</option>
                </select>
            </div>


        </div>
        <hr>
        <hr>
        <br>
        <br>
        <div data-ng-if="semesterId && examType && system " data-ng-init="getGroups()">
            <h2 align="center">Groups</h2>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Group 1</h3>
                    </div>
                    <div data-ng-repeat="group in seatPlanGroupList| filter:{groupNo:1}">
                        <p class="times">{{group.programName}}, {{group.year}} year {{group.semester}} semester</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Group 2</h3>
                    </div>
                    <div data-ng-repeat="group in seatPlanGroupList| filter:{groupNo:2}">
                        <p class="times">{{group.programName}}, {{group.year}} year {{group.semester}} semester</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Group 3</h3>
                    </div>
                    <div data-ng-repeat="group in seatPlanGroupList| filter:{groupNo:3}">
                        <p class="times">{{group.programName}}, {{group.year}} year {{group.semester}} semester</p>
                    </div>
                </div>
            </div>

            <!--<div data-ng-if="seatPlanGroupListLength>0">
                <h3><b>Group 1</b></h3>
                <div data-ng-repeat="group in seatPlanGroupList">
                    <div data-ng-if="group.groupNo == groupNumber">
                        {{group.programName}}, {{group.year}} year {{group.semester}} semester
                    </div>
                    <div data-ng-if="group.groupNo != groupNumber">
                        <hr>
                        {{groupNumber=group.groupNo;""}}
                        <h3><b>Group {{groupNumber}}</b></h3>
                        {{group.programName}}, {{group.year}} year {{group.semester}}
                    </div>
                </div>
            </div>-->


        </div>
        <div data-ng-if="seatPlanGroupList.length==0">
            <h1>Please Create an Exam Rroutine first for {{semesterId}} !!!!!!</h1>
        </div>

        <br>
        <br>
        <hr>
        <hr>
        <hr>

        <div data-ng-if="seatPlanGroupList.length>0">
            <div class="row">
                <div class="col-md-2">
                    <hr>
                    <hr>
                </div>
                <div class="col-md-4">
                    <hr>
                    <hr>
                    Select Group For Exam Seat Plan Viewing or Generation<br>

                    <select class="form-control required" name="examType" data-ng-model="groupNoForSeatPlanViewing" >
                        <option value="1">Group 1</option>
                        <option value="2">Group 2</option>
                        <option value="3">Group 3</option>
                    </select>
                    {{groupNoForSeatPlanViewing}}

                </div>
                <div class="col-md-3">
                    <hr>
                    <hr>
                    <br>
                    <button data-ng-click="createOrViewSubgroups(groupNoForSeatPlanViewing)">Create or View <br> Subgroups</button>
                    <button data-ng-click="createOrViewSeatPlan(groupNoForSeatPlanViewing)">Create or View <br> Seat Plan</button>
                </div>
                <div class="col-md-3">
                    <hr>
                    <hr>
                    <br>

                </div>


            </div>
        </div>

    </div>
</div>



<div class="panel panel-grey" data-ng-show="subGroupSelected">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">
            Sub Groups for Group {{groupNoForSubGroup}}
        </h3>

        <button class="btn btn-default pull-right" data-ng-click="closeSubGroupOrRoomInfoWindow()"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="clearfix"></div>

    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <ul data-ng-repeat="group in seatPlanGroupList| filter:{groupNo:groupNoForSubGroup}" id="draggable" class="ui-widget-content" style="list-style: none">
                    <li>{{group.programName}},  {{group.year}} year, {{group.semester}} semester</li>
                </ul>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <p><b>How many subgroups ? </b></p>
                <input type="number" data-ng-model="subGroupNumber" />
                <br>
                <br>
                <button data-ng-click="generateSubGroups(subGroupNumber)">Generate Sub-groups</button>
            </div>

        </div>
        <hr>
        <hr>
        <div class="row">
            {{subGroupNumber}}
            <div data-ng-repeat="i in subGroupStorage"  class="md-col-{{colForSubgroup}}">

                    Sub Group {{i}}
            </div>
        </div>

    </div>

</div>


<div class="panel panel-grey" data-ng-show="groupSelected">
    <div class="panel-heading">
        <h3 class="panel-title pull-left">
            Seat Plan Room Information
        </h3>

        <button class="btn btn-default pull-right" data-ng-click="closeSubGroupOrRoomInfoWindow()"><i class="fa fa-times" aria-hidden="true"></i></button>
        <div class="clearfix"></div>

    </div>
    <div class="panel-body">
        <table style="width:100%" class="table table-striped">
            <tr>
                <th align="center"><h2 align="center">Room No</h2></th>
                <th align="center"><h2 align="center">Total Capacity</h2></th>
                <th align="center"><h2 align="center">Detail Seat Plan</h2></th>
            </tr>
            <tr data-ng-repeat="room in roomList">
                <td align="center">{{room.roomNo}}</td>
                <td align="center">{{room.capacity}}</td>
                <td align="center"><button>Details</button></td>
            </tr>
        </table>


    </div>

</div>