<style>
    .custom-menu {
        position: absolute;
        display: none;
        z-index: 1000;
        overflow: hidden;
        border: 1px solid #CCC;
        white-space: nowrap;
        font-family: sans-serif;
        background: #FFF;
        color: #333;
        border-radius: 5px;
    }
    .custom-menu li {
        padding: 8px 12px;
        cursor: pointer;
    }
    .custom-menu li:hover {
        background-color: #DEF;
    }
    p.times {
        padding-left: 5%;
    }
    table, th, td {
        border: 1px solid navy;
    }
    #list{
        border: 1px solid black;
        background-color: white;
    }
    #sortable,#splittedList {
        border: 1px solid #eee;
        width: 142px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;
    }
    .drag { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
    .subGroup{
        width: 20px; height: 10px; padding: 0.5em; float: left; margin: 10px 10px 10px 0;
    }
    #droppable1,#droppable2,#droppable3,#droppable4,#droppable5,#droppable6 {
        border: 1px solid #eee;
        width: 142px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 0;
        float: left;
        margin-right: 10px;}
    #sortable1,#sortable2,#sortable3,#sortable4,#sortable5,#sortable6,#sortable0 {
        border: 1px solid #eee;
        width: 142px;
        min-height: 20px;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 0 0;
        float: left;
        margin-right: 10px;}
    #sortable li,#splittedList li, #droppable1 li,#droppable2 li,#droppable3 li,#droppable4 li,#droppable5 li,#droppable6 li{
        border-radius: 25px;
        border: 2px solid #73AD21;
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.0em;
        width: 120px;
        background-color: lightslategray;
        color: white;
    }
    #sortable1 li,#sortable2 li,#sortable3 li,#sortable4 li,#sortable6 li,#sortable5 li,#sortable0 li{
        border-radius: 25px;
        border: 2px solid #73AD21;
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.0em;
        width: 120px;
        background-color: lightslategray;
        color: white;
    }
    .connectedSortable{
        background-color: antiquewhite;
    }
</style>

<div class="panel panel-blue" data-ng-show="showGroupSelectionPanel">
    <div class="panel-heading">
        <h2 class="panel-title"><h4>Exam Seat Plan</h4></h2>
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="col-md-1">Semester :</div>
            <div class="col-md-3">
                <select class="form-control required" name="semester" data-ng-model="semesterId" >
                    <option value="">Select Semester</option>
                    <option data-ng-repeat="semesters in semesterList" value="{{semesters.id}}">{{semesters.name}}</option>
                </select>
            </div>
            <div class="col-md-1">Exam Type : </div>
            <div class="col-md-3">
                <select class="form-control required" name="examType" data-ng-model="examType" >
                    <option value="">Select Exam Type</option>
                    <option value="1">Regular Exam</option>
                    <option value="2">Clearance/Improvement/Carryover Exam</option>
                </select>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-success" data-ng-click="showGroups()">View Groups</button>
            </div>


            <!--<div class="col-md-3">
                Select Seat Plannign System
                <select class="form-control required" name="system" data-ng-model="system" >
                    <option value="1">Automatic</option>
                    <option value="2">Manual</option>
                </select>
            </div>-->


        </div>

        <div class="spinner" ng-show="loadingVisibility">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div id="groupPanel" data-ng-if="showGroupOrNot" >
            <h2 align="center">Groups</h2>

            <div class="row">
                <div data-ng-repeat="groupNo in groupList">
                    <div class="col-md-4" data-ng-if="groupNo.groupNumber==1">
                        <div class=" panel panel-info">
                            <div class="panel-heading"> Group {{groupNo.groupNumber}}</div>
                            <ul data-role="listview" class="list-group" data-ng-repeat="group in groupNo.groupMembers">
                                <li class="list-group-item">{{group.programName}}, {{group.year}} year {{group.semester}} semester <span class="badge">{{group.studentNumber}}</span> </li>
                            </ul>
                            <hr>
                            <hr>
                            <div>
                                <h2 align="center">Total Student : {{groupNo.totalStudentNumber}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" data-ng-if="groupNo.groupNumber==2">
                        <div class=" panel panel-info">
                            <div class="panel-heading"> Group {{groupNo.groupNumber}}</div>
                            <ul class="list-group" data-ng-repeat="group in groupNo.groupMembers">
                                <li class="list-group-item">{{group.programName}}, {{group.year}} year {{group.semester}} semester <span class="badge">{{group.studentNumber}}</span></li>
                            </ul>
                            <hr>
                            <hr>
                            <div>
                                <h2 align="center">Total Student : {{groupNo.totalStudentNumber}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" data-ng-if="groupNo.groupNumber==3">
                        <div class=" panel panel-info">
                            <div class="panel-heading"> Group {{groupNo.groupNumber}}</div>
                            <ul class="list-group" data-ng-repeat="group in groupNo.groupMembers">
                                <li class="list-group-item">{{group.programName}}, {{group.year}} year {{group.semester}} semester <span class="badge">{{group.studentNumber}}</span></li>
                            </ul>
                            <hr>
                            <hr>
                            <div>
                                <h2 align="center">Total Student : {{groupNo.totalStudentNumber}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div data-ng-if="seatPlanGroupList.length==0">
            <h1 style="background-color: wheat; color: red">Please Create Exam Routine First For The Semester</h1>
        </div>

        <br>


        <div data-ng-if="seatPlanGroupList.length>0 && showGroupOrNot==true">
            <div class="row">
                <div class="col-md-2">
                    <hr>
                    <hr>
                </div>
                <div class="col-md-4">
                    <hr>
                    <hr>
                    Select Group For Exam Seat Plan Viewing or Generation<br>

                    <select class="form-control required" name="examType" data-ng-model="groupNoForSeatPlanViewing" >
                        <option value="">Select Group</option>
                        <option value="1">Group 1</option>
                        <option value="2">Group 2</option>
                        <option value="3">Group 3</option>
                    </select>

                </div>
                <div class="col-md-3" >
                    <hr>
                    <hr>

                    <button type="button" class="btn btn-info" data-ng-click="createOrViewSubgroups(groupNoForSeatPlanViewing)">Create or View <br> Subgroups</button>
                    <button type="button" class="btn btn-info" data-ng-click="createOrViewSeatPlan(groupNoForSeatPlanViewing)">Create or View <br> Seat Plan</button>
                </div>
                <div class="col-md-3">
                    <hr>
                    <hr>
                    <br>

                </div>


            </div>
        </div>
        <div class="spinner" ng-show="pdfGenerator">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>

    </div>
</div>

<ul class="custom-menu"  style="list-style-type:none" data-ng-show="showContextMenu">
    <li data-action="split"><i class="fa fa-expand" aria-hidden="true"></i>Split Out</li>
    <li data-action="revertSplit"><i class="fa fa-compress" aria-hidden="true"></i>Revert Split</li>
    <li data-action="merge"><i class="fa fa-retweet" aria-hidden="true"></i>Merge</li>
</ul>


<div class="panel panel-grey" data-ng-show="subGroupSelected" id="subGroupPanel">

    <div class="panel-heading">
        <h3 class="panel-title pull-left">
            Sub Groups for Group {{selectedGroupNo}}
        </h3>

        <!-- <button class="btn btn-default pull-right" data-ng-click="closeSubGroupOrRoomInfoWindow()"><i class="fa fa-times" aria-hidden="true"></i></button>-->
        <div class="clearfix"></div>

    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-2">
                <div>
                    <p>
                        Total Students: <b>{{selectedGroupTotalStudent}}</b>

                    </p>

                </div>




                <div data-ui-sortable=""
                     seatPlanGroup ="tempGroupList"
                     data-ng-if="recreate==false && subGroupFound==false && groupNoForSeatPlanViewing" >
                </div>

                <ul id="splittedList" class="connectedSortable " >

                </ul>


                <ul subGroupSortable data-ng-repeat="group in tempGroupList track by group.id"   id="sortable"  class="connectedSortable"  data-ng-if="recreate==false && subGroupFound==false">
                    <li class="ui-state-default" id="{{group.id}}" >
                        <div style="cursor: pointer;">
                            {{group.programName}}:{{group.year}}/{{group.semester}} ({{group.studentNumber}})
                        </div>
                        <div data-ng-show="group.showSubPortion">
                            <hr>
                            Split size: <input  data-ng-model="splitNumber" style="width:40px;color: black "  />
                            <button data-ng-click="splitAction(splitNumber)" style="color: black">Split</button><button data-ng-click="cancelSplitAction(group.id)" style="color: black">cancel</button>
                            <br>
                        </div>
                    </li>
                </ul>
                <div data-ng-if="subGroupFound">
                    <ul id="sortable0" class="connectedSortable " data-ng-if="subGroupWithDeptMap[7]">
                        <li class="ui-state-default" id="{{member.id}}" data-ng-repeat="member in subGroupWithDeptMap[7] track by member.id  " data-ng-if="member.id!=''">
                            <div style="cursor: pointer;">
                                {{member.programName}}:{{member.year}}/{{member.semester}} ({{member.studentNumber}})
                            </div>
                            <div data-ng-show="member.showSubPortion">
                                <hr>
                                Split size: <input  data-ng-model="splitNumber" style="width:40px;color: black "  />
                                <button data-ng-click="splitAction(splitNumber)" style="color: black">Split</button><button data-ng-click="cancelSplitAction(member.id)" style="color: black">cancel</button>
                                <br>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-md-10">
                <div class="row" data-ng-if="showSubGroupSelectionNumber && subGroupFound==false" >
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4" align="center">
                        <select class="form-control required" name="subGroupNo" data-ng-model="selectedSubGroupNo" >
                            <option value="">How Many Sub Groups?</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                        <br>
                        <button  class="btn btn-info" data-ng-click="generateSubGroups(selectedSubGroupNo)">Generate Sub-groups</button>
                    </div>
                    <div class="col-md-4">

                    </div>



                    <!-- <a data-ng-click="createOrViewSubgroups(1)" href="javascript:void(0)">Group 1</a> |
                     <a data-ng-click="createOrViewSubgroups(2)" href="javascript:void(0)">Group 2</a> |
                     <a data-ng-click="createOrViewSubgroups(3)" href="javascript:void(0)">Group 3</a>-->

                </div>
                <hr>
                <hr>


                <!--
                    data-ng-if doesnot work in showing the subgroups.
                -->

                <div  data-ng-if="subGroupFound==true">
                    <!--<div class="row" align="center">
                        <a data-ng-click="createOrViewSubgroups(1)" href="javascript:void(0)">Group 1</a> |
                        <a data-ng-click="createOrViewSubgroups(2)" href="javascript:void(0)">Group 2</a> |
                        <a data-ng-click="createOrViewSubgroups(3)" href="javascript:void(0)">Group 3</a>
                    </div>-->
                    <div class="row">
                        <div class="col-md-2" align="center">
                            <ul id="sortable1" class="connectedSortable " data-ng-if="subGroupWithDeptMap[1]">
                                <p><b>Sub Group 1</b></p>
                                <li class="ui-state-default" id="{{member.id}}" data-ng-repeat="member in subGroupWithDeptMap[1] track by member.id  " data-ng-if="member.id!=''">
                                    <div style="cursor:pointer;">
                                        {{member.programName}}:{{member.year}}/{{member.semester}} ({{member.studentNumber}})
                                    </div>
                                    <div data-ng-show="member.showSubPortion">
                                        <hr>
                                        Split size: <input  data-ng-model="splitNumber" style="width:40px;color: black "  />
                                        <button data-ng-click="splitAction(splitNumber)" style="color: black">Split</button><button data-ng-click="cancelSplitAction(member.id)" style="color: black">cancel</button>
                                        <br>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2" align="center">
                            <ul id="sortable2" class="connectedSortable" data-ng-if="subGroupWithDeptMap[2]">
                                <p><b>Sub Group 2</b></p>
                                <li class="splittable" id="{{member.id}}" data-ng-repeat="member in subGroupWithDeptMap[2] track by member.id" data-ng-if="member.id!=''">
                                    <div style="cursor:pointer;">
                                        {{member.programName}}:{{member.year}}/{{member.semester}} ({{member.studentNumber}})
                                    </div>
                                    <div data-ng-show="member.showSubPortion">
                                        <hr>
                                        Split size: <input  data-ng-model="splitNumber" style="width:40px;color: black "  />
                                        <button data-ng-click="splitAction(splitNumber)" style="color: black">Split</button><button data-ng-click="cancelSplitAction(member.id)" style="color: black">cancel</button>
                                        <br>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2" align="center">
                            <ul id="sortable3" class="connectedSortable" data-ng-if="subGroupWithDeptMap[3]">
                                <p><b>Sub Group 3</b></p>
                                <li class="splittable" id="{{member.id}}" data-ng-repeat="member in subGroupWithDeptMap[3] track by member.id" data-ng-if="member.id!=''">
                                    <div style="cursor:pointer;">
                                        {{member.programName}}:{{member.year}}/{{member.semester}} ({{member.studentNumber}})
                                    </div>
                                    <div data-ng-show="member.showSubPortion">
                                        <hr>
                                        Split size: <input  data-ng-model="splitNumber" style="width:40px;color: black "  />
                                        <button data-ng-click="splitAction(splitNumber)" style="color: black">Split</button><button data-ng-click="cancelSplitAction(member.id)" style="color: black">cancel</button>
                                        <br>
                                    </div>
                                </li>
                            </ul>
                        </div>



                        <!--</div>
                        <hr>
                        <hr>
                        <div class="row">-->
                        <div class="col-md-2" align="center">
                            <ul id="sortable4" class="connectedSortable" data-ng-if="subGroupWithDeptMap[4]">
                                <p><b>Sub Group 4</b></p>
                                <li class="splittable" id="{{member.id}}" data-ng-repeat="member in subGroupWithDeptMap[4] track by member.id" data-ng-if="member.id!=''">
                                    <div style="cursor:pointer;">
                                        {{member.programName}}:{{member.year}}/{{member.semester}} ({{member.studentNumber}})
                                    </div>
                                    <div data-ng-show="member.showSubPortion">
                                        <hr>
                                        Split size: <input  data-ng-model="splitNumber" style="width:40px;color: black "  />
                                        <button data-ng-click="splitAction(splitNumber)" style="color: black">Split</button><button data-ng-click="cancelSplitAction(member.id)" style="color: black">cancel</button>
                                        <br>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2" align="center">
                            <ul id="sortable5" class="connectedSortable" data-ng-if="subGroupWithDeptMap[5]">
                                <p><b>Sub Group 5</b></p>
                                <li class="splittable" id="{{member.id}}" data-ng-repeat="member in subGroupWithDeptMap[5] track by member.id" data-ng-if="member.id!=''">
                                    <div style="cursor:pointer;">
                                        {{member.programName}}:{{member.year}}/{{member.semester}} ({{member.studentNumber}})
                                    </div>
                                    <div data-ng-show="member.showSubPortion">
                                        <hr>
                                        Split size: <input  data-ng-model="splitNumber" style="width:40px;color: black "  />
                                        <button data-ng-click="splitAction(splitNumber)" style="color: black">Split</button><button data-ng-click="cancelSplitAction(member.id)" style="color: black">cancel</button>
                                        <br>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-2" align="center">
                            <ul id="sortable6" class="connectedSortable" data-ng-if="subGroupWithDeptMap[6]">
                                <p><b>Sub Group 6</b></p>
                                <li class="splittable" id="{{member.id}}" data-ng-repeat="member in subGroupWithDeptMap[6] track by member.id" data-ng-if="member.id!=''">
                                    <div style="cursor:pointer;">
                                        {{member.programName}}:{{member.year}}/{{member.semester}} ({{member.studentNumber}})
                                    </div>
                                    <div data-ng-show="member.showSubPortion">
                                        <hr>
                                        Split size: <input  data-ng-model="splitNumber" style="width:40px;color: black "  />
                                        <button data-ng-click="splitAction(splitNumber)" style="color: black">Split</button><button data-ng-click="cancelSplitAction(member.id)" style="color: black">cancel</button>
                                        <br>
                                    </div>
                                </li>
                            </ul>

                        </div>




                    </div>




                </div>

                <div class="row" data-ng-if="colForSubgroup!=9999 && subGroupFound==false" >
                    <div class="col-md-2" data-ng-show="colForSubgroup>=1">
                        <p><b>Sub Group 1</b> </p>

                    </div>
                    <div class="col-md-2" data-ng-show="colForSubgroup>=2">
                        <p><b>Sub Group 2</b></p>

                    </div>
                    <div class="col-md-2"  data-ng-show="colForSubgroup>=3" >
                        <p><b>Sub Group 3</b></p>

                    </div>


                    <div class="col-md-2" data-ng-show="colForSubgroup>=4">
                        <p><b>Sub Group 4</b></p>

                    </div>
                    <div class="col-md-2" data-ng-show="colForSubgroup>=5">
                        <p><b>Sub Group 5</b></p>

                    </div>
                    <div class="col-md-2" data-ng-show="colForSubgroup>=6"  >
                        <p><b>Sub Group 6</b></p>

                    </div>


                </div>
                <div class="row"  data-ng-if="colForSubgroup!=9999"  data-ng-show="subGroupFound==false">
                    <div class="col-md-2">
                        <ul id="droppable1" class="connectedSortable col-md-2" data-ng-show="colForSubgroup>=1"  >
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="connectedSortable col-md-2" id="droppable2" data-ng-show="colForSubgroup>=2" >
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ui class="connectedSortable" id="droppable3" data-ng-show="colForSubgroup>=3"  >
                        </ui>
                    </div>

                    <!-- </div>
                     <hr>
                     <hr>-->
                    <!--<div class="row" data-ng-if="colForSubgroup!=9999 " data-ng-show=" subGroupFound==false">-->
                    <div class="col-md-2">
                        <ui class=" connectedSortable" id="droppable4" data-ng-show="colForSubgroup>=4" >
                        </ui>
                    </div>
                    <div class="col-md-2">
                        <div class="connectedSortable" id="droppable5" data-ng-show="colForSubgroup>=5" >
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="connectedSortable" id="droppable6" data-ng-show="colForSubgroup>=6"  >
                        </div>
                    </div>


                </div>
                <hr>
                <div class="row " id="statistics">
                    <div >


                        <div   data-ng-repeat="subGroup in subGroupList">
                            <p data-ng-if="subGroup.subGroupNumber<= colForSubgroup && subGroup.subGroupNumber!=7 " class="col-md-2" > total Student:{{subGroup.subGroupTotalStudentNumber}}</p>
                        </div>


                    </div>


                </div>
                <hr>
                <hr>
                <div class="row" align="center">
                    <button type="button" class="btn btn-info" data-ng-click="saveSubGroup(selectedGroupNo)" data-ng-if="saveSubGroupInfo">Save </button>
                    <button type="button" class="btn btn-info" data-ng-click="editSavedSubGroup(selectedGroupNo)" data-ng-if="editSubGroup">Edit </button>
                    <!--<button type="button" class="btn btn-info" data-ng-click="makeSortableCancel()" data-ng-if="cancelSubGroup">Cancel</button>-->
                    <button type="button" class="btn btn-info" data-ng-click="createNewSubGroup(selectedGroupNo)" data-ng-if="deleteAndCreateNewSubGroup">Re-Create</button>
                    <button type="button" class="btn btn-success" data-ng-click="closeSubGroupOrRoomInfoWindow()" >Go Back to Grouping </button>


                </div>

            </div>


        </div>

        <!--<hr>
        <hr>
        <div class="row" align="right" style="padding-right: 3%;">
            <button type="button" class="btn btn-success" data-ng-click="closeSubGroupOrRoomInfoWindow()" >Close </button>
        </div>-->

    </div>

</div>

<script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>