<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="margin-left:20px">
                    <div data-jq-grid=""
                         data-config="gridOptions"
                         data-addnew="true"
                         data="classRoomData"
                         gridid="classRoom"
                         pagerid="classRoomPager"
                         grid="grid"
                         data-ng-if="gridOptions">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
