<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel panel-blue">
            <div class="panel-heading">New Semester Create Form
                            <span style='float:right;'><a class="btn btn-white btn-sm" href="#/showSemesterList"><i
                                    class="fa fa-list"></i>&nbsp;
                                List</a>&nbsp;
                </span>
            </div>
            <div class="panel-body pan">
                    <form action="" class="form-horizontal" data-validate="" data-onvalidate="submit" data-ng-hide="response.status">
                    <div class="form-body pal">
                        <div class="form-group">
                            <label  class="col-md-3 control-label">Program Type</label>
                            <div class="col-md-9">
                                <select class="form-control required" name="programTypeId" data-ng-model="semester.programTypeId" ng-init="semester.programTypeId=''">
                                    <option data-ng-repeat="programType in data.programTypeOptions" value="{{programType.id}}">{{programType.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-md-3 control-label">Semester</label>
                            <div class="col-md-9">
                                <select class="form-control required" name="semesterType" id="semesterType" data-ng-model="semester.semesterTypeId" ng-init="semester.semesterTypeId=''">
                                    <option data-ng-repeat="semesterType in data.semesterTypeOptions" value="{{semesterType.id}}">{{semesterType.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-md-3 control-label">Year</label>
                            <div class="col-md-9">
                                <select name="year"  class="col-md-5 form-control required" data-ng-model="semester.year">
                                    <option value="">Select Year</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-md-3 control-label">Status</label>
                            <div class="col-md-9">
                                <div data-on="success" data-off="warning" class="make-switch" data-on-label="Active" data-off-label="Inactive" style="width: 150px;" data-ng-model="semester.status">
                                    <input type="checkbox" checked="checked" class="switch" data-ng-model="semester.mStatus"/>
                                </div>&nbsp&nbsp;
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-md-3 control-label">Start Date</label>
                            <div class="col-md-9">
                                    <div class="input-icon right"><i class="fa fa-calendar"></i>
                                        <input type="text" name="semesterStartDate"   data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" class="datepicker-default form-control required" autocomplete="off" data-ng-model="semester.startDate"/>
                                   </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-md-3 control-label">End Date</label>
                            <div class="col-md-9">
                                   <div class="input-icon right"><i class="fa fa-calendar"></i>
                                       <input type="text" name="semesterEndDate"  data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" class="datepicker-default form-control required" autocomplete="off" data-ng-model="semester.endDate"/>
                            </div>
                        </div>

                    </div>
                    </div>
                    <div class="form-actions text-right pal">
                        <button type="button" class="btn btn-success">Create Semester</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>