<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>

<div class="panel panel-blue" >
    <div class="panel-heading" align="center">
        Seat Plan Reports
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1">Program Type</div>
            <div class="col-md-3">
                <select class="form-control required" name="programType" data-ng-model="programType" data-ng-change="getSemesterInfo();programTypeChanged()" >
                    <option value="">Select Program Type</option>
                    <option value="11">Undergraduate</option>
                    <option value="22">Postgraduate</option>
                </select>
                <div data-ng-if="programTypeRequired" style="background-color: red;color: white;" align="center">
                    <p>Program Type Required</p>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-1">Semester :</div>
            <div class="col-md-3">
                <select class="form-control required" name="semester" data-ng-model="semesterId" required="semesterIddRequired"  data-ng-change="semesterChanged()">
                    <option value="">Select Semester</option>
                    <option data-ng-repeat="semesters in semesterList" value="{{semesters.id}}">{{semesters.name}}</option>
                </select>
                <div data-ng-if="semesterIdRequired" style="background-color: red;color: white;" align="center">
                    <p>Semester Required</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">

            <div class="col-md-1">Exam Type : </div>
            <div class="col-md-3">
                <select class="form-control required" name="examType" data-ng-model="examType" data-ng-change="examTypeChanged()">
                    <option value="">Select Exam Type</option>
                    <option value="1">Regular Exam</option>
                    <option value="2">Clearance/Improvement/Carryover Exam</option>
                </select>
                <div data-ng-if="examTypeRequired" style="background-color: red;color: white;" align="center">
                    <p>Exam Type Required</p>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-1">Exam Dates: </div>
            <div class="col-md-3">
                <select class="form-control required" name="examDate" data-ng-model="examDate">
                    <option value="">Select Exam Date</option>
                    <option data-ng-repeat="examRoutine in examRoutineArr">{{examRoutine.examDate}}</option>
                </select>
            </div>
            <!--<div class="col-md-2" align="right">
                <button type="button" class="btn btn-success" data-ng-click="showReports()">Show Reports</button>
            </div>-->
            <div confirmation-dialog data-ng-if="isShowAlertFired">
                {{alertMessage}}<br>
                <hr>
                <div align="right">
                    <button class="btn btn-danger" data-ng-click="closeAlertDialog()">Close</button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <!--Message section-->
        <div class="row">

        </div>
        <!--End of message section-->


            <div align="center">
                <div class="row" ng-show="showLoader==true">
                    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-success">Top Sheet</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success"  ng-click="getAttendenceSheetReport()">Attendence Sheet</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success">Student's Stickers</button>
                    </div>
                </div>

            </div>

        <br>
        <br>
        <br>
    </div>
</div>