<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">Department/School</div>
            <div class="panel-body">
                <select class="form-control">
                    <option value="Month">Select Dept./School</option>
                </select>
            </div>
        </div>
   </div>

    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">Semester</div>
            <div class="panel-body">
                <select class="form-control">
                    <option value="Month">Select Semester</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">Syllabus</div>
            <div class="panel-body">
                <select class="form-control">
                    <option value="Month">Select Syllabus</option>
                </select>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-3">
    <div class="well">
        <address><strong>1st</strong> Year<strong> 1st</strong> Semester<br/><br/>
            <select class="form-control">
                <option value="Month">Select Syllabus</option>
            </select>
        </address>
    </div>
</div>
    <div class="col-lg-3">
        <div class="well">
            <address><strong>1st</strong> Year<strong> 2nd</strong> Semester<br/><br/>
                <select class="form-control">
                    <option value="Month">Select Syllabus</option>
                </select>
            </address>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="well">
            <address><strong>2nd</strong> Year<strong> 1st</strong> Semester<br/><br/>
                <select class="form-control">
                    <option value="Month">Select Syllabus</option>
                </select>
            </address>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="well">
            <address><strong>2nd</strong> Year<strong> 2nd</strong> Semester<br/><br/>
                <select class="form-control">
                    <option value="Month">Select Syllabus</option>
                </select>
            </address>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="well">
            <address><strong>3rd</strong> Year<strong> 1st</strong> Semester<br/><br/>
                <select class="form-control">
                    <option value="Month">Select Syllabus</option>
                </select>
            </address>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="well">
            <address><strong>3rd</strong> Year<strong> 2nd</strong> Semester<br/><br/>
                <select class="form-control">
                    <option value="Month">Select Syllabus</option>
                </select>
            </address>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="well">
            <address><strong>4th</strong> Year<strong> 1st</strong> Semester<br/><br/>
                <select class="form-control">
                    <option value="Month">Select Syllabus</option>
                </select>
            </address>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="well">
            <address><strong>4th</strong> Year<strong> 2nd</strong> Semester<br/><br/>
                <select class="form-control">
                    <option value="Month">Select Syllabus</option>
                </select>
            </address>
        </div>
    </div>
</div>