<style>

    .spinner {
        margin: 100px auto 0;
        width: 70px;
        text-align: center;
    }

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #333;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-bouncedelay {
        0%, 80%, 100% { -webkit-transform: scale(0) }
        40% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bouncedelay {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        } 40% {
              -webkit-transform: scale(1.0);
              transform: scale(1.0);
          }
    }
</style>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">Selection</div>
            <div class="panel-body pan">
                <form action="" class="form-horizontal" >
                    <div class="form-body pal">
                        <div data-program-selector="" data-model="semesterSyllabusMapModel"></div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Semester</label>
                            <div class="col-md-8">
                                <select class="form-control required" data-ng-model="semesterSyllabusMapModel.semesterId" ng-init="semesterSyllabusMapModel.semesterId=''">
                                    <option data-ng-repeat="semester in semesterSyllabusMapModel.semesters" value="{{semester.id}}">{{semester.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-actions text-right pal">
                            <button type="button" class="btn btn-success" ng-click="goNext()">Next</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">Saved Mapping</div>
            <div class="panel-body" style="min-height: 400px;">

                <div class="spinner" ng-show="loadingVisibility1">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div>{{mapMessage}}</div>
                <table class="table table-hover" width="100%" data-ng-show="mapTableVisibility">
                    <thead>
                    <tr>
                        <th width="40%">Year-Semester</th>
                        <th width="40%">Syllabus</th>
                        <th width="20%">View</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="entry in maps">
                        <td>{{entry.year}} Year -{{entry.semester}} Semester</td>
                        <td>{{entry.syllabusName}}</td>
                        <td>
                            <a href="javascript:void(0)" ng-click="fetchSSmap(entry.id)">View</a>
                        </td>
                    </tr>
                </table>

                <div data-ng-show="copyDivVisiblity">
                Copy Mapping From below Semester -
                <select class="form-control required" data-ng-model="semesterSyllabusMapModel.copySemesterId" ng-init="semesterSyllabusMapModel.copySemesterId=''">
                    <option data-ng-repeat="semester in semesterSyllabusMapModel.semesters" value="{{semester.id}}">{{semester.name}}</option>
                </select>
                <button type="button" class="btn btn-success" ng-click="copyMapping()">Copy Mapping</button>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">View/Edit Mapping</div>
            <div class="panel-body" style="min-height: 400px;">
                <div class="spinner" ng-show="loadingVisibility2">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>

                <form role="form" class="form-horizontal form-separated" data-ng-show="mapDetailVisiblity">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Year- Sem</label>
                            <div class="col-md-9">
                                <input class="form-control" disabled value="{{single.year}} Year - {{single.semester}} Semester"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Semester</label>
                            <div class="col-md-9">
                                <input class="form-control" disabled ng-model="single.academicSemester"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Dept/School</label>
                            <div class="col-md-9">
                                <input class="form-control" disabled ng-model="single.deptName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Program</label>
                            <div class="col-md-9">
                                <input class="form-control" disabled ng-model="single.programName"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Syllabus</label>
                            <div class="col-md-9">
                                <input class="form-control" disabled ng-model="single.syllabusName"/>
                                <select class="form-control required" data-ng-model="semesterSyllabusMapModel.semesterId" data-ng-disabled="syllabusSelectBoxVisibility">
                                    <option data-ng-repeat="syllabus in semesterSyllabusMapModel.syllabuses" value="{{syllabus.id}}">{{syllabus.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
                                <button type="button" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
