<div class="row">
    <form action="" class="form-horizontal" data-validate="" data-onvalidate="submit">
        <div class="col-lg-4">
            <div class="panel panel-white">
                <div class="panel-heading">Selection</div>
                <div class="panel-body pan shadowPanel">

                    <div class="form-body pal">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Enrollment type</label>

                            <div class="col-md-8">
                                <select class="form-control required"
                                        data-ng-init="semesterEnrollmentModel.enrollmentType=''"
                                        data-ng-model="semesterEnrollmentModel.enrollmentType">
                                    <option data-ng-repeat="enrollmentType in semesterEnrollmentModel.getEnrollmentTypes()"
                                            value="{{enrollmentType.id}}">{{enrollmentType.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div data-program-selector="" data-model="semesterEnrollmentModel.programSelector"></div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Semester</label>

                            <div class="col-md-8">
                                <select class="form-control required" data-ng-model="semesterEnrollmentModel.semesterId"
                                        data-ng-init="semesterEnrollmentModel.semesterId=''">
                                    <option data-ng-repeat="semester in semesterEnrollmentModel.programSelector.getSemesters()"
                                            value="{{semester.id}}">{{semester.name}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8" data-ng-if="showStatus">
            <div class="panel panel-white">
                <div class="panel-heading">Enrollment Status</div>
                <div class="panel-body shadowPanel" style="min-height: 400px;">

                    <div class="no-record" data-ng-if="semesterEnrollmentModel.status.length <= 0">
                        No record found
                    </div>
                    <table class="table table-hover" width="100%"
                           data-ng-if="semesterEnrollmentModel.status.length > 0">
                        <thead>
                        <tr>
                            <th width="40%">Year-Semester</th>
                            <th width="40%">Enrollment Date</th>
                            <th width="20%">Enroll</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="entry in semesterEnrollmentModel.status">
                            <td>{{numberWithSuffix(entry.year)}} Year - {{numberWithSuffix(entry.semester)}} Semester
                            </td>
                            <td>{{entry.enrollmentDate}} <span data-ng-if="entry.type == 0" class="label label-primary">Temporary</span></td>
                            <td>
                                <input type="checkbox" data-ng-model="entry.checked"
                                       data-ng-if="!entry.hasOwnProperty('type') || (entry.hasOwnProperty('type') && entry.type < semesterEnrollmentModel.enrollmentType)">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success">Enroll</button>
                </div>
            </div>
        </div>
    </form>
</div>
