


<div class="panel panel-blue">
    <div class="panel-heading">Semester Withdrawa Application</div>
    <div class="panel-body pan">
        <div data-ng-if="dateEnd">
            <h1>Application Date Ended!!!!!</h1>
        </div>
        <div data-ng-if="application">
            <form action="">

                <div class="form-body pal">

                    <div class="form-group">
                        <label><b>Applicaton Status: </b>{{data.status}}</label>
                        <br>
                        <label class="control-label"><b>CAUSE:</b></label>
                        <br>
                        <p data-ng-if="textEditable == false">{{semesterWithdraw.cause}}</p>
                        <textarea rows="10" class="form-control" data-ng-model="semesterWithdraw.tempCause" data-ng-if="textEditable==true" value="{{semesterWithdraw.cause}}"></textarea>
                    </div>

                </div>
                <div class="form-actions text-right pal">
                    <button  class="btn btn-primary" data-ng-if="editButton==true" data-ng-click="edit()">EDIT</button>
                    <button class="btn btn-primary" data-ng-if="updateButton==true" data-ng-click="updateApplication()">UPDATE</button>
                    <button  class="btn btn-primary" data-ng-if="data.cause.length && saveButton==true" data-ng-click="saveApplication()">SAVE</button>
                    <button  class="btn btn-primary" data-ng-if="data.cause.length && textEditable==true" data-ng-click="cancel()">CANCEL</button>
                    <button  class="btn btn-primary" data-ng-if="deleteButton==true" data-ng-click="deleteApplication()">DELETE</button>
                    <button  class="btn btn-primary" data-ng-if="submitButton==true" data-ng-click="submit()">SUBMIT</button>
                </div>

            </form>
    </div>
</div>
</div>
