<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">Semester</div>
            <div class="panel-body">
                <div data-program-selector="" data-model="newSyllabusModel"></div>
            </div>
        </div>

   </div>

    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">Semester</div>
            <div class="panel-body">
                <select class="form-control">
                    <option value="Month">Select Semester</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-white">
            <div class="panel-heading">Syllabus</div>
            <div class="panel-body">
                <select class="form-control">
                    <option value="Month">Select Syllabus</option>
                </select>
            </div>
        </div>
    </div>

</div>
