<div class="row">
    <div class="col-md-12">
        <div class="panel panel-blue">
            <div class="panel-heading">Download Password Report for 1st-Year 1st-Semester Students</div>
            <div class="panel-body pan">
                <form action="" class="form-horizontal">
                    <div class="form-body pal">
                        <div data-program-selector="" data-model="bulkUserPasswordModel"></div>

                        <div class="form-group">
                            <label class="col-md-4 control-label"> Year-Semester</label>

                            <div class="col-md-8">
                                <div class="input-icon right">
                                    <input name="userId" type="text"  disabled="disabled" value="1st Year-1st Semester"  class="form-control required"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-actions text-right pal">
                        <button type="button" class="btn btn-success">Find User</button>
                        <button type="button" data-ng-click="generateBulkPdf()" data-ng-class="passwordResetUserError ? 'btn disabled': 'btn'">
                            Generate PDF
                        </button>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>