<div class="panel panel-blue">
    <div class="panel-heading">Password Change Form</div>
    <div class="panel-body pan">
        <form action="" class="form-horizontal" data-validate="" data-onvalidate="submit" data-ng-hide="response.status">
            <div class="form-body pal">
                <div class="form-group">
                    <label class="col-md-4 control-label">User Id</label>

                    <div class="col-md-8">
                        <div class="input-icon right"><i class="fa fa-lock"></i>
                            <input name="userId" data-ng-model="passwordReset.userId" type="text" class="form-control required"/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-actions text-right pal">
                <button type="button" class="btn btn-success">Generate PDF</button>
            </div>
        </form>
    </div>
</div>