<div data-ng-show="vm.showAdditionalInputDiv">
    <div class="container-fluid">
        <form name="nAdditionalForm" data-validate="" data-onvalidate="submitAdditionalForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="control-label">Area Of Interests: </label>
                    </div>
                    <div class="col-md-10">
                        <select name="nAoi"
                                id="iAoi"
                                data-ng-model="vm.entry.additional.areaOfInterestInformation"
                                data-ng-options="areaOfInterest.name for areaOfInterest in vm.arrayOfAreaOfInterest track by areaOfInterest.id"
                                class="select2-multi-value form-control"
                                multiple="multiple">
                        </select>
                      <!--&lt;!&ndash;{{entry.additional.areaOfInterestInformation}} >> {{arrayOfAreaOfInterest}}&ndash;&gt;-->
                        <!--<select multiple="multiple"-->
                                <!--data-style="btn-white"-->
                                <!--data-select="select-picker"-->
                                <!--class="form-control" data-ng-model="entry.additional.areaOfInterestInformation"-->
                                <!--style="width:50px;"-->
                                <!--data-ng-options="areaOfInterest.name for areaOfInterest in arrayOfAreaOfInterest track by areaOfInterest.id">-->
                        <!--</select>-->
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div align="center">
                        <label class="col-md-2 control-label">Room No.</label>
                        <div class="col-md-4">
                            <input type="text"
                                   name="nRoomNo{{$index}}"
                                   id="iRoomNo{{$index}}"
                                   data-ng-model="vm.entry.additional.roomNo"
                                   placeholder="Room No"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div align="center">
                        <label class="col-md-2 control-label">PABX/Ext No.</label>
                        <div class="col-md-4">
                            <input type="text"
                                   name="nExtNo{{$index}}"
                                   id="iExtNo{{$index}}"
                                   data-ng-model="vm.entry.additional.extNo"
                                   placeholder="Ext No"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div align="center">
                        <label class="col-md-2 control-label">Academic Initial</label>
                        <div class="col-md-4">
                            <input type="text"
                                   name="nAcademicInitial{{$index}}"
                                   id="iAcademicInitial{{$index}}"
                                   data-ng-model="vm.entry.additional.academicInitial"
                                   placeholder="Academic Initial"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div align="right">
                        <button type="button" title="Cancel" class="btn" data-ng-click="vm.showAdditionalInputDiv=false"><i class="fa fa-eye"></i>&nbsp;View</button>
                        <button type="submit" title="Submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div data-ng-show="!vm.showAdditionalInputDiv">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <label class="control-label">Area Of Interests: </label>
                </div>
                <div class="col-md-10" style="border-bottom: 1px dashed;">
                    <label data-ng-repeat="aoi in vm.entry.additional.areaOfInterestInformation track by aoi.id" class="control-label">{{aoi.name}},</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div align="center">
                        <label class="col-md-2 control-label">Room No.</label>
                        <div class="col-md-4" style="border-bottom: 1px dashed;">
                            <label class="control-label"><b>{{vm.entry.additional.roomNo}}</b></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div align="center">
                        <label class="col-md-2 control-label">PABX/Ext No.</label>
                        <div class="col-md-4" style="border-bottom: 1px dashed;">
                            <label class="control-label"><b>{{vm.entry.additional.extNo}}</b></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div align="center">
                        <label class="col-md-2 control-label">Academic Initial</label>
                        <div class="col-md-4" style="border-bottom: 1px dashed;">
                            <label class="control-label"><b>{{vm.entry.additional.academicInitial}}</b></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div align="right">
                    <button type="button" title="Cancel" class="btn" data-ng-click="vm.showAdditionalInputDiv=true"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".select2-multi-value").select2({
        placeholder: "Your Interested Area",
        allowClear: true
    });
</script>