<div class="page-content">

    <div class="row" id="topArrowDiv">
        <div class="col-md-2 col-md-offset-5">
            <i class="fa fa-chevron-down" aria-hidden="true" data-ng-click="resetTopBottomDivs()"  style="cursor: pointer;"></i>
        </div>
    </div>

    <div class="row" id="teachersListWaitingForApprovalDiv">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Teacher's List</h3>
            </div>
            <div class="panel-body" style="min-height: 490px;">
                <table class="table table-bordered">
                    <thead class="heading well">
                    <tr>
                        <th >Teacher Name</th>
                        <th>Designation</th>
                        <th>Requested On</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Kawsur Mir Md.</td>
                        <td>Professor</td>
                        <td>Last Day</td>
                        <td><button type="button" class="btn btn-default" data-ng-click="submit()">View</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row" id="waitingPublicationListDiv" hidden>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Publication List</h3>
            </div>
            <div class="panel-body" style="min-height: 490px;">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label>Email:</label> email@test.com<br>
                                    <label>Birth date:</label> 01.01.2001<br>
                                    <label>Gender:</label> male<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <img class="img-square" src="https://s3.amazonaws.com/uifaces/faces/twitter/oliveirasimoes/128.jpg">
                    </div>
                </div>

                <div data-ng-repeat="publication in publications track by $index">
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <h5 align="center"><b>{{$index + 1}}</b></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Publication Type</label>
                            <div class="col-md-8"  style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationType}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">ISSN/DOI</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationISSN}}</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Publication Title</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationTitle}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Volume</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationVolume}}</label>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Date Of Publication</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.dateOfPublication}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Issue</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationIssue}}</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Journal/Conference Name</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationJournalName}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Pages</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationPages}}</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Web Link</label>
                            <div class="col-md-8"  style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationWebLink}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Genre</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationInterestGenre}}</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Country</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationCountry}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Publisher Name</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publisherName}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row well">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <button type="button" title="Cancel" class="btn">Reject All</button>
                            <button type="submit" title="Submit" class="btn btn-success">Approve All</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
