<style>

    thead {
        background-color: #efefef;
    }

    .grid {
        width: 750px;
        height: 500px;
    }

    tbody {
        overflow-y: scroll;
        height: 450px;
    }

    #header-fixed {
        position: fixed;
        top: 15px;
    }

    .sample-show-hide {
        transition: all linear 0.5s;
    }

    .sample-show-hide.ng-hide {
        opacity: 0;
    }

</style>
<div class="row">
    <div class="panel">
        <div class="panel-heading">Leave Application<span
                class="subtitle"></span></div>
        <div class="panel-body shadowPanel" style="min-height: 490px;">
            <div class="row">
                <div class="col-md-8">
                    <div data-ng-include=""
                         src="'views/leave-management/leave-application-form.html'">
                    </div>
                    <div class="well" align="right">
                        <button class="btn btn-primary" data-ng-click="save()">Save Application</button>
                        <button class="btn btn-success" data-ng-click="applyLeave()">Apply For Leave</button>
                    </div>
                </div>
                <div class="col-md-4" data-ng-include="" src="'views/leave-management/remaining-leaves.html'"></div>
            </div>
            <div class="row">
                <div class="col-md-12" data-ng-include=""
                     src="'views/leave-management/leave-application-status.html'"></div>
            </div>
        </div>
    </div>

</div>