<style>
    .addPortion input {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .white-space-pre {
        white-space: pre-wrap;
    }

    .list-group .list-group-item {
        border-color: white;
    }
</style>
<div class="col-md-8">
    <div class="col-md-12"><h3>Application Status</h3></div>
    <div class="col-md-4"><p>Applied On:<b> {{pendingApplication.appliedOn}}</b></p></div>
    <div class="col-md-4"><p>From <b>{{pendingApplication.fromDate}}</b> to <b>{{pendingApplication.toDate}}</b></p>
    </div>
    <div class="col-md-4"><p>Duration: <b>{{pendingApplication.duration}}</b> days</p></div>
    <div class="col-md-12">Reason</div>
    <div class="col-md-12">
        <div>
        <textarea disabled="true" class="form-control col-md-8" rows="10"
                  class="col-md-12"
                  style="cursor: auto; background-color: floralwhite">{{pendingApplication.reason}}</textarea>
        </div>
    </div>
    <div class="col-md-12">
        <h2>Status</h2>
        <ul class="list-group">
            <a class="list-group-item" data-ng-repeat="s in applicationStatusList">
                <div data-ng-if="s.rowNumber%2==0" style="background-color: lightgoldenrodyellow;padding: 3%">
                    <p align="right"><i> By {{s.actionTakenByName}} on {{s.appliedOn}}, Status <label
                            class="label label-primary">
                        {{s.actionStatusLabel}}</label> </i></p>
                    <p disabled="true"
                       class="white-space-pre">{{s.comments}}</p>
                </div>
                <div data-ng-if="s.rowNumber%2!=0" style="background-color: navajowhite; padding:3%">
                    <p align="right"><i> By {{s.actionTakenByName}} on {{s.appliedOn}}, Status <label
                            class="label label-primary">
                        {{s.actionStatusLabel}}</label> </i></p>
                    <p disabled="true"
                       class="white-space-pre">{{s.comments}}</p>
                </div>

            </a>
        </ul>
    </div>
</div>

<div class="col-md-4" data-ng-include="" src="'views/leave-management/remaining-leaves.html'"></div>

<!--
<div class="col-md-12"><h3>Status</h3></div>
<div class="col-md-12">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Action Taken On</th>
            <th>Action Taken By</th>
            <th>Action Status</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="s in applicationStatusList" style="cursor: pointer;" data-toggle="modal"
            data-target="#myModal" data-ng-click="setStatusModalContent(s)">
            <td>{{s.appliedOn}}</td>
            <td>{{s.actionTakenByName}}</td>
            <td>{{s.actionStatusLabel}}</td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Leave Application Status</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6"><p>Action Taken On <b>{{statusModal.appliedOn}}</b></p></div>
                            <div class="col-md-6"><p>Action Taken By <b>{{statusModal.actionTakenByName}}</b></p>
                            </div>
                            <div class="col-md-12"><p><b>Comments</b></p></div>
                            <div>
                           <textarea disabled="true" class="form-control col-md-8" rows="10"
                                     class="col-md-12"
                                     style="cursor: auto; background-color: floralwhite">{{statusModal.comments}}</textarea>
                            </div>
                            <div class="col-md-12"><h3>Status <b>{{statusModal.actionStatusLabel}}</b></h3></p>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>-->
