<div class="col-md-12"><h3>Application Status</h3></div>
<div class="col-md-4"><p>Applied On:<b> {{pendingApplication.appliedOn}}</b></p></div>
<div class="col-md-4"><p>From <b>{{pendingApplication.fromDate}}</b> to <b>{{pendingApplication.toDate}}</b></p></div>
<div class="col-md-4"><p>Duration: <b>{{pendingApplication.duration}}</b></p></div>
<div class="col-md-12">Reason</div>
<div class="col-md-12">
    <div>
        <textarea disabled="true" class="form-control col-md-8" rows="10"
                  class="col-md-12"
                  style="cursor: auto; background-color: floralwhite">{{pendingApplication.reason}}</textarea>
    </div>
</div>
<div class="col-md-12"><h3>Status</h3></div>
<div class="col-md-12">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Action Taken On</th>
            <th>Action Taken By</th>
            <th>Comments</th>
            <th>Action Status</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="s in applicationStatusList">
            <td>{{s.appliedOn}}</td>
            <td>{{s.actionTakenByName}}</td>
            <td>{{s.comments}}</td>
            <td>{{s.actionStatusLabel}}</td>
        </tr>
        </tbody>

    </table>
</div>