<style>
    .addPortion input {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .white-space-pre {
        white-space: pre-wrap;
    }

    .list-group .list-group-item {
        border-color: white;
    }
</style>
<div class="col-md-8">
    <div class="col-md-12"><h3>Application Status</h3></div>
    <div class="col-md-12"><p>Applied By:<b> {{vm.pendingApplication.applicantsName}}</b></p></div>
    <div class="col-md-12"><p>Submitted
        By:<b> {{vm.pendingApplication.leaveApplication.submittedByEmp.employeeName}}</b></p></div>
    <div class="col-md-4"><p>Applied On:<b> {{vm.pendingApplication.appliedOn}}</b></p></div>
    <div class="col-md-4"><p>From <b>{{vm.pendingApplication.fromDate}}</b> to <b>{{vm.pendingApplication.toDate}}</b>
    </p>
    </div>
    <div class="col-md-4"><p>Duration: <b>{{vm.pendingApplication.duration}}</b> days</p></div>
    <div class="col-md-12">Reason</div>
    <div class="col-md-12">
        <div>
        <textarea disabled="true" class="form-control col-md-8" rows="10"
                  class="col-md-12"
                  style="cursor: auto; background-color: floralwhite">{{vm.pendingApplication.reason}}</textarea>
        </div>
    </div>
    <div class="col-md-12">
        <h3>Attachments</h3><br/>
        <ul>
            <li style="cursor:pointer" data-ng-repeat="file in vm.fileAttachments"
                ng-click="vm.downloadAttachment(file)">
                {{file.fileName}}
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h2>Status</h2>
        <ul class="list-group">
            <a class="list-group-item" data-ng-repeat="s in vm.applicationStatusList">
                <div data-ng-if="s.rowNumber%2==0" style="background-color: lightgoldenrodyellow;padding: 3%">

                    <p disabled="true"
                       class="white-space-pre">{{s.comments}}</p>
                    <p ng-bind-html="vm.getStatusLabel(s)" align="right"></p>
                </div>
                <div data-ng-if="s.rowNumber%2!=0" style="background-color: navajowhite; padding:3%">

                    <p disabled="true"
                       class="white-space-pre">{{s.comments}}</p>

                    <p ng-bind-html="vm.getStatusLabel(s)" align="right"></p>
                </div>

            </a>
        </ul>
    </div>
</div>

<div class="col-md-4" lms-remaining-leave-dir></div>


