<div class="col-md-6">
    <div class="form-group" align="right">
        <label class="col-md-4 control-label">Approval Status</label>
        <div class="col-md-8">
            <select
                    class="form-control required"
                    name="leaveType"
                    id="leaveType"
                    data-ng-options="l.name for l in leaveApprovalStatusList track by l.id"
                    data-ng-model="leaveApprovalStatus"
                    data-ng-change="statusChanged(leaveApprovalStatus)"
            ></select>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group" align="right">
        <label class="col-md-4 control-label">Results per page</label>
        <div class="col-md-8">
            <input type="text"
                   class="form-control required"
                   id="resultsPerPage"
                   data-ng-model="itemsPerPage"
                   data-ng-change="setResultsPerPage(itemsPerPage)"
            />
        </div>
    </div>
</div>
<br/>
<div class="col-md-12">
    <div class="col-md-12" data-ng-include=""
         src="'views/leave-management/pending-leave-application.html'"></div>
</div>