<div class="row" ng-cloak="">
    <div class="panel">
        <div class="panel-heading">Leave Application Approval<span
                class="subtitle"></span></div>
        <div class="panel-body shadowPanel" style="min-height: 490px;">

            <div data-ng-if="!showStatusSection">
                <div data-ng-include="'views/leave-management/leave-applications-with-status-selection.html'"></div>
            </div>

            <div data-ng-if="showStatusSection">
                <div class="col-md-12" data-ng-include="'views/leave-management/leave-application-status.html'">
                </div>
                <div class="col-md-12">
                    <div class="well" align="right">
                        <button class="btn btn-danger" data-ng-disabled="disableApproveAndRejectButton"
                                data-toggle="modal" data-target="#actionModal" data-ng-click="approve()">Approve
                        </button>
                        <button class="btn btn-danger" data-ng-disabled="disableApproveAndRejectButton"
                                data-toggle="modal" data-target="#actionModal" data-ng-click="reject()">Reject
                        </button>
                        <button class="btn btn-danger" data-ng-click="closeStatusSection()">Close</button>
                    </div>


                    <div id="actionModal" class="modal fade" role="dialog">
                        <div class="modal-dialog  modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Approval Comments</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="com-md-12">
                                            <div class="well">
                                                <div class="form-group">
                                                    <label for="comment">Comments</label>
                                                    <textarea class="form-control"
                                                              rows="10"
                                                              id="comment"
                                                              data-ng-model="data.comment"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                            data-ng-click="saveAction()">Submit & Close
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>