<style>
    .panel-height {
        min-height: 400px;
    }
    .labels {
        padding: 1%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .rounded {
        display: inline-block;
        padding: 2px 8px;
        border-radius: 10%;
        color: black;
        border-collapse: separate;
        margin: 2px;
    }
    .alignLeft {
        float: left;
    }
    .alignRight {
        float: right;
    }
    fieldset { border:1px dashed grey;
        padding-right: 5px;
    padding-left: 5px;
    }

    legend {
        padding: 0.2em 0.5em;
        border:1px solid grey;
        color:#4d4b4b;
        font-size:90%;
        text-align:right;
        width: 150px;
        padding-right: 11px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .btn-default{
        right: 0px;
    }
    .fa-sa:before {
        font-family: Arial; /* your font family here! */
        font-weight: bold;
        content: 'SA';
    }
    .fa-ha:before {
        font-family: Arial; /* your font family here! */
        font-weight: bold;
        content: 'HA';
    }

</style>

<div class="row" id="courseSelectionDiv">
    <div  onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>
    <div class="panel panel-green"  id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal" data-validate=""  data-onvalidate="fetchAdvisingStudents" >
                <div class="form-body pal">
                    <div data-program-selector="" data-model="advisingStudentSearchParamModel"></div>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success">Next</button>
                </div>
            </form>
        </div>

    </div>

    <div id="rightDiv" >
        <div class="panel">
            <div class="panel-heading">
                <p class="alignLeft" id="pageTitle">Advising Student List - <b>Undergraduate</b></p>
                <p class="alignRight">
                    <a  href="javascript:;" class="btn btn-xs btn-default studentIdAnchor"
                        data-ng-click="viewStudentById()" style="background-color: black;">
                        <i class="fa fa-user studentIdIcon" style="color: white;" aria-hidden="true"></i>
                    </a>

                    <a  href="javascript:;" class="btn btn-xs btn-default studentNameAnchor"
                        data-ng-click="viewStudentByIdAndName()" style="background-color: white;">
                        <span class="fa fa-indent studentNameIcon" style="color: black;" ></span>
                    </a>
                </p>
                <span class="subtitle"></span>
                </div>
            <div class="panel-body" style="min-height: 350px;">
                <div class="spinner" ng-show="loadingVisibility">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div data-ng-if="true">
                    <div class="alert alert-danger alert-dismissable" style="-moz-border-radius: 15px !important;border-radius: 15px !important;">
                        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                            If this list is empty or inaccurate, please contact with <strong>Dept./School Admin Officer.</strong> He is responsible for updating this information.
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul data-ng-if="showStudentsByYearSemester==false">
                                <li class="rounded" ng-style="{background:'#DEF'}"
                                    data-ng-repeat="a in students track by a.id" style="position: relative;padding-left: 1.5%;padding-right: 1.5%;">
                                    <div data-ng-show="showStudentId" >{{a.id}}</div>
                                    <div data-ng-show="showStudentName">{{a.id}}<br/>
                                        {{a.fullName}}</div>
                                </li>
                            </ul>

                            <div data-ng-if=" showStudentsByYearSemester==true">
                                <div data-ng-repeat="s in studentsByYearSemester">

                                    <fieldset style="padding-bottom: 5px;">
                                        <legend>{{s.year|nth}} Year {{s.semester|nth}}, Semester</legend>
                                        <li class="rounded" ng-style="{background:'#DEF'}" style="cursor: pointer;"
                                            data-ng-repeat="a in s.students track by a.id"
                                            ng-click="changeColor(a)">
                                            <div style="padding: 2%" data-ng-if="showStudentId">{{a.id}}
                                            </div>
                                            <div data-ng-if="showStudentName">
                                                {{a.id}}<br>{{a.fullName}}
                                            </div>
                                        </li>
                                    </fieldset>
                                    <br/>
                                </div>

                            </div>
                        </div>

                    </div>



                </div>

            </div>
        </div>
    </div>
</div>
