<style>
    .panel-height {
        min-height: 400px;
    }
    .labels {
        padding: 1%;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .rounded {
        display: inline-block;
        padding: 0.5% 3%;
        border-radius: 10%;
        color: black;
        border-collapse: separate;
        margin: 2px;
    }
    .alignLeft {
        float: left;
    }
    .alignRight {
        float: right;
    }
    fieldset { border:1px dashed grey;
        padding-right: 5px;}

    legend {
        padding: 0.2em 0.5em;
        border:1px solid grey;
        color:#4d4b4b;
        font-size:90%;
        text-align:right;
        width: 150px;
        padding-right: 11px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .btn-default{
        right: 0px;
    }
    .fa-sa:before {
        font-family: Arial; /* your font family here! */
        font-weight: bold;
        content: 'SA';
    }
    .fa-ha:before {
        font-family: Arial; /* your font family here! */
        font-weight: bold;
        content: 'HA';
    }
    .pll, .phl, .pal {
        padding: 5px !important;
    }
</style>
<div class="row" data-ng-init="studentsOfAdviser()">
    <div class="panel panel-blue">
        <div class="panel-heading">Adviser's Students</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2" align="right">
                    <a  href="javascript:;" class="btn btn-xs btn-default bulkStudentIdAnchor"
                        data-ng-click="viewStudentById()" style="background-color: black;">
                        <i class="fa fa-user bulkStudentIdIcon" style="color: white;" aria-hidden="true"></i>
                    </a>

                    <a  href="javascript:;" class="btn btn-xs btn-default bulkStudentNameAnchor"
                        data-ng-click="viewStudentByIdAndName()" style="background-color: white;">
                        <span class="fa fa-indent bulkStudentNameIcon" style="color: black;" ></span>
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <ul data-ng-if="showStudentsByYearSemester==false">
                        <li class="rounded" ng-style="{background:'#DEF'}"
                            data-ng-repeat="a in students track by a.id" style="position: relative;padding-left: 1.5%;padding-right: 1.5%;">
                            <div data-ng-show="showStudentId" >{{a.id}}</div>
                            <div data-ng-show="showStudentName">{{a.id}}<br/>
                                <img src="https://cdn2.iconfinder.com/data/icons/pretty-office-10/16/Graduate-male-16.png" /> {{a.fullName}}</div>
                        </li>
                    </ul>

                        <div data-ng-if=" showStudentsByYearSemester==true">
                            <div data-ng-repeat="s in studentsByYearSemester">

                                <fieldset style="padding-bottom: 5px;">
                                    <legend>{{s.year}} year {{s.semester}}</legend>
                                    <li class="rounded" ng-style="{background:'#DEF'}" style="cursor: pointer;"
                                        data-ng-repeat="a in s.students track by a.id"
                                        ng-click="changeColor(a)">
                                        <div style="padding: 2%" data-ng-if="showStudentId">{{a.id}}
                                        </div>
                                        <div data-ng-if="showStudentName">
                                            {{a.id}}<br><img src="https://cdn2.iconfinder.com/data/icons/pretty-office-10/16/Graduate-male-16.png" />{{a.fullName}}
                                        </div>
                                    </li>
                                </fieldset>
                                <br/>
                            </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>