<form action="" class="form-horizontal" data-validate=""  data-onvalidate="fetchTeacherInfo" >
    <div class="form-body pal">
        <div data-program-selector="" data-model="teacherSearchParamModel.programSelector"></div>
        <div class="form-group">
            <label class="col-md-4 control-label">Year</label>

            <div class="col-md-8">
                <select class="form-control required" data-ng-model="teacherSearchParamModel.academicYearId"
                        ng-init="teacherSearchParamModel.academicYearId=''">
                    <option data-ng-repeat="year in data.academicYearOptions" value="{{year.id}}">
                        {{year.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Semester</label>

            <div class="col-md-8">
                <select class="form-control required"
                        data-ng-model="teacherSearchParamModel.academicSemesterId"
                        ng-init="teacherSearchParamModel.academicYearId=''">
                    <option data-ng-repeat="semester in data.academicSemesterOptions"
                            value="{{semester.id}}">
                        {{semester.name}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Category</label>

            <div class="col-md-8">
                <select class="form-control required"
                        data-ng-model="teacherSearchParamModel.courseCategoryId"
                        ng-init="teacherSearchParamModel.courseCategoryId=''">
                    <option data-ng-repeat="courseCategory in data.courseCategoryOptions"
                            value="{{courseCategory.id}}">
                        {{courseCategory.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-actions text-right pal">
        <button type="button" class="btn btn-success">Search</button>
    </div>
</form>
