<div class="row" data-ng-init="getSemesters()">
    <div class="orgLeftClass pull-left panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal">
                <div class="form-body pal">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Program Type</label>
                        <div class="col-md-8">
                            <select class="form-control required" data-ng-model="programType">
                                <option value="">Select Program Type</option>
                                <option value="1">Undergraduate</option>
                                <option value="2">Postgraduate</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Academic Semester</label>
                        <div class="col-md-8">
                            <select class="form-control required" data-ng-model="semesterId">
                                <option value="">Selected a Semester</option>
                                <option data-ng-repeat="s in semesterArr" value="{{s.id}}">{{s.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Students Year</label>
                        <div class="col-md-8">
                            <select class="form-control required" data-ng-model="studentsYear">
                                <option value="">Select Student Year</option>
                                <option value="1">1st year</option>
                                <option value="2">2nd year</option>
                                <option value="3">3rd year</option>
                                <option value="4">4th year</option>
                                <option value="5">5th year</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Students Semester</label>
                        <div class="col-md-8">
                            <select class="form-control required" data-ng-model="studentsSemester">
                                <option value="">Select Student Semester</option>
                                <option value="1">1st semester</option>
                                <option value="2">2nd semester</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Theory Section</label>
                        <div class="col-md-8">
                            <select class="form-control required" data-ng-model="section">
                                <option value="">Select Student Theory Section</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>

                            </select>
                        </div>
                    </div>


                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success" data-ng-click="searchForRoutineData()">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="arrowClass pull-left" data-ng-click="resetDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-4x"></i>  </div>

    <div class="orgRightClass pull-left" id="rightDiv">

        <div class="panel" style="min-height: 490px;">
            <div class="panel-heading">Class Routine<span
                    class="subtitle"></span></div>
            <div class="panel-body">
                <div class="row" data-ng-if="showLoader==true" align="center">
                    <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="row" data-ng-if="showLoader==false">
                    <div style="padding-left: 3%">
                        <button class="btn btn-success" data-ng-click="addNewData()" >Add Data</button>
                    </div>
                    <br>
                    <table class="table table-bordered" data-ng-if="addDataButtonClicked==true">
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th>Course No</th>
                            <th>Section</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Room No</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <th>
                                <select data-ng-model="addedDate" data-ng-change="dateSelected(addedDate)">
                                    <option data-ng-repeat="d in dates" value="{{d.id}}">{{d.dateName}}</option>
                                </select>
                            </th>
                            <th>
                                <select data-ng-model="addedCourse" data-ng-change="courseSelected(addedCourse)" >
                                    <option value="">Select a course</option>
                                    <option data-ng-repeat="c in courseArr" value="{{c.id}}">{{courseIdMapCourseNo[c.id]}}</option>
                                </select>
                            </th>
                            <th>
                                <div data-ng-if="courseType=='THEORY'">
                                    {{section}}
                                </div>
                                <div data-ng-if="courseType=='SESSIONAL'">
                                    <select data-ng-model="addedSection" data-ng-change="sectionChanged(addedSection)">
                                        <option value="">Select a section</option>
                                        <option data-ng-repeat="s in sessionalSections" value="{{s.name}}">{{s.name}}</option>
                                    </select>
                                </div>
                            </th>
                            <th>
                                <select data-ng-model="addedStartTime" data-ng-change="startTimeSelected(addedStartTime)">
                                    <option data-ng-repeat="t in times" value="{{t.id}}">{{t.val}}</option>
                                </select>
                            </th>
                            <th>
                                <select data-ng-model="addedEndTime" data-ng-change="endTimeSelected(addedEndTime)">
                                    <option data-ng-repeat="t in times" value="{{t.id}}">{{t.val}}</option>
                                </select>
                            </th>
                            <th>
                                <select data-ng-model="addedRoomNo" data-ng-change="roomNoSelected(addedRoomNo)">
                                    <option value="">Select Room No</option>
                                    <option data-ng-repeat="r in roomArr" value="{{r.roomNo}}">{{r.roomNo}}</option>
                                </select>
                            </th>
                            <th>
                                <form>
                                    <button class="btn btn-primary btn-xs" data-ng-click="addData()"><i class="fa fa-check" aria-hidden="true"></i></button>
                                    <button class="btn btn-primary btn-xs" data-ng-click="cancelData()"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </form>

                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <hr>
                <div class="row" data-ng-if="showLoader==false && showRoutineTable==true">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Course No</th>
                                <th>Section</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Room No</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="r in routineArr" data-ng-if="r.status!='deleted'">
                            <td data-ng-if="r.editRoutine!=true">{{dateMap[r.day]}}</td>
                            <td data-ng-if="r.editRoutine!=true">{{courseIdMapCourseNo[r.courseId]}}</td>
                            <td data-ng-if="r.editRoutine!=true">{{r.section}}</td>
                            <td data-ng-if="r.editRoutine!=true">{{r.startTime}}</td>
                            <td data-ng-if="r.editRoutine!=true">{{r.endTime}}</td>
                            <td data-ng-if="r.editRoutine!=true">{{r.roomNo}}</td>



                            <th data-ng-if="r.editRoutine==true">
                                <select data-ng-model="addedDate" data-ng-change="dateSelected(addedDate)">
                                    <option data-ng-repeat="d in dates" value="{{d.id}}">{{d.dateName}}</option>
                                </select>
                            </th>
                            <th data-ng-if="r.editRoutine==true"  >
                                <select data-ng-model="addedCourse" data-ng-change="courseSelected(addedCourse)" >
                                    <option value="">Select a course</option>
                                    <option data-ng-repeat="c in courseArr track by c.id" value="{{c.id}}">{{courseIdMapCourseNo[c.id]}}</option>
                                </select>
                            </th>
                            <th data-ng-if="r.editRoutine==true">
                                <div data-ng-if="courseType =='THEORY'">
                                    {{addedSection}}
                                </div>
                                <div data-ng-if="courseType =='SESSIONAL'">
                                    <select data-ng-model="addedSection"  data-ng-change="sectionChanged(addedSection)" >
                                        <option value="">Select a section</option>
                                        <option data-ng-repeat="s in sessionalSections" value="{{s.name}}">{{s.name}}</option>
                                    </select>
                                </div>
                            </th>
                            <th data-ng-if="r.editRoutine==true">
                                <select data-ng-model="addedStartTime" data-ng-change="startTimeSelected(addedStartTime)">
                                    <option data-ng-repeat="t in times" value="{{t.id}} track by t.id">{{t.val}}</option>
                                </select>
                            </th>
                            <th data-ng-if="r.editRoutine==true">
                                <select data-ng-model="addedEndTime" data-ng-change="endTimeSelected(addedEndTime)">
                                    <option data-ng-repeat="t in times" value="{{t.id}} ">{{t.val}}</option>
                                </select>
                            </th>
                            <th data-ng-if="r.editRoutine==true">
                                <select data-ng-model="addedRoomNo" data-ng-change="roomNoSelected(addedRoomNo)">
                                    <option value="">Select Room No</option>
                                    <option data-ng-repeat="rx in roomArr" value="{{rx.roomNo}}">{{rx.roomNo}}</option>
                                </select>
                            </th>


                            <th>
                                <form>
                                    <button data-ng-if="r.showEditButton!=false" class="btn btn-primary btn-xs" data-ng-click="editRoutineData(r)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                    <button data-ng-if="r.showAddButton" class="btn btn-primary btn-xs" data-ng-click="addRoutineData(r)"><i class="fa fa-check" aria-hidden="true"></i></button>
                                    <button data-ng-if="r.showCancelButton" class="btn btn-primary btn-xs" data-ng-click="cancelRoutineData(r)"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    <button class="btn btn-primary btn-xs" data-ng-click="deleteRoutineData(r)"><i class="fa fa-ban" aria-hidden="true"></i></button>
                                </form>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" align="right" data-ng-if="showSaveButton==true">
                    <form style="padding-right: 5%">
                        <button class="btn btn-success" data-ng-click="saveClassRoutine()" >Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css">

    .orgLeftClass {
        width: 30%;

    }

    .orgRightClass {
        width: 66%;
    }

    .arrowClass {
        display: none;
        cursor: pointer;
    }

    .orgLeftClass, .arrowClass {
        margin-right: 25px;
        margin-left: 8px;
    "

    }

    .newRightClass {
        width: 94%;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
        margin-bottom: 0px !important;
    }

    .table tbody tr td {
        border-top: none !important;
    }
</style>