<div class="row" data-ng-init="getSemesters()">
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>

    <div class="panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal" data-validate=""  data-onvalidate="searchForRoutineData" >
                <div class="form-body pal">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Program Type</label>
                        <div class="col-md-8">
                            <select name="programType" class="form-control required" data-ng-model="programType">
                                <option value="">Select Program Type</option>
                                <option value="1">Undergraduate</option>
                                <option value="2">Postgraduate</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>
                        <div class="col-md-8">
                            <select name="academicSemester" class="form-control required" data-ng-model="semesterId">
                                <option value="">Selected a Semester</option>
                                <option data-ng-repeat="s in semesterArr" value="{{s.id}}">{{s.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Year</label>
                        <div class="col-md-8">
                            <select name="year" class="form-control required" data-ng-model="studentsYear">
                                <option value="">Select Year</option>
                                <option value="1">1st year</option>
                                <option value="2">2nd year</option>
                                <option value="3">3rd year</option>
                                <option value="4">4th year</option>
                                <option value="5">5th year</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>
                        <div class="col-md-8">
                            <select name="semester" class="form-control required" data-ng-model="studentsSemester">
                                <option value="">Select Semester</option>
                                <option value="1">1st semester</option>
                                <option value="2">2nd semester</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Theory Section</label>
                        <div class="col-md-8">
                            <select name="section" class="form-control required" data-ng-model="section">
                                <option value="">Select Student Theory Section</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div  id="rightDiv">

        <div class="panel" style="min-height: 490px;">
            <div class="panel-heading">Here goes Information about Program Type,Year-Semester, Academic Semester and Section <span
                    class="subtitle"></span></div>
            <div class="panel-body">
                <div class="row" data-ng-if="showLoader==true" align="center">
                    <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="row" data-ng-show="showLoader==false">
                    <div class="col-md-12" style="padding: 0px 15px;">

                        <div class="row" style="margin-top: -15px;" id="downArrowDiv">
                            <div class="col-md-2 col-md-offset-5">
                                <center>
                                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Show Add Form" class="tooltips">
                                        <i  class="fa fa-chevron-down" aria-hidden="true" data-ng-click="addDivControl('show')" style="cursor: pointer;"></i>
                                    </a>
                                </center>
                            </div>
                        </div>

                        <div class="row" style="margin-top: -15px;display: none;" id="upArrowDiv">
                            <div class="col-md-2 col-md-offset-5">
                                <center>
                                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Hide Add Form" class="tooltips">
                                        <i  class="fa fa-chevron-up" aria-hidden="true" data-ng-click="addDivControl('hide')" style="cursor: pointer;"></i>
                                    </a>
                                </center>
                            </div>
                        </div>

                    <table class="table table-bordered" id="addNewDataTable" style="display: none;">
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th>Course No</th>
                            <th>Section</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Room No</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <th>
                                <select data-ng-model="addedDate" data-ng-change="dateSelected(addedDate,addedRoutine)">
                                    <option data-ng-repeat="date in dates" value="{{date.id}}">{{date.name}}</option>
                                </select>
                            </th>
                            <th>
                                <select data-ng-model="addedCourse" data-ng-change="courseSelected(addedCourse,addedRoutine)" >
                                    <option value="">Select a course</option>
                                    <option data-ng-repeat="c in courseArr" value="{{c.id}}">{{courseIdMapCourseNo[c.id]}}</option>
                                </select>
                            </th>
                            <th>
                                <div data-ng-if="courseType=='THEORY'">
                                    {{section}}
                                </div>
                                <div data-ng-if="courseType=='SESSIONAL'">
                                    <select data-ng-model="addedSection" data-ng-change="sectionChanged(addedSection,addedRoutine)">
                                        <option value="">Select a section</option>
                                        <option data-ng-repeat="s in sessionalSections" value="{{s.name}}">{{s.name}}</option>
                                    </select>
                                </div>
                            </th>
                            <th>
                                <select data-ng-model="addedStartTime" data-ng-change="startTimeSelected(addedStartTime,addedRoutine)">
                                    <option data-ng-repeat="t in times" value="{{t.id}}">{{t.val}}</option>
                                </select>
                            </th>
                            <th>
                                <select data-ng-model="addedEndTime" data-ng-change="endTimeSelected(addedEndTime,addedRoutine)">
                                    <option data-ng-repeat="t in times" value="{{t.id}}">{{t.val}}</option>
                                </select>
                            </th>
                            <th>
                                <select data-ng-model="addedRoomNo" data-ng-change="roomNoSelected(addedRoomNo,addedRoutine)">
                                    <option value="">Select Room No</option>
                                    <option data-ng-repeat="r in roomArr" value="{{r.roomNo}}">{{r.roomNo}}</option>
                                </select>
                            </th>
                            <th>
                                <form>
                                    <button class="btn btn-primary btn-xs" data-ng-click="addData()"><i class="fa fa-check" aria-hidden="true"></i></button>
                                    <button class="btn btn-primary btn-xs" data-ng-click="cancelData()"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </form>

                            </th>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

                <div class="row" data-ng-if="showLoader==false && showRoutineTable==true">
                    <div class="col-md-12" style="padding: 0px 15px;">
                        <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>Course No</th>
                                <th>Section</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Room No</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="r in routineArr" data-ng-if="r.status!='deleted'">
                            <td data-ng-if="r.editRoutine!=true">{{dateMap[r.day]}}</td>
                            <td data-ng-if="r.editRoutine!=true">{{courseIdMapCourseNo[r.courseId]}}</td>
                            <td data-ng-if="r.editRoutine!=true">{{r.section}}</td>
                            <td data-ng-if="r.editRoutine!=true">{{r.startTime}}</td>
                            <td data-ng-if="r.editRoutine!=true">{{r.endTime}}</td>
                            <td data-ng-if="r.editRoutine!=true">{{r.roomNo}}</td>



                            <th data-ng-if="r.editRoutine==true">
                                <select data-ng-model="r.day" data-ng-change="dateSelected(r.day,r)">
                                    <option value="">Select day</option>
                                    <option data-ng-repeat="date in dates" value="{{date.id}}">{{date.name}}</option>
                                </select>
                            </th>
                            <th data-ng-if="r.editRoutine==true"  >
                                <select data-ng-model="r.course" data-ng-change="courseSelected(r.course,r)" >
                                    <option value="">Select a course</option>
                                    <option data-ng-repeat="c in courseArr track by c.id" value="{{c.id}}">{{courseIdMapCourseNo[c.id]}}</option>
                                </select>
                            </th>
                            <th data-ng-if="r.editRoutine==true">
                                <div data-ng-if="courseType =='THEORY'">
                                    {{r.section}}
                                </div>
                                <div data-ng-if="courseType =='SESSIONAL'">
                                    <select data-ng-model="r.section"  data-ng-change="sectionChanged(r.section,r)" >
                                        <option value="">Select a section</option>
                                        <option data-ng-repeat="s in sessionalSections" value="{{s.name}}">{{s.name}}</option>
                                    </select>
                                </div>
                            </th>
                            <!--<th data-ng-if="r.editRoutine==true">
                                <select data-ng-model="r.startTime" data-ng-change="startTimeSelected(addedStartTime,r)">
                                    <option data-ng-repeat="t in times" value="{{t.id}} track by t.id">{{t.val}}</option>
                                </select>
                            </th>-->
                            <th data-ng-if="r.editRoutine==true">
                                <select data-ng-model="r.startTime" data-ng-change="startTimeSelected(r.startTime,r)">
                                    <option data-ng-repeat="t in times" value="{{t.id}} ">{{t.val}}</option>
                                </select>
                            </th>
                            <th data-ng-if="r.editRoutine==true">
                                <select data-ng-model="r.endTime" data-ng-change="endTimeSelected(r.endTime,r)">
                                    <option data-ng-repeat="t in times" value="{{t.id}} ">{{t.val}}</option>
                                </select>
                            </th>
                            <th data-ng-if="r.editRoutine==true">
                                <select data-ng-model="r.roomNo" data-ng-change="roomNoSelected(r.roomNo,r)">
                                    <option value="">Select Room No</option>
                                    <option data-ng-repeat="rx in roomArr" value="{{rx.roomNo}}">{{rx.roomNo}}</option>
                                </select>
                            </th>


                            <th>
                                <form>
                                    <button data-ng-if="r.showEditButton!=false" class="btn btn-primary btn-xs" data-ng-click="editRoutineData(r)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                    <button data-ng-if="r.showAddButton" class="btn btn-primary btn-xs" data-ng-click="addRoutineData(r)"><i class="fa fa-check" aria-hidden="true"></i></button>
                                    <button data-ng-if="r.showCancelButton" class="btn btn-primary btn-xs" data-ng-click="cancelRoutineData(r)"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    <button class="btn btn-primary btn-xs" data-ng-click="deleteRoutineData(r)"><i class="fa fa-ban" aria-hidden="true"></i></button>
                                </form>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                        </div>
                </div>
                <div class="row" align="right" data-ng-if="showSaveButton==true">
                    <form style="padding-right: 5%">
                        <button class="btn btn-success" data-ng-click="saveClassRoutine()" >Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
//    setTimeout(function () {$(".fa+.fa-chevron-down").tooltip({placement : 'top', trigger : 'hover', title : "Download Promotion List"});}, 100);
$(".tooltips").tooltip();
</script>
