<div class="row">
  <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
    <i class="fa fa-angle-double-right fa-cx"></i></i>
  </div>

  <div class="panel panel-green" id="leftDiv">
    <div class="panel-heading">
      <h3 class="panel-title">Select </h3>
    </div>
    <div class="panel-body pan">
      <div data-ng-include="" data-src="'views/dept/assigned-teacher-selector.html'"></div>
    </div>
  </div>
  <div  id="rightDiv" data-ng-if="showRightSide">
    <div class="panel" style="min-height: 490px;">
      <div class="panel-heading" style="font-size: 14px;">
        <b>Program:</b>  {{programName}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Dept./School :</b>  {{departmentName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Semester :</b>  {{semesterName}}
        <span class="subtitle"></span></div>
      <div class="panel-body">

        <div class="spinner" ng-show="loadingVisibility">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <div data-ng-if="contentVisibility">
          <div class="alert alert-success" style="color: #3c763d;font-weight: bold;padding: 5px;">
            {{academicYear}} {{academicSemester? "- "+ academicSemester: ""}} : {{courseCategory}} Courses
          </div>
          <table class="table table-hover table-bordered table-advanced">
            <thead>
            <tr role="row" class="heading">
              <th width="10%" class="sorting">CourseNo</th>
              <th width="25%" class="sorting_asc">Course Title</th>
              <th width="4%" class="sorting">CrHr</th>
              <th width="50%" class="sorting">
                <table class="course-teacher-inner-header">
                  <tr>
                    <td width="74%">Course Teacher</td>
                    <td width="26%">Sections</td>
                  </tr>
                </table>
              </th>
              <th width="8%" class="sorting">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="(courseId, courseTeacher) in entries">
              <td>{{courseTeacher.courseNo}}</td>
              <td>{{courseTeacher.courseTitle}}</td>
              <td>{{courseTeacher.courseCrHr}}</td>
              <td>
                <table class="course-teacher-inner">
                  <tr data-ng-repeat="selectedTeacher in courseTeacher.selectedTeachers">
                    <td width="70%">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <select class="form-control" data-ng-if="courseTeacher.editMode"
                                data-select="select2"
                                data-ng-model="selectedTeacher.id"
                                data-ng-options="teacher.id as teacher.name for teacher in courseTeacher.teachers">
                        </select>
                        <div style="padding-left:5px;padding-top:5px;" data-ng-if="!courseTeacher.editMode">{{selectedTeacher.name}}</div>
                      </div>
                    </td>
                    <td width="5%">&nbsp;</td>
                    <td width="20%">
                      <select multiple="multiple" data-ng-if="courseTeacher.editMode"
                              data-style="btn-white"
                              data-select="select-picker"
                              class="form-control" data-ng-model="selectedTeacher.sections"
                              style="width:50px;"
                              data-ng-options="section.name as section.name for section in courseTeacher.sections">
                      </select>
                      <span data-ng-if="!courseTeacher.editMode" data-ng-repeat="section in selectedTeacher.sections">{{section}}{{$last ? '' : ', '}}</span>
                    </td>
                    <td width="5%" style="padding-left: 5px;">
                      <a href="javascript:void(0);" class="btn btn-xs btn-default" data-ng-if="courseTeacher.editMode"
                         data-ng-click="removeTeacher(courseId, selectedTeacher.id)">
                        <i class="fa fa-times" style="color: red;"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <div class="mbs">
                  <button class="btn btn-xs btn-success filter-submit" data-ng-click="editTeacher(courseId)"
                          data-ng-if="!courseTeacher.editMode && !isEmpty(courseTeacher.selectedTeachers)">
                    <i class="fa fa-plus-square-o"></i>
                    Edit
                  </button>
                </div>
                <div class="mbs" data-ng-if="courseTeacher.editMode || isEmpty(courseTeacher.selectedTeachers)">
                  <button class="btn btn-xs btn-success filter-submit" data-ng-click="addTeacher(courseId)">
                    <i class="fa fa-plus-square-o"></i>
                    Add
                  </button>
                </div>
                <div class="mbs" data-ng-if="courseTeacher.editMode">
                  <a href="javascript:void(0);" class="btn btn-xs btn-default"
                     data-ng-click="saveTeacher(courseId);">
                    <i class="fa fa-save"></i>&nbsp;
                    Save
                  </a>
                </div>
                <div class="mbs" data-ng-if="courseTeacher.editMode">
                  <a href="javascript:void(0);" class="btn btn-xs btn-default"
                     data-ng-click="fetchTeacherInfo()">
                    <i class="fa fa-reply"></i>&nbsp;
                    Cancel
                  </a>
                </div>

              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="form-actions text-right pal" style="margin-top:25px;">
        <button type="button" class="btn btn-success" data-ng-click="saveTeachers()" data-ng-if="showSaveButton">Save Course-Teacher Info
        </button>
      </div>
    </div>
  </div>


</div>

