<div class="panel panel-green">
    <div class="panel-heading">
        Student's Advisor Assignment
    </div>
    <div class="panel-body panel-height">
        <div class="row">
            <div class="col-md-2" align="right">Select a semester</div>
            <div class="col-md-4">
                <opton value="">Select Semester</opton>
            </div>
            <div class="col-md-2" align="right">
                Select Advisor assignment type
            </div>
            <div class="col-md-4">
                <select data-ng-model="type">
                    <option value="">Select Type</option>
                    <option value="1">Bulk Assignment/Shifting</option>
                    <option value="2">Shifting Students Advisor</option>
                    <option value="3">Change a student's advisor</option>
                </select>
            </div>


        </div>

    </div>
</div>

<style>
    .panel-height{
        min-height: 400px;
    }
</style>