<div class="row">
    <div class="col-md-6">
        <div class="portlet box portlet-blue">
            <div class="portlet-header">
                <div class="caption">1st Year 1st Semester</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
            </div>
            <div class="portlet-body pan">
                <div class="table-responsive">
                    <table id="user-last-logged-table" class="table table-striped table-hover thumb-small">
                        <thead>
                        <tr class="condensed">
                            <th scope="col">Course No <span class="column-sorter"></span></th>
                            <th scope="col">Course Title<span class="column-sorter"></span></th>
                            <th scope="col">Course Type<span class="column-sorter"></span></th>
                            <th scope="col">CrHr<span class="column-sorter"></span></th>
                            <th scope="col">Action<span class="column-sorter"></span></th>
                        </tr>
                        </thead>
                        <tbody class="media-thumb">
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box portlet-blue">
            <div class="portlet-header">
                <div class="caption">1st Year 2nd Semester</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
            </div>
            <div class="portlet-body pan">
                <div class="table-responsive">
                    <table id="user-last-logged-table" class="table table-striped table-hover thumb-small">
                        <thead>
                        <tr class="condensed">
                            <th scope="col">Course No <span class="column-sorter"></span></th>
                            <th scope="col">Course Title<span class="column-sorter"></span></th>
                            <th scope="col">Course Type<span class="column-sorter"></span></th>
                            <th scope="col">CrHr<span class="column-sorter"></span></th>
                            <th scope="col">Action<span class="column-sorter"></span></th>
                        </tr>
                        </thead>
                        <tbody class="media-thumb">
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="portlet box portlet-blue">
            <div class="portlet-header">
                <div class="caption">2nd Year 1st Semester</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
            </div>
            <div class="portlet-body pan">
                <div class="table-responsive">
                    <table id="user-last-logged-table" class="table table-striped table-hover thumb-small">
                        <thead>
                        <tr class="condensed">
                            <th scope="col">Course No <span class="column-sorter"></span></th>
                            <th scope="col">Course Title<span class="column-sorter"></span></th>
                            <th scope="col">Course Type<span class="column-sorter"></span></th>
                            <th scope="col">CrHr<span class="column-sorter"></span></th>
                            <th scope="col">Action<span class="column-sorter"></span></th>
                        </tr>
                        </thead>
                        <tbody class="media-thumb">
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box portlet-blue">
            <div class="portlet-header">
                <div class="caption">2nd Year 2nd Semester</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
            </div>
            <div class="portlet-body pan">
                <div class="table-responsive">
                    <table id="user-last-logged-table" class="table table-striped table-hover thumb-small">
                        <thead>
                        <tr class="condensed">
                            <th scope="col">Course No <span class="column-sorter"></span></th>
                            <th scope="col">Course Title<span class="column-sorter"></span></th>
                            <th scope="col">Course Type<span class="column-sorter"></span></th>
                            <th scope="col">CrHr<span class="column-sorter"></span></th>
                            <th scope="col">Action<span class="column-sorter"></span></th>
                        </tr>
                        </thead>
                        <tbody class="media-thumb">
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="portlet box portlet-blue">
            <div class="portlet-header">
                <div class="caption">3rd Year 1st Semester</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
            </div>
            <div class="portlet-body pan">
                <div class="table-responsive">
                    <table id="user-last-logged-table" class="table table-striped table-hover thumb-small">
                        <thead>
                        <tr class="condensed">
                            <th scope="col">Course No <span class="column-sorter"></span></th>
                            <th scope="col">Course Title<span class="column-sorter"></span></th>
                            <th scope="col">Course Type<span class="column-sorter"></span></th>
                            <th scope="col">CrHr<span class="column-sorter"></span></th>
                            <th scope="col">Action<span class="column-sorter"></span></th>
                        </tr>
                        </thead>
                        <tbody class="media-thumb">
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box portlet-blue">
            <div class="portlet-header">
                <div class="caption">3rd Year 2nd Semester</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
            </div>
            <div class="portlet-body pan">
                <div class="table-responsive">
                    <table id="user-last-logged-table" class="table table-striped table-hover thumb-small">
                        <thead>
                        <tr class="condensed">
                            <th scope="col">Course No <span class="column-sorter"></span></th>
                            <th scope="col">Course Title<span class="column-sorter"></span></th>
                            <th scope="col">Course Type<span class="column-sorter"></span></th>
                            <th scope="col">CrHr<span class="column-sorter"></span></th>
                            <th scope="col">Action<span class="column-sorter"></span></th>
                        </tr>
                        </thead>
                        <tbody class="media-thumb">
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="portlet box portlet-blue">
            <div class="portlet-header">
                <div class="caption">4th Year 1st Semester</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
            </div>
            <div class="portlet-body pan">
                <div class="table-responsive">
                    <table id="user-last-logged-table" class="table table-striped table-hover thumb-small">
                        <thead>
                        <tr class="condensed">
                            <th scope="col">Course No <span class="column-sorter"></span></th>
                            <th scope="col">Course Title<span class="column-sorter"></span></th>
                            <th scope="col">Course Type<span class="column-sorter"></span></th>
                            <th scope="col">CrHr<span class="column-sorter"></span></th>
                            <th scope="col">Action<span class="column-sorter"></span></th>
                        </tr>
                        </thead>
                        <tbody class="media-thumb">
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box portlet-blue">
            <div class="portlet-header">
                <div class="caption">4th Year 2nd Semester</div>
                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
            </div>
            <div class="portlet-body pan">
                <div class="table-responsive">
                    <table id="user-last-logged-table" class="table table-striped table-hover thumb-small">
                        <thead>
                        <tr class="condensed">
                            <th scope="col">Course No <span class="column-sorter"></span></th>
                            <th scope="col">Course Title<span class="column-sorter"></span></th>
                            <th scope="col">Course Type<span class="column-sorter"></span></th>
                            <th scope="col">CrHr<span class="column-sorter"></span></th>
                            <th scope="col">Action<span class="column-sorter"></span></th>
                        </tr>
                        </thead>
                        <tbody class="media-thumb">
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-default">Sessional</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">
                                <h6 class="media-heading">CSE 3211</h6></a>
                            </td>
                            <td>Data Communication</td>
                            <td><span class="label label-success">Theory</span></td>
                            <td><strong class="user-list-ip">3.0</strong></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>