<div class="row" id="topArrowDiv">

    <div class="col-md-2 col-md-offset-5">
        <center>
        <i class="fa fa-chevron-down" aria-hidden="true" onclick="resetTopBottomDivs()"  style="cursor: pointer;"></i>
            </center>
    </div>
</div>

<div class="row" id="courseSelectionDiv">
    <div  onclick="resetCommonCollapsibleDivs()" id="arrowDiv"><i
            class="fa fa-angle-double-right fa-cx"></i></i> </div>
    <div class="panel panel-green"  id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal" data-validate=""  data-onvalidate="fetchCourseInfo" >
                <div class="form-body pal">
                    <div data-program-selector="" data-model="courseMaterialSearchParamModel.programSelector"></div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>
                        <div class="col-md-8">
                            <select class="form-control required"
                                    data-ng-model="courseMaterialSearchParamModel.semesterId"
                                    ng-init="courseMaterialSearchParamModel.academicSemesterId=''">
                                <option data-ng-repeat="semester in courseMaterialSearchParamModel.programSelector.getSemesters()"
                                        value="{{semester.id}}">
                                    {{semester.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div id="rightDiv" >
        <div class="panel">
            <div class="panel-heading">Available Course List</div>
            <div class="panel-body">
                <div class="spinner" ng-show="loadingVisibility">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div data-ng-if="contentVisibility">
                    <table class="table table-hover table-bordered table-advanced">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="15%" class="sorting">Program</th>
                            <th width="10%" class="sorting">CourseNo</th>
                            <th width="30%" class="sorting_asc">Course Title</th>
                            <th width="10%" class="sorting">CrHr</th>
                            <th width="15%" class="sorting">Sections</th>
                            <th width="20%" class="sorting">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="(courseId, courseTeacher) in entries">
                            <td>{{::courseTeacher.programName}}</td>
                            <td>{{::courseTeacher.courseNo}}</td>
                            <td>{{::courseTeacher.courseTitle}}</td>
                            <td>{{::courseTeacher.courseCrHr}}</td>
                            <td>{{::courseTeacher.section}}</td>
                            <td>
                                <div class="mbs">
                                    <button class="btn btn-xs btn-success filter-submit"
                                            data-ng-click="initFileManager(courseTeacher.semesterName, courseTeacher.courseNo,
                                            courseMaterialSearchParamModel.semesterId, courseTeacher.courseId)">
                                        <i class="fa fa-plus-square-o"></i>
                                        Course Material
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function resetTopBottomDivs(){
        $("#topArrowDiv").hide(10);
        $("#courseSelectionDiv").show(200);
    }
</script>
<div class="row" style="padding-left: 10px;">
    <angular-filemanager data-ng-if="reloadOn"></angular-filemanager>
</div>


