<style>
    .orgLeftClass {
        width: 30%;
    }
    .orgRightClass {
        width: 66%;
    }
    .arrowClass {
        display: none;
        cursor: pointer;
    }
    .orgLeftClass, .arrowClass {
        margin-right: 25px;
        margin-left: 8px;
    }
    .newRightClass {
        width: 94%;
    }
</style>
<div class="row">
    <div class="orgLeftClass pull-left panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal">
                <div class="form-body pal">
                    <div data-program-selector="" data-model="courseMaterialSearchParamModel.programSelector"></div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>

                        <div class="col-md-8">
                            <select class="form-control required"
                                    data-ng-model="courseMaterialSearchParamModel.semesterId"
                                    ng-init="courseMaterialSearchParamModel.academicSemesterId=''">
                                <option data-ng-repeat="semester in courseMaterialSearchParamModel.programSelector.getSemesters()"
                                        value="{{semester.id}}">
                                    {{semester.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success" data-ng-click="fetchCourseInfo()">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="arrowClass pull-left" onclick="resetDivs()" id="arrowDiv"><i
            class="fa fa-angle-double-right fa-4x"></i></i> </div>
    <div class="orgRightClass pull-left" id="rightDiv">
        <div class="panel">
            <div class="panel-heading">Course List</div>
            <div class="panel-body">

                <div class="spinner" ng-show="loadingVisibility">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div data-ng-if="contentVisibility">
                    <table class="table table-hover table-bordered table-advanced">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="10%" class="sorting">CourseNo</th>
                            <th width="60%" class="sorting_asc">Course Title</th>
                            <th width="10%" class="sorting">CrHr</th>
                            <th width="20%" class="sorting">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="course in entries">
                            <td>{{::course.no}}</td>
                            <td>{{::course.title}}</td>
                            <td>{{::course.crhr}}</td>
                            <td>
                                <div class="mbs">
                                    <button class="btn btn-xs btn-success filter-submit"
                                            data-ng-click="initFileManager(course.no, courseMaterialSearchParamModel.semesterId, course.id)">
                                        <i class="fa fa-plus-square-o"></i>
                                        Course Material
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
        margin-bottom: 0px !important;
    }

    .table tbody tr td {
        border-top: none !important;
    }
</style>
<script type="text/javascript">
    function resetDivs() {
        $("#arrowDiv").hide();
        $("#leftDiv").show();
        $("#rightDiv").removeClass("newRightClass");
        $("#rightDiv").addClass("orgRightClass");
    }
</script>
<div class="row">
    <angular-filemanager data-ng-if="reloadOn"></angular-filemanager>
</div>


