@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-light-webfont.woff') format('woff'), url('fonts/opensans-light-webfont.ttf') format('truetype'), url('fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-bold-webfont.woff') format('woff'), url('fonts/opensans-bold-webfont.ttf') format('truetype'), url('fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-semibold-webfont.woff') format('woff'), url('fonts/opensans-semibold-webfont.ttf') format('truetype'), url('fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('fonts/opensans-italic-webfont.eot');
    src: url('fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-italic-webfont.woff') format('woff'), url('fonts/opensans-italic-webfont.ttf') format('truetype'), url('fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body.sidebar-colors #wrapper #sidebar ul#side-menu li,
body.sidebar-colors #wrapper #sidebar ul#side-menu li a i {
    border: none;
}

body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-second-level li.active > a, body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-third-level li.active > a, body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-second-level li:hover > a, body.sidebar-colors #wrapper #sidebar ul#side-menu li ul.nav-third-level li:hover > a{
    background-color: #f8f8f8;
}


/*Footer*/
#footer {
    background-color: #fff;
    color: #333;
    text-align: center;
}

#sidebar div ul li:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0) 100%);
}

/*CSS Loading Start*/
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
/*CSS Loading End*/

/* Css Loading Wave Start*/
.loading_wave {
    margin: 100px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.loading_wave > div {
    background-color: #333;
    height: 100%;
    width: 4px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.loading_wave .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.loading_wave .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.loading_wave .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.loading_wave .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    } 20% {
          transform: scaleY(1.0);
          -webkit-transform: scaleY(1.0);
      }
}
/* Css Loading Wave End*/

.no-record{
    text-align: center;
    padding: 20px;
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom:2px dotted grey;
}

.right{
    text-align: right;
}
.bold{
    font-weight: bold;
}
.label-padding{
    padding-top: 15px;
}

/* Global  Font Color Start*/
.form-control {
    border-color: #adadad !important;
}

body{
    color:#474747 !important;
    /*color: #575757 !important;*/
    font-size: 13px !important;
}

.shadowPanel{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-color:#e4e4e4;
    transition:box-shadow 0.2s ease-in 0s;
    border-radius:2px;
}
/* Global  Font Color  End*/

/* horizontal bar style*/
/* http://component.vizrt.internal
   https://codepen.io/ibrahimjabbari/pen/ozinB
*/
/* Gradient color1 - color2 - color1 */
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/* Gradient transparent - color - transparent */
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* Double-color dashed line */

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
/* Inset, by Dan Eden */
hr.style5 {
    background-color: #fff;
    border-top: 1px dashed #8c8b8b;
}
hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
/* Glyph, by Harry Roberts */

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
/* End of horizontal bar style */

/* Modal Style Override */
.modal-dialog {
    margin: 100px auto !important;
}
.course-teacher-inner-header {
    border: 0;
    width: 100%;
}
.course-teacher-inner {
    border-collapse:separate;
    border-spacing:4px;
    border: 0;
    width: 100%;
}

/*For JQGrid horizontal scrollbar issue*/
div.ui-jqgrid-view table.ui-jqgrid-btable {
    border-style: none;
    border-collapse: separate;
}

div.ui-jqgrid-view table.ui-jqgrid-btable td {
    border-left-style: none
}

div.ui-jqgrid-view table.ui-jqgrid-htable {
    border-collapse: separate;
}

div.ui-jqgrid-view table.ui-jqgrid-btable th {
    border-left-style: none
}

.datepicker.dropdown-menu {
    z-index: 2000 !important;
}

/*jQgrid row color style*/
.activeSemesterBG { background-color: #CCFFFF; background-image: none; }
.newlyCreatedSemesterBG { background-color: #EBDEF0; background-image: none; }

.ui-jqgrid .loading{
    height: auto;
}

.ui-jqgrid .ui-jqgrid-btable { cursor : pointer; }

/* Change the Modal Dialog Style as it was overridden by Jquery File Upload Manager */
.modal .modal-header{
    background:#4b5d67 !important;
    border-radius:0px !important;
}
.modal .modal-header .modal-title{
    color:white !important;
}
.modal .modal-header .close{
    color:white !important;
}
/*== End ==*/

.page-title-breadcrumb{
    height: 42px !important;
}
.page-title-breadcrumb .breadcrumb {
    padding-top: 10px !important;
}
.page-title-breadcrumb .page-header .page-title {
    font-size: 20px !important;
    font-weight: 400;
}
.page-content{
    padding-left: 16px !important;
    padding-top: 12px !important;
}
.form-control {
    font-size: 13px !important;
}
.tooltip-inner{
    padding-bottom: 1px !important;
}

/* Tooltips */
.img_tooltip{
    content:url(../images/icons/stop_round.png);
    height: 16px;
    width: 16px;
}

/* Notification modal */
#topbar .navbar-top-links li .dropdown-menu li a{
    color: black !important;
}
#topbar .navbar-top-links ul.dropdown-alerts{
    width:400px !important;
}

/** Collapsible divs (for example - grade submission table select query **/
#arrowDiv {
    display: none;
    cursor: pointer;
    float:left;
    width:20px;
    margin-right: 15px;
    margin-left: 10px;
}
#leftDiv {
    float:left;
    width:30%;
    margin-right: 12px;
    margin-left: 12px;
}

#rightDiv {
    overflow:hidden;
}
@media screen and (max-width: 900px) {
    #leftDiv {
        margin-left: 12px;
        float: none;
        width:auto;
    }
}
#topArrowDiv {
    display: none;
    margin-top: -10px;
}
/* End*/

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
    margin-bottom: 0px !important;
}
.table tbody tr td {
    border-top: none !important;
}