<style>
    .datepicker-default.form-control{
        height: 25px !important;
    }
</style>

<div class="row">
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>
    <div class="panel panel-green" id=0"leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Search Book</h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal" data-validate="">
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Book Name</label>
                        <div class="col-md-8">
                            <input type="text" name="myBook" id="mBook" data-ng-model="book"/>
                            <label data-ng-model="msg_book"></label>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success" data-ng-click="getAll()">Get All Books</button>
                    <button type="button" class="btn btn-success" data-ng-click="search()">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div id="rightDiv">
        <div class="panel">
            <div class="panel-heading">Book Information<span
                    class="subtitle"></span></div>
            <div class="panel-body shadowPanel"   style="min-height: 490px;">
                <div class="row" data-ng-if="showTable==true" style="padding-left: 2%; padding-right: 2%;">
                    <table class="table table-bordered table-advanced table-striped">
                        <thead id="thead" role="row"  class="heading">
                        <th style="text-align:center;">Book Title</th>
                        <th align="center">Author Title</th>
                        <th align="center">Operation</th>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="b in foundbooks" align="center">
                            <td>{{b.bookName}}</td>
                            <td>{{b.authorName}}</td>
                            <td><input type="button" value="Delete" data-ng-click="remove(b.bookName, b.authorName)"/></td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>>