<style>


</style>

<link type="text/css" rel="stylesheet" src="account.group.css"/>
<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">Financial Account year</div>
                <div class="col-md-6" align="right"
                     data-ng-include="'views/definitions/financial.account.year/menu.html'"></div>
            </div>
        </div>
        <div class="panel-body shadowPanel" style="min-height: 490px;">

            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8"
                     ng-include="'views/definitions/financial.account.year/current.financial.year.form.include.html'"></div>
                <div class="col-md-2"></div>

            </div>

            <div class="row">
                <div class="col-md-12"
                     ng-include="'views/definitions/financial.account.year/addModalInclude.html'"></div>
            </div>

            <!-- <div class="row">
                 <div class="col-md-12">
                     <hot-table settings="vm.handsOnTableFeature.settings" hot-id="group" datarows="vm.groups"
                                autoWrapRow="true" columns="vm.handsOnTableFeature.columns"></hot-table>
                 </div>
             </div>-->

        </div>

    </div>
</div>