<button class="btn btn-default" data-ng-click="vm.addModalClicked()" data-toggle="modal" data-target="#addModal"><i
        class="fa fa-plus" aria-hidden="true"></i></button>
<button class="btn btn-default" data-ng-click="vm.edit()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
<button class="btn btn-default" data-ng-click="vm.undo()"><i class="fa fa-undo" aria-hidden="true"></i></button>
<button class="btn btn-default" data-ng-click="vm.saveAll()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
