<div class="panel">
    <div class="panel-body shadowPanel" style="min-height: 490px;">
        <fieldset class="container-fluid">
            <fieldset>
               <legend><i style="cursor: pointer" title="Go Back" class="fa fa-arrow-circle-left fa-lg" data-ng-click="vm.hidePreviousMeetings()"></i></legend>
            </fieldset>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Meeting Type</th>
                        <th>Meeting No.</th>
                        <th>Ref No.</th>
                        <th>Date & Time</th>
                        <th>Room / Place</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                        <td><i class="fa fa-edit" style="cursor: pointer; color: blue;"></i></td>
                    </tr>
                    </tbody>
                </table>

        </div>
    </div>
</div>
