<div class="panel">
    <div class="panel-body shadowPanel" style="min-height: 490px;">
        <div class="container-fluid">
            <fieldset>
                <legend><i style="cursor: pointer" title="Go Back" class="fa fa-arrow-circle-left fa-lg"
                           data-ng-click="vm.hidePreviousMeetings()"></i></legend>
            </fieldset>
            <div class="row">
                <div class="col-md-3">
                    <div data-ng-show="vm.showFilterFields">
                        <select id="iFilterType"
                                name="nFilterType"
                                data-ng-model="vm.meetingType"
                                data-ng-options="meetingType.name for meetingType in vm.meetingTypes track by meetingType.id"
                                class="form-control">
                            <option value="">Select Meeting Type</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1">
                    <div data-ng-show="vm.showFilterFields">
                        <button data-ng-click="vm.doFilter()" class="btn btn-default">
                            <i style="cursor: pointer" title="Go Back" class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-5">
                    <div align="right" data-ng-show="!vm.showFilterFields">
                        <button data-ng-click="vm.modifyFilterFields(true)" class="btn btn-blue">
                            <i style="cursor: pointer" title="Go Back" class="fa fa-filter"></i>
                        </button>
                    </div>
                    <div align="right" data-ng-show="vm.showFilterFields">
                        <button data-ng-click="vm.undoFilter()" class="btn btn-info">
                            <i style="cursor: pointer" title="Undo Filter" class="fa fa-undo"></i>
                        </button>
                        <button data-ng-click="vm.modifyFilterFields(false)" class="btn btn-danger">
                            <i style="cursor: pointer" title="Close" class="fa fa-close"></i>
                        </button>
                    </div>

                </div>
            </div>

            <hr/>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Meeting Type</th>
                    <th>Meeting No.</th>
                    <th>Ref No.</th>
                    <th>Date & Time</th>
                    <th>Room / Place</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody data-ng-repeat="(k, v) in vm.filteredMeetingScheduleList">
                <tr>
                    <td>{{k + 1}}</td>
                    <td>{{v.type.name}}</td>
                    <td>{{v.meetingNo}}</td>
                    <td>{{v.refNo}}</td>
                    <td>{{v.datetime}}</td>
                    <td>{{v.room}}</td>
                    <td><a data-toggle="modal" data-target="#editSchedule" data-ng-click="vm.selectedScheduleToEdit(v)"
                           style="cursor: pointer;"><i
                            class="fa fa-edit" style="cursor: pointer; color: blue;"></i>
                    </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="editSchedule" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
     aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Edit</h5>
                <div class="modal-body">
                    <form name="nScheduleEditForm" class="form-horizontal" ng-submit="vm.update()" novalidate>
                        <div class="form-body pal">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : nScheduleEditForm.nEditType.$invalid && !nScheduleEditForm.nEditType.$pristine }">
                                <label class="col-md-3 control-label">Meeting Type</label>
                                <div class="col-md-9">
                                    <select id="iEditType"
                                            name="nEditType"
                                            data-ng-model="vm.scheduleToEdit.type"
                                            data-ng-options="meetingType.name for meetingType in vm.meetingTypes track by meetingType.id"
                                            class="form-control" required>
                                        <option value="">Select Meeting Type</option>
                                    </select>

                                    <label data-ng-show="nScheduleEditForm.nType.$invalid && !nScheduleEditForm.nType.$pristine"
                                           class="help-block control-label">Please specify meeting type.</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Meeting No.</label>
                                <div class="col-md-9">
                                    <input type="number"
                                           data-ng-model="vm.scheduleToEdit.meetingNo"
                                           class="form-control"
                                           placeholder="Meeting No."
                                           readonly/>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : nScheduleEditForm.nEditRefNo.$invalid && !nScheduleEditForm.nEditRefNo.$pristine }">
                                <label class="col-md-3 control-label">Ref No.</label>
                                <div class="col-md-9">
                                    <input id="iEditRefNo"
                                           name="nEditRefNo"
                                           type="text"
                                           data-ng-model="vm.scheduleToEdit.refNo"
                                           class="form-control"
                                           placeholder="Ref No." required>

                                    <label data-ng-show="nScheduleEditForm.nEditRefNo.$invalid && !nScheduleEditForm.nEditRefNo.$pristine"
                                           class="help-block control-label">Please specify ref no.</label>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : nScheduleEditForm.nEditDateTime.$invalid && !nScheduleEditForm.nEditDateTime.$pristine }">
                                <label class="col-md-3 control-label">Date & Time</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-calendar"></i>
                                        <input name="nEditDateTime"
                                               type="text"
                                               id="datetimepicker-default"
                                               data-ng-model="vm.scheduleToEdit.datetime"
                                               data-datetime-format="mm/dd/yyyy h:mm a"
                                               class="form-control"
                                               autocomplete="off" required>

                                        <label data-ng-show="nScheduleEditForm.nEditDateTime.$invalid && !nScheduleEditForm.nEditDateTime.$pristine"
                                               class="help-block control-label">Please specify date & time.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : nScheduleEditForm.nEditRoom.$invalid && !nScheduleEditForm.nEditRoom.$pristine }">
                                <label class="col-md-3 control-label">Room / Place</label>
                                <div class="col-md-9">
                                    <input id="iEditRoom"
                                           name="nEditRoom"
                                           type="text"
                                           data-ng-model="vm.scheduleToEdit.room"
                                           class="form-control"
                                           placeholder="Meeting Room" required>

                                    <label data-ng-show="nScheduleEditForm.nEditRoom.$invalid && !nScheduleEditForm.nEditRoom.$pristine"
                                           class="help-block control-label">Please specify a room or place.</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-right pal">
                            <button type="submit" data-ng-disabled="nScheduleEditForm.$invalid" class="btn btn-success">
                                Update
                            </button>
                        </div>
                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
