<div data-ng-if="!vm.showPreviousMeetingList">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-blue">
                <div class="panel-heading">Create Schedule
                    <span style='float:right;'><a class="btn btn-white btn-sm"
                                                  data-ng-click="vm.showPreviousMeetings()"><i
                            class="fa fa-history"></i></a>&nbsp;
                </span>
                </div>
                <div class="panel-body pan">
                    <form name="nScheduleForm" class="form-horizontal" ng-submit="vm.save()" novalidate>
                        <div class="form-body pal">
                            <div class="form-group"
                                 ng-class="{ 'has-error' : nScheduleForm.nType.$invalid && !nScheduleForm.nType.$pristine }">
                                <label class="col-md-3 control-label">Meeting Type</label>
                                <div class="col-md-9">
                                    <select id="iType"
                                            name="nType"
                                            data-ng-model="vm.meetingSchedule.type"
                                            data-ng-options="meetingType.name for meetingType in vm.meetingTypes track by meetingType.id"
                                            data-ng-change="vm.getMeetingNoAndMembers()"
                                            class="form-control" required>
                                        <option value="">Select Meeting Type</option>
                                    </select>

                                    <label data-ng-show="nScheduleForm.nType.$invalid && !nScheduleForm.nType.$pristine"
                                           class="help-block control-label">Please specify meeting type.</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Meeting No.</label>
                                <div class="col-md-9">
                                    <input type="number"
                                           data-ng-model="vm.meetingSchedule.meetingNo"
                                           class="form-control"
                                           placeholder="Meeting No."
                                           readonly/>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : nScheduleForm.nRefNo.$invalid && !nScheduleForm.nRefNo.$pristine }">
                                <label class="col-md-3 control-label">Ref No.</label>
                                <div class="col-md-9">
                                    <input id="iRefNo"
                                           name="nRefNo"
                                           type="text"
                                           data-ng-model="vm.meetingSchedule.refNo"
                                           class="form-control"
                                           placeholder="Ref No." required>

                                    <label data-ng-show="nScheduleForm.nRefNo.$invalid && !nScheduleForm.nRefNo.$pristine"
                                           class="help-block control-label">Please specify ref no.</label>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : nScheduleForm.nDateTime.$invalid && !nScheduleForm.nDateTime.$pristine }">
                                <label class="col-md-3 control-label">Date & Time</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="fa fa-calendar"></i>
                                        <input name="nDateTime"
                                               type="text"
                                               id="datetimepicker-default"
                                               data-ng-model="vm.meetingSchedule.datetime"
                                               data-datetime-format="mm/dd/yyyy h:mm a"
                                               class="form-control"
                                               autocomplete="off" required>

                                        <label data-ng-show="nScheduleForm.nDateTime.$invalid && !nScheduleForm.nDateTime.$pristine"
                                               class="help-block control-label">Please specify date & time.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : nScheduleForm.nRoom.$invalid && !nScheduleForm.nRoom.$pristine }">
                                <label class="col-md-3 control-label">Room / Place</label>
                                <div class="col-md-9">
                                    <input id="iRoom"
                                           name="nRoom"
                                           type="text"
                                           data-ng-model="vm.meetingSchedule.room"
                                           class="form-control"
                                           placeholder="Meeting Room" required>

                                    <label data-ng-show="nScheduleForm.nRoom.$invalid && !nScheduleForm.nRoom.$pristine"
                                           class="help-block control-label">Please specify a room or place.</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-right pal">
                            <button type="submit" data-ng-disabled="nScheduleForm.$invalid" class="btn btn-success">
                                Create Schedule
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div data-ng-if="vm.showPreviousMeetingList">
    <div data-ng-include="src='views/meeting/schedule-list.html'"></div>
</div>