<div class="panel">
    <div class="panel-heading">Semester fee</div>
    <div class="panel-body">
        <div class="spacer"></div>
        <div data-ng-if="vm.installmentEnabled && !vm.payments" style="margin-bottom: 5px;">
            <input type="radio" data-ng-click="vm.selectPaymentOption(0, vm.currentEnrolledSemester)"
                   name="paymentOption"> Regular
            <input type="radio" data-ng-click="vm.selectPaymentOption(1, vm.currentEnrolledSemester)"
                   name="paymentOption"> Installment
        </div>
        <div ng-if="vm.messageText">
            <div class="alert alert-danger">{{vm.messageText}}</div>
        </div>
        <div data-ng-if="vm.fee && !vm.payments && !vm.messageText">
            <table class="table table-hover table-bordered table-advanced">
                <thead>
                <tr role="row" class="heading">
                    <th width="30%" class="sorting">Name</th>
                    <th width="20%" class="sorting_asc">Amount (Taka)</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="fee in vm.fee">
                    <td>{{::fee.name}}</td>
                    <td>{{::fee.amount}}/=</td>
                </tr>
                </tbody>
            </table>
            <div class="text-right" style="margin-top:25px;">
                <button type="button" class="btn btn-success" data-ng-click="vm.pay()"
                        data-ng-if="vm.regularPayment">Pay
                </button>
                <button type="button" class="btn btn-success" data-ng-click="vm.payFirstInstallment()"
                        data-ng-if="vm.firstInstallment">Pay First Installment
                </button>
                <button type="button" class="btn btn-success" data-ng-click="vm.paySecondInstallment()"
                        data-ng-if="vm.secondInstallment">Pay Second Installment
                </button>
            </div>
        </div>

        <div data-ng-if="vm.payments">
            <table class="table table-hover table-bordered table-advanced" data-ng-repeat="(transactionId,payments) in vm.payments">
                <thead>
                <tr role="row" class="heading">
                    <th width="33%" class="sorting">TransactionId</th>
                    <th width="33%" class="sorting_asc">Name</th>
                    <th width="10%" class="sorting">Amount</th>
                    <th width="10%" class="sorting">Applied on</th>
                    <th width="10%" class="sorting_asc">Status</th>
                    <th width="4%" class="sorting_asc"></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="payment in vm.payments[transactionId]">
                    <td  class="sorting" style="padding: 10px"
                        rowspan="{{vm.payments[transactionId].length}}" data-ng-if="$index === 0">
                        {{transactionId}}
                    </td>
                    <td style="padding: 10px;">{{::payment.feeCategory}}</td>
                    <td style="padding: 10px">{{::payment.amount}}/=</td>
                    <td  style="padding: 10px" rowspan="{{vm.payments[transactionId].length}}"
                        data-ng-if="$index === 0">{{::payment.appliedOn}}
                    </td>
                    <td style="padding: 10px" rowspan="{{vm.payments[transactionId].length}}"
                        data-ng-if="$index === 0">{{::payment.status}}
                    </td>
                    <td style="padding: 10px" rowspan="{{vm.payments[transactionId].length}}"
                        data-ng-if="$index === 0">
                        <img
                             src="images/pdf_square.png" class="download_tooltip ng-scope"
                             style="position: relative;cursor: pointer;margin-bottom: 10px;"
                             data-ng-click="vm.receipt(transactionId)">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
