<style>

</style>

<div class="row">

    <div class="panel panel-grey">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">Period Close</div>
                <div class="col-md-6" align="right" ng-include="'views/definitions/period-close/menu.html'"></div>
            </div>
        </div>
        <div class="panel-body shadowPanel" style="min-height: 490px;">

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="form-gorup mbn" align="right">
                        <label class="pts">Financial Year</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-control" data-ng-model="vm.financialYearType">
                            <option value="current">Current Year</option>
                            <option value="previous">Previous Year</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div ng-include="'views/definitions/period-close/periodTableInclude.html'"></div>

        </div>

    </div>
</div>