<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit System-Account-Map</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="email">Account Type:</label>
                                <div class="col-sm-9">
                                    <input ng-disabled="true" type="accountType" class="form-control" id="accountType"
                                           ng-model="vm.systemAccountMap.accountTypeName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="groupName" class="col-md-3 control-label">Account Name</label>
                                <div class="col-md-9">
                                    <ui-select id="groupName" theme="bootstrap"
                                               data-ng-model="vm.systemGroupMap.account"
                                    >
                                        <ui-select-match placeholder="Select Account">
                                            {{vm.systemGroupMap.account.accountName}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="g in vm.accountList|filter:$select.search">
                                            <small ng-bind-html="g.accountName | highlight:$select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="vm.save(vm.systemGroupMap)"
                        data-dismiss="modal">
                    Save
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>