<div class="panel">
    <div class="panel-heading">Payments</div>
    <div class="panel-body">
        <list-filter data-filters="vm.filters" data-selected-filters="vm.selectedFilters"></list-filter>
        <table class="table table-hover table-bordered table-advanced table-striped" style="margin-top: 10px;">
            <thead>
            <tr>
                <td width="15%"><b>Transaction Id</b></td>
                <td width="15%"><b>Account</b></td>
                <td width="15%"><b>Method of payment</b></td>
                <td width="10%"><b>Status</b></td>
                <td width="10%"><b>Amount</b></td>
                <td width="10%"><b>Receive on</b></td>
                <td width="10%"><b>Verified on</b></td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="paymentStatus in vm.paymentStatusList">
                <td>
                    {{::paymentStatus.transactionId}}
                </td>
                <td>
                    {{::paymentStatus.account}}
                </td>
                <td>
                    {{::paymentStatus.methodOfPayment}}
                </td>
                <td>
                    {{paymentStatus.status}}
                </td>
                <td>
                    {{paymentStatus.amount}}/=
                </td>
                <td>
                    {{paymentStatus.receivedOn}}
                </td>
                <td>
                    {{paymentStatus.completedOn}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-outlined" data-ng-click="vm.navigate(vm.nextLink)"
                            data-ng-if="vm.nextLink">
                        Next&nbsp;<i class="fa fa-arrow-circle-o-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

