<div data-ng-repeat="academic in vm.academic track by $index">
    <form name="nAcademicForm[$index]" ng-submit="vm.submit($index)" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">{{$index + 1}}. {{academic.degree.name}}</div>
                    <div class="col-md-3">
                        <div data-ng-show="vm.enableEditButton">
                            <div data-ng-show="!vm.enableEdit[$index]">
                                <div align="right">
                                    <a data-ng-click="vm.activeEditButton($index, true)"
                                       style="cursor: pointer;">
                                        <i style="color: blue;" class="fa fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{ 'has-error' : nAcademicForm[$index].nAcademicDegree{{$index}}.$invalid && !nAcademicForm[$index].nAcademicDegree{{$index}}.$pristine }">
                            <label for="iAcademicDegree{{$index}}" class="control-label">Degree<span
                                    data-ng-show="vm.enableEdit[$index]"
                                    class='require'>*</span></label>

                            <div data-ng-show="vm.enableEdit[$index]">
                                <select name="nAcademicDegree{{$index}}"
                                        id="iAcademicDegree{{$index}}"
                                        data-ng-model="academic.degree"
                                        data-ng-options="degreeName.shortName group by degreeName.typeName for degreeName in vm.degreeNames track by degreeName.id"
                                        class="form-control" required>
                                    <option value="">Select Degree</option>
                                </select>
                                <label data-ng-show="nAcademicForm[$index].nAcademicDegree{{$index}}.$invalid && !nAcademicForm[$index].nAcademicDegree{{$index}}.$pristine"
                                       class="help-block control-label">Name of the degree?</label>

                            </div>
                            <div data-ng-show="!vm.enableEdit[$index]">
                                <label class="control-label">{{academic.degree.name}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{ 'has-error' : nAcademicForm[$index].nAcademicInstitution{{$index}}.$invalid && !nAcademicForm[$index].nAcademicInstitution{{$index}}.$pristine }">
                            <label for="iAcademicInstitution{{$index}}" class="control-label">Institution<span
                                    data-ng-show="vm.enableEdit[$index]"
                                    class='require'>*</span></label>

                            <div data-ng-show="vm.enableEdit[$index]">
                                <input type="text"
                                       name="nAcademicInstitution{{$index}}"
                                       id="iAcademicInstitution{{$index}}"
                                       data-ng-model="academic.institution"
                                       placeholder="Institution"
                                       maxlength="145"
                                       class="form-control" required>

                                <label data-ng-show="nAcademicForm[$index].nAcademicInstitution{{$index}}.$invalid && !nAcademicForm[$index].nAcademicInstitution{{$index}}.$pristine"
                                       class="help-block control-label">Name of the degree?</label>
                            </div>
                            <div data-ng-show="!vm.enableEdit[$index]">
                                <label class="control-label">{{academic.institution}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{ 'has-error' : nAcademicForm[$index].nPassingYear{{$index}}.$invalid && !nAcademicForm[$index].nPassingYear{{$index}}.$pristine }">
                            <label for="iPassingYear{{$index}}" class="control-label">Passing Year<span
                                    data-ng-show="vm.enableEdit[$index]"
                                    class='require'>*</span></label>
                            <div data-ng-show="vm.enableEdit[$index]">
                                <input type="number"
                                       name="nPassingYear{{$index}}"
                                       id="iPassingYear{{$index}}"
                                       data-ng-model="academic.passingYear"
                                       placeholder="YYYY"
                                       autocomplete="off"
                                       maxlength="4"
                                       class="form-control" required>
                                <label data-ng-show="nAcademicForm[$index].nPassingYear{{$index}}.$invalid && !nAcademicForm[$index].nPassingYear{{$index}}.$pristine"
                                       class="help-block control-label">Passing Year?</label>
                            </div>
                            <div data-ng-show="!vm.enableEdit[$index]">
                                <label class="control-label">{{academic.passingYear}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{ 'has-error' : nAcademicForm[$index].nresult{{$index}}.$invalid && !nAcademicForm[$index].nresult{{$index}}.$pristine }">
                            <label for="iPassingYear{{$index}}" class="control-label">Result<span
                                    data-ng-show="vm.enableEdit[$index]"
                                    class='require'>*</span></label>
                            <div data-ng-show="vm.enableEdit[$index]">
                                <input type="text"
                                       name="nresult{{$index}}"
                                       id="iResult{{$index}}"
                                       data-ng-model="academic.result"
                                       placeholder="CGPA/GPA/DIVISION"
                                       autocomplete="off"
                                       maxlength="25"
                                       class="form-control">

                                <label data-ng-show="nAcademicForm[$index].nresult{{$index}}.$invalid && !nAcademicForm[$index].nresult{{$index}}.$pristine"
                                       class="help-block control-label">What was your result?</label>
                            </div>
                            <div data-ng-show="!vm.enableEdit[$index]">
                                <label class="control-label">{{academic.result}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div data-ng-show="vm.enableEdit[$index]">
                        <div class="col-md-4">
                           <span data-ng-show="academic.id">
                               <button type="button" class="btn btn-primary btn-xs"
                                       data-ng-click="vm.activeEditButton($index, false)"
                                       style="cursor:pointer;">Cancel
                            </button>
                           </span>
                        </div>
                        <div class="col-md-8">
                            <div align="right">
                                <button type="button" class="btn btn-primary btn-xs"
                                        title="Remove Row {{$index + 1}}"
                                        data-ng-click="vm.delete($index)"
                                        style="cursor:pointer;"><span data-ng-show="!academic.id">Remove</span><span
                                        data-ng-show="academic.id">Delete</span>
                                </button>
                                <button type="submit" title="Submit" class="btn btn-success btn-xs"
                                        data-ng-disabled="nAcademicForm[$index].$invalid"
                                        style="cursor:pointer;"><span data-ng-show="!academic.id">Save</span><span
                                        data-ng-show="academic.id">Update</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <button title="Add New Row" type="button" class="btn btn-success btn-xs"
                data-ng-click="vm.addNew(); vm.activeEditButton(vm.academic.length - 1, true)"
                style="cursor: pointer">Add new
        </button>
    </div>
</div>