<div data-ng-repeat="academic in vm.entry.academic track by $index">
    <form name="nAcademicForm[$index]" ng-submit="vm.submit(nAcademicForm[$index])" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-9">{{$index + 1}}. {{academic.degree.name}}</div>
                    <div class="col-md-3">
                        <div data-ng-show="vm.showAcademicEditButton">
                            <div data-ng-show="!vm.showAcademicInputDiv[$index]">
                                <div align="right">
                                    <a data-ng-click="vm.showAcademicInputDiv[$index]=true"
                                       style="cursor: pointer;">
                                        <i style="color: blue;" class="fa fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{ 'has-error' : nAcademicForm[$index].nAcademicDegree{{$index}}.$invalid && !nAcademicForm[$index].nAcademicDegree{{$index}}.$pristine }">
                            <label for="iAcademicDegree{{$index}}" class="control-label">Degree<span
                                    data-ng-show="vm.showAcademicInputDiv[$index]"
                                    class='require'>*</span></label>

                            <div data-ng-show="vm.showAcademicInputDiv[$index]">
                                <select name="nAcademicDegree{{$index}}"
                                        id="iAcademicDegree{{$index}}"
                                        data-ng-model="academic.degree"
                                        data-ng-options="degreeName.shortName group by degreeName.typeName for degreeName in vm.degreeNames track by degreeName.id"
                                        class="form-control" required>
                                    <option value="">Select Degree</option>
                                </select>
                                <label data-ng-show="nAcademicForm[$index].nAcademicDegree{{$index}}.$invalid && !nAcademicForm[$index].nAcademicDegree{{$index}}.$pristine"
                                       class="help-block control-label">Name of the degree?</label>

                            </div>
                            <div data-ng-show="!vm.showAcademicInputDiv[$index]">
                                <label class="control-label">{{academic.degree.name}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{ 'has-error' : nAcademicForm[$index].nAcademicInstitution{{$index}}.$invalid && !nAcademicForm[$index].nAcademicInstitution{{$index}}.$pristine }">
                            <label for="iAcademicInstitution{{$index}}" class="control-label">Institution<span
                                    data-ng-show="vm.showAcademicInputDiv[$index]"
                                    class='require'>*</span></label>

                            <div data-ng-show="vm.showAcademicInputDiv[$index]">
                                <input type="text"
                                       name="nAcademicInstitution{{$index}}"
                                       id="iAcademicInstitution{{$index}}"
                                       data-ng-model="academic.institution"
                                       placeholder="Institution"
                                       maxlength="145"
                                       class="form-control" required>

                                <label data-ng-show="nAcademicForm[$index].nAcademicInstitution{{$index}}.$invalid && !nAcademicForm[$index].nAcademicInstitution{{$index}}.$pristine"
                                       class="help-block control-label">Name of the degree?</label>
                            </div>
                            <div data-ng-show="!vm.showAcademicInputDiv[$index]">
                                <label class="control-label">{{academic.institution}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{ 'has-error' : nAcademicForm[$index].nPassingYear{{$index}}.$invalid && !nAcademicForm[$index].nPassingYear{{$index}}.$pristine }">
                            <label for="iPassingYear{{$index}}" class="control-label">Passing Year<span
                                    data-ng-show="vm.showAcademicInputDiv[$index]"
                                    class='require'>*</span></label>
                            <div data-ng-show="vm.showAcademicInputDiv[$index]">
                                <input type="number"
                                       name="nPassingYear{{$index}}"
                                       id="iPassingYear{{$index}}"
                                       data-ng-model="academic.passingYear"
                                       placeholder="YYYY"
                                       autocomplete="off"
                                       maxlength="4"
                                       class="form-control" required>
                                <label data-ng-show="nAcademicForm[$index].nPassingYear{{$index}}.$invalid && !nAcademicForm[$index].nPassingYear{{$index}}.$pristine"
                                       class="help-block control-label">Passing Year?</label>
                            </div>
                            <div data-ng-show="!vm.showAcademicInputDiv[$index]">
                                <label class="control-label">{{academic.passingYear}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group"
                             ng-class="{ 'has-error' : nAcademicForm[$index].nPassingYear{{$index}}.$invalid && !nAcademicForm[$index].nPassingYear{{$index}}.$pristine }">
                            <label for="iPassingYear{{$index}}" class="control-label">Passing Year<span
                                    data-ng-show="vm.showAcademicInputDiv[$index]"
                                    class='require'>*</span></label>
                            <div data-ng-show="vm.showAcademicInputDiv[$index]">
                                <input type="text"
                                       name="nresult{{$index}}"
                                       id="iResult{{$index}}"
                                       data-ng-model="academic.result"
                                       placeholder="YYYY"
                                       autocomplete="off"
                                       maxlength="25"
                                       class="form-control">

                                <label data-ng-show="nAcademicForm[$index].nresult{{$index}}.$invalid && !nAcademicForm[$index].nresult{{$index}}.$pristine"
                                       class="help-block control-label">What was your result?</label>
                            </div>
                            <div data-ng-show="!vm.showAcademicInputDiv[$index]">
                                <label class="control-label">{{academic.result}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div align="right">
                            <div data-ng-show="vm.showAcademicInputDiv[$index]">
                                <button type="button" class="btn btn-primary btn-xs"
                                        title="Remove Row {{$index + 1}}">
                                    <i
                                            data-ng-click="vm.deleteRow('academic' , $index)"
                                            class="fa fa-times" style="cursor:pointer;"></i></button>
                                <button type="submit" title="Submit" class="btn btn-success btn-xs"><i
                                        class="fa fa-save" data-ng-disabled="nAcademicForm[$index].$invalid"
                                        style="cursor:pointer;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div data-ng-show="vm.showAcademicInputDiv">
    <div class="row">
        <div class="col-md-12">
            <div align="center">

                [ <a title="Add New Row" data-ng-click="vm.addNewRow('academic')"><i class="fa fa-plus"
                                                                                     aria-hidden="true"
                                                                                     style="cursor: pointer;color: green;"></i></a>
                ]
            </div>
        </div>
    </div>
</div>