<style>
    .row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .require {
        content: "*";
        color: red;
        font-size: large;
    }
    .form-control {
        border-radius: 5px !important;
    }
    .underlineBox{
        border-bottom: 1px dashed #808080a3;
    }
</style>
<div data-ng-show="vm.tabs">
    <ul id="iTab" class="nav nav-tabs nav-justified">
        <li class="active"><a href="javascript:void(0)" data-ng-click="vm.showTab('personal')" data-toggle="tab">Personal</a></li>
        <li><a href="javascript:void(0)" data-ng-click="vm.showTab('academic')" data-toggle="tab">Academic</a></li>
        <li><a href="javascript:void(0)" data-ng-click="vm.showTab('publication')" data-toggle="tab">Publication</a></li>
        <li><a href="javascript:void(0)" data-ng-click="vm.showTab('training')" data-toggle="tab">Training</a></li>
        <li><a href="javascript:void(0)" data-ng-click="vm.showTab('award')" data-toggle="tab">Award/Honor</a></li>
        <li><a href="javascript:void(0)" data-ng-click="vm.showTab('experience')" data-toggle="tab">Experience</a></li>
        <li><a href="javascript:void(0)" data-ng-click="vm.showTab('additional')" data-toggle="tab">Additional</a></li>
        <li><a href="javascript:void(0)" data-ng-click="vm.showTab('service')" data-toggle="tab">Service</a></li>
    </ul>
</div>

<div id="iTabContent" class="tab-content responsive">
    <div id="personal" data-ng-show="vm.personal" style="min-height: 490px;">
        <div data-ng-include="src='views/employee/personal-information.html'"></div>
    </div>
    <div id="academic" data-ng-show="vm.academic" style="min-height: 490px;">
        <div data-ng-include="src='views/employee/academic-information.html'"></div>
    </div>
    <div id="publication" data-ng-show="vm.publication" style="min-height: 490px;">
        <div data-ng-include="src='views/employee/publication-information.html'"></div>
    </div>
    <div id="training" data-ng-show="vm.training" style="min-height: 490px;">
        <div data-ng-include="src='views/employee/training-information.html'"></div>
    </div>
    <div id="award" data-ng-show="vm.award" style="min-height: 490px;">
        <div data-ng-include="src='views/employee/award-information.html'"></div>
    </div>
    <div id="experience" data-ng-show="vm.experience" style="min-height: 490px;">
        <div data-ng-include="src='views/employee/experience-information.html'"></div>
    </div>
    <div id="additional" data-ng-show="vm.additional" style="min-height: 490px;">
        <div data-ng-include="src='views/employee/additional-information.html'"></div>
    </div>
    <div id="service" data-ng-show="vm.service" style="min-height: 490px;">
        <div data-ng-include="src='views/employee/service-information.html'"></div>
    </div>
</div>

