<form name="nTrainingForm" data-validate="" data-onvalidate="submitTrainingForm">
    <div data-ng-repeat="training in vm.entry.training track by $index">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1">
                        <label class="control-label"><b>{{$index + 1}}.</b></label>
                    </div>
                    <div class="col-md-10">
                        <label class="control-label">Training Name<span data-ng-show="vm.showTrainingInputDiv"
                                class='require'>*</span></label>
                        <div data-ng-show="vm.showTrainingInputDiv">
                            <div>
                                <input type="text"
                                       name="nTrainingName{{$index}}"
                                       id="iTrainingName{{$index}}"
                                       data-ng-model="training.trainingName"
                                       placeholder="Training Name"
                                       maxlength="150"
                                       class="form-control" required>
                            </div>
                        </div>
                        <div data-ng-show="!vm.showTrainingInputDiv">
                            <div>
                                <div class="underlineBox">
                                    <label class="control-label">{{training.trainingName}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div data-ng-show="vm.showTrainingInputDiv">
                            [ <i title="Remove Row {{$index + 1}}" data-ng-click="vm.deleteRow('training' , $index)"
                                 class="fa fa-times fa-lg" style="color:red;cursor:pointer;"></i> ]
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label class="control-label">Training Institution<span data-ng-show="vm.showTrainingInputDiv"
                                class='require'>*</span></label>
                        <div data-ng-show="vm.showTrainingInputDiv">
                            <div>
                                <input type="text"
                                       name="nTrainingInstitution{{$index}}"
                                       id="iTrainingInstitution{{$index}}"
                                       data-ng-model="training.trainingInstitution"
                                       placeholder="Training Institution/Organization Name"
                                       maxlength="150"
                                       class="form-control" required>
                            </div>
                        </div>
                        <div data-ng-show="!vm.showTrainingInputDiv">
                            <div>
                                <div class="underlineBox">
                                    <label class="control-label">{{training.trainingInstitution}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <label class="control-label">From<span data-ng-show="vm.showTrainingInputDiv"  class='require'>*</span></label>
                        <div data-ng-show="vm.showTrainingInputDiv">
                            <div>
                                <input type="text"
                                       name="nTrainingFrom{{$index}}"
                                       id="iTrainingFrom{{$index}}"
                                       data-ng-model="training.trainingFrom"
                                       data-provide="datepicker"
                                       data-date-format="dd/mm/yyyy"
                                       placeholder="DD/MM/YYYY"
                                       data-ng-change="vm.calculateDifference('training', $index, training.trainingFrom, training.trainingTo)"
                                       autocomplete="off"
                                       class="form-control" required/>
                            </div>
                        </div>
                        <div data-ng-show="!vm.showTrainingInputDiv">
                            <div>
                                <div class="underlineBox">
                                    <label class="control-label">{{training.trainingFrom}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">To<span data-ng-show="vm.showTrainingInputDiv"  class='require'>*</span></label>
                        <div data-ng-show="vm.showTrainingInputDiv">
                            <div>
                                <input type="text"
                                       name="nTrainingTo{{$index}}"
                                       id="iTrainingTo{{$index}}"
                                       data-ng-model="training.trainingTo"
                                       data-provide="datepicker"
                                       data-date-format="dd/mm/yyyy"
                                       placeholder="DD/MM/YYYY"
                                       data-ng-change="vm.calculateDifference('training', $index, training.trainingFrom, training.trainingTo)"
                                       autocomplete="off"
                                       class="form-control" required>

                            </div>
                        </div>
                        <div data-ng-show="!vm.showTrainingInputDiv">
                            <div>
                                <div class="underlineBox">
                                    <label class="control-label">{{training.trainingTo}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-1"></div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-1"></div>-->
                    <div class="col-md-3">
                        <label class="control-label">Duration<span data-ng-show="vm.showTrainingInputDiv"  class="require">*</span></label>
                        <div data-ng-show="vm.showTrainingInputDiv">
                            <div>
                                <input type="text"
                                       name="nTrainingDurationString{{$index}}"
                                       id="iTrainingDurationString{{$index}}"
                                       data-ng-model="training.trainingDurationString"
                                       placeholder="Duration"
                                       class="form-control" readonly required>
                            </div>
                        </div>
                        <div data-ng-show="!vm.showTrainingInputDiv">
                            <div>
                                <div class="underlineBox">
                                    <label class="control-label">{{training.trainingDurationString}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" for="iCategory">Category<span data-ng-show="vm.showTrainingInputDiv"
                                                                                                                  class="require">*</span></label>
                        <div data-ng-show="vm.showTrainingInputDiv">
                            <div>
                                <select name="nCategory"
                                        id="iCategory"
                                        data-ng-model="training.trainingCategory"
                                        data-ng-options="category.name for category in vm.trainingTypes track by category.id"
                                        class="form-control" required>
                                    <option value="" selected="selected">Select Category</option>
                                </select>
                            </div>
                        </div>
                        <div data-ng-show="!vm.showTrainingInputDiv">
                            <div>
                                <div class="underlineBox">
                                    <label class="control-label">{{training.trainingCategory.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="vm.showTrainingInputDiv">
        <div class="row">
            <div class="col-md-12">
                <div align="center">
                    [ <a title="Add New Row" data-ng-click="vm.addNewRow('training')"><i class="fa fa-plus"
                                                                                         aria-hidden="true"
                                                                                         style="cursor: pointer;color: green;"></i></a>
                    ]
                </div>
                <div align="right">
                    <button type="button" title="Cancel" class="btn"
                            data-ng-click="vm.showTrainingInputDiv=false; vm.showTab('training');">Cancel
                    </button>
                    <button type="submit" title="Submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-show="!vm.showTrainingInputDiv">
        <div class="row">
            <div class="col-md-12">
                <div align="right">
                    <button type="button" title="Cancel" class="btn" data-ng-click="vm.showTrainingInputDiv=true"><i
                            class="fa fa-edit"></i>&nbsp;Edit
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>
