<style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }



    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
    .btn-group button {
        background-color: #f1f1f1; /* Green background */
        border: 1px solid black; /* Green border */
        color: black; /* White text */
        padding: 5px 10px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
    }


    .selectedBtn {
        background-color: red;
        color: white;
    }
    </style>
<div class="panel">
        <div class="panel-heading">
            <b>Optional Course Selection {{vm.semesterName}}</b>
        </div>
     <div class="panel-body">
         <div data-ng-if="!vm.isEligibleForApply">
             <p> </p>
         </div>
         <div class="row" data-ng-if="vm.isEligibleForApply">
             <div class="col-md-12" data-ng-hide="vm.isSubGroupAvailable" data-ng-if="vm.isApprovedGroupAvailable">
             <fieldset class="scheduler-border">
                 <legend class="scheduler-border" style="color: green">Approved Courses By <b>{{" "+vm.departmentName}}</b></legend>
                 <table width="100%">
                     <tr data-ng-repeat="course in vm.approvedOptOfferedCourseList" data-ng-if="$index % 1 == 0" >
                         <td ng-repeat="course in vm.approvedOptOfferedCourseList.slice($index, $index + 1)" style="vertical-align: top">
                             <div>
                                 <div class="row" style="background-color: lightgrey">
                                     <div class="col-md-12">
                                         <span  class="badge badge-dark"><b>{{course.groupName}}</b></span>
                                     </div>
                                 </div>
                             </div>
                             <table width="100%" class="table table-hover table-condensed">
                                 <thead data-ng-hide="vm.isSubGroupAvailable">
                                 <tr>
                                     <th width="2%">#</th>
                                     <th width="20%">Course No</th>
                                     <th width="50%">Course Title</th>
                                     <th width="8%" style="text-align:right">crHr</th>
                                     <th width="20%" style="text-align:center">Course Type</th>
                                 </tr>
                                 </thead>
                                 <tbody data-ng-hide="vm.isSubGroupAvailable">
                                 <tr data-ng-repeat="app in course.courses track by $index">
                                     {{app}}
                                     <td width="2%">{{$index + 1}}</td>
                                     <td width="20%"><b>{{app.no}}</b></td>
                                     <td width="50%">{{app.title}}</td>
                                     <td  width="8%" align="right">
                                         <b>{{app.crHr}}</b>
                                     </td>
                                     <td width="20%" align="center">
                                         <span data-ng-if="app.courseType=='THEORY'" class="badge badge-success">{{app.courseType}}</span>
                                         <span data-ng-if="app.courseType=='SESSIONAL'" class="badge badge-warning">{{app.courseType}}</span></td>

                                 </tr>
                                 </tbody>
                             </table>
                         </td>
                     </tr>
                 </table>
             </fieldset>
             </div>
         </div>
             <div class="row" data-ng-if="vm.isEligibleForApply">
                 <div class="col-md-12">
                     <fieldset class="scheduler-border">
                         <legend class="scheduler-border">Offered Courses By <b>{{" "+vm.departmentName}}</b></legend>
                         <div>
                             <div class="control-group">
                                 <table width="100%">
                                     <tr data-ng-repeat="course in vm.optOfferedCourseList" data-ng-if="$index % 1 == 0" >
                                         <td ng-repeat="course in vm.optOfferedCourseList.slice($index, $index + 1)" style="vertical-align: top">
                                                 <div>
                                                     <div class="row" style="background-color: lightgrey">
                                                         <div class="col-md-5">
                                                             <span  class="badge badge-dark"><b>{{course.groupName}}</b></span>
                                                         </div>
                                                         <div class="col-md-2" align="right" data-ng-hide="vm.isSubGroupAvailable">
                                                             Status:<b>Pending</b>
                                                         </div>
                                                         <!-- ng-class="{true: 'selectedBtn', false: ''}[$index+1==app.choice]"-->
                                                         <div class="col-md-5" align="right" data-ng-hide="vm.isSubGroupAvailable">
                                                            <span  data-ng-repeat="app in vm.optOfferedCourseList">
                                                                    <button  data-ng-click="vm.setSelection(course.groupId,$index+1)"
                                                                             data-ng-style="course.choice==($index+1) ? {'background-color':'#87CEFA'}:{'background-color':'#FFFFFF'}">
                                                                        <b>{{$index+1}}</b></button>
                                                            </span>
                                                         </div>
                                                     </div>
                                                 </div>
                                                 <table width="100%" class="table table-hover table-condensed">
                                                     <thead data-ng-hide="vm.isSubGroupAvailable">
                                                     <tr>
                                                         <th width="2%">#</th>
                                                         <th width="20%">Course No</th>
                                                         <th width="50%">Course Title</th>
                                                         <th width="8%" style="text-align:right">crHr</th>
                                                         <th width="20%" style="text-align:center">Course Type</th>
                                                     </tr>
                                                     </thead>
                                                     <tbody data-ng-hide="vm.isSubGroupAvailable">
                                                     <tr data-ng-repeat="app in course.courses track by $index">
                                                         {{app}}
                                                         <td width="2%">{{$index + 1}}</td>
                                                         <td width="20%"><b>{{app.no}}</b></td>
                                                         <td width="50%">{{app.title}}</td>
                                                         <td  width="8%" align="right">
                                                             <b>{{app.crHr}}</b>
                                                         </td>
                                                         <td width="20%" align="center">
                                                             <span data-ng-if="app.courseType=='THEORY'" class="badge badge-success">{{app.courseType}}</span>
                                                             <span data-ng-if="app.courseType=='SESSIONAL'" class="badge badge-warning">{{app.courseType}}</span></td>

                                                     </tr>
                                                     </tbody>
                                                     <br>
                                                     <div style="padding-left: 40px">
                                                         <table width="100%" data-ng-show="vm.isSubGroupAvailable" >
                                                             <tr data-ng-repeat="subCourses in course.subGrpCourses" data-ng-if="$index % 1 == 0" >
                                                                 <td ng-repeat="subApp in course.subGrpCourses.slice($index, $index + 1)" style="vertical-align: top">

                                                                         <div style="padding-left: 20px">
                                                                             <div>
                                                                                 <div class="row" style="background-color: #F5F5F5">
                                                                                     <div class="col-md-5">
                                                                                         <span  class="badge badge-info"><b>{{subApp.groupName}}</b></span>
                                                                                     </div>
                                                                                     <div class="col-md-2" align="right" >
                                                                                         Status:<b>Pending</b>
                                                                                     </div>
                                                                                     <!-- ng-class="{true: 'selectedBtn', false: ''}[$index+1==app.choice]"-->
                                                                                     <div class="col-md-5" align="right" >
                                                                                   <span  data-ng-repeat="app in course.subGrpCourses">
                                                                                   <button  data-ng-click="vm.setSelection(course.groupId,$index+1,subApp.groupId)"
                                                                                    data-ng-style="subApp.choice==($index+1) ? {'background-color':'#87CEFA'}:{'background-color':'#FFFFFF'}">
                                                                                  <b>{{$index+1}}</b></button>
                                                                                   </span>
                                                                                     </div>
                                                                                 </div>
                                                                             </div>
                                                                         </div>
                                                                         <table class="table table-hover table-condensed" width="100%">
                                                                             <thead>
                                                                             <tr>
                                                                                 <th width="2%">#</th>
                                                                                 <th width="20%">Course No</th>
                                                                                 <th width="50%">Course Title</th>
                                                                                 <th width="8%" > crHr</th>
                                                                                 <th width="20%">Course Type</th>
                                                                             </tr>
                                                                             </thead>
                                                                             <tbody>
                                                                             <tr data-ng-repeat="app in subApp.courses track by $index">
                                                                                 <td width="2%">{{$index + 1}}</td>
                                                                                 <td width="20%">{{app.no}}</td>
                                                                                 <td width="50%">{{app.title}}</td>
                                                                                 <td width="8%" >
                                                                                     <b>{{app.crHr}}</b>
                                                                                 </td>
                                                                                 <td width="20%">
                                                                                     <span data-ng-if="app.courseType=='THEORY'" class="badge badge-success">{{app.courseType}}</span>
                                                                                     <span data-ng-if="app.courseType=='SESSIONAL'" class="badge badge-warning">{{app.courseType}}</span>
                                                                                 </td>
                                                                             </tr>
                                                                             </tbody>
                                                                         </table>
                                                                     <br><br>
                                                                 </td>
                                                             </tr>
                                                         </table>
                                                     <br><br>
                                                 </table>
                                             </div>
                                         </td>
                                     </tr>
                                 </table>
                             </div>
                         </div>
                     </fieldset>
                 </div>
             </div>
     </div>
 </div>
