<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="panel panel-blue">
            <div class="panel-heading">New Book Store Form</div>
            <div class="panel-body pan">
                <form action="" class="form-horizontal" data-validate="" data-onvalidate="submit" data-ng-hide="response.status">
                    <div class="form-body pal">
                        <div class="form-group">
                            <label  class="col-md-3 control-label">Book Title</label>
                            <div class="col-md-9">
                                <input  type="text" name="book" id="mBook" data-ng-model="book"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-md-3 control-label">Author</label>
                            <div class="col-md-9">
                                <input type="text" name="author" id="mAuthor" data-ng-model="author"/>
                            </div>
                        </div>
                        <div class="form-actions text-right pal">
                            <button type="button" class="btn btn-success" data-ng-click="save()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>