<div class="panel">
    <div class="panel-body pan">
        <div class="panel-body shadowPanel" style="min-height: 490px;">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <div align="center">
                        <div class="form-group">
                            <input type="text"
                                   id="iSearch"
                                   name="nSearch"
                                   class="form-control"
                                   ng-model="vm.employeeId"
                                   placeholder="Enter Employee Id"
                                   data-ng-change="vm.fetch()">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>

        </div>
    </div>
</div>