<style>
    table {
           box-sizing: border-box;
           -moz-box-sizing: border-box;
           display: flex;
           flex-direction: column;
           align-items: stretch;
        height: 600px; /* this can vary */
       }

       table * {
           box-sizing: inherit;
           -moz-box-sizing: inherit;
       }

       thead {
           display: flex;
           flex-direction: column;
           align-items: stretch;
       }

       tbody {
           overflow-y: scroll;
           display: inline-block;
       }

       thead > tr, tbody > tr, tfoot > tr {
           display: flex;
           flex-direction: row;
           flex-wrap: nowrap;
       }

       thead, tfoot {
           flex-shrink: 0;
       }

       th, tbody td {
           width: 100%; /* this can vary */
           overflow-x: hidden;
           text-overflow: ellipsis;
           display: inline-block;
       }

       tfoot {
           display: inline-block;
       }

       tfoot td {
           width: 100%;
           display: inline-block;
       }

    .st-sort-ascent:before {
        content: '\25B2';
    }

    .st-sort-descent:before {
        content: '\25BC';
    }
</style>
<table st-table="vm.groups" class=" table table-striped " st-safe-src="vm.groupsDisplay" st-paginatio-scroll>
    <thead align="center">
    <tr class="header">
        <th st-ratio="40" st-sort="groupName">Group Name</th>
        <th st-ratio="20" st-sort="displayCode">Display Code</th>
        <th st-ratio="30" st-sort="mainGroup">Under The Main Group Of</th>
        <th st-ration="5" align="center"><p align="center">Sub Ledger</p></th>
        <th align="center"><p align="center">Reserved</p></th>
        <th st-ration="5">Actions</th>
    </tr>
    <tr class="header">
        <th><input placeholder="search group name" st-search="groupName"/></th>
        <th><input placeholder="search display code" st-search="displayCode"/></th>
        <th></th>
        <th align="center"></th>
        <th align="center"></th>
        <th st-ration="5"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="g in vm.groups">
        <td st-ratio="40">{{g.groupName}}</td>
        <td st-ratio="20">{{g.displayCode}}</td>
        <td st-ratio="30">{{vm.groupMapWithId[g.mainGroup].groupName}}</td>
        <td st-ratio="5" align="center">
            <label><input type="checkbox" ng-disabled="true" ng-model="g.flagBoolValue"></label>
        </td>
        <td align="center">{{g.mainGroup==0?"Reserved":"Not-reserved"}}</td>
        <td st-ratio="5">
            <button class="btn btn-default btn-sm" ng-click="vm.editButtonClicked(g)"
                    data-toggle="modal"
                    data-target="#addModal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button class="btn btn-danger btn-sm" ng-click="vm.removeButtonClicked(g)"
                    data-toggle="modal"
                    data-target="#removeModal" data-ng-disabled="g.mainGroup==0"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </td>
    </tr>
    </tbody>
</table>

