<div class="row">
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Instructions</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>
                        Upload Class routine for each   &nbsp;<strong>Year-Semester</strong>&nbsp; Separately.
                    </li>
                    <li>
                        Name the file by the following way-
                        1-1-01-2015.pdf<br/>&nbsp;<strong>for</strong>&nbsp; <br/> (1st Year 1st Semester  Spring, 2015)
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Upload Class Routine</h3>
            </div>
            <div class="panel-body" style="min-height: 400px;">
                <button type="submit" class="btn btn-success start"><i class="glyphicon glyphicon-plus"></i></i>&nbsp;<span>Add File</span></button>&nbsp; &nbsp;
                <button type="submit" class="btn btn-primary start"><i class="glyphicon glyphicon-upload"></i>&nbsp;<span>Start upload</span></button>&nbsp; &nbsp;
                <button type="button" class="btn btn-danger delete"><i class="glyphicon glyphicon-trash"></i>&nbsp;<span>Delete</span></button>&nbsp; &nbsp;
                <!--The global file processing state--><span class="fileupload-process"></span>
                </div>
            </div>

  </div>

    </div>
