<div class="row" data-ng-init="getSemesters()">
    <div class="orgLeftClass pull-left panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal">
                <div class="form-body pal">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Program Type</label>
                        <div class="col-md-8">
                            <select class="form-control required" data-ng-model="programType">
                                <option value="">Select Program Type</option>
                                <option value="1">Undergraduate</option>
                                <option value="2">Postgraduate</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Academic Semester</label>
                        <div class="col-md-8">
                            <select class="form-control required" data-ng-model="semesterId">
                                <option value="">Selected a Semester</option>
                                <option data-ng-repeat="s in semesterArr" value="s.id">{{s.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Students Year</label>
                        <div class="col-md-8">
                            <select class="form-control required" data-ng-model="studentsYear">
                                <option value="">Select Student Year</option>
                                <option value="1">1st year</option>
                                <option value="2">2nd year</option>
                                <option value="3">3rd year</option>
                                <option value="4">4th year</option>
                                <option value="5">5th year</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Students Semester</label>
                        <div class="col-md-8">
                            <select class="form-control required" data-ng-model="studentsSemester">
                                <option value="">Select Student Semester</option>
                                <option value="1">1st semester</option>
                                <option value="2">2nd semester</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Theory Section</label>
                        <div class="col-md-8">
                            <select class="form-control required" data-ng-model="section">
                                <option value="">Select Student Theory Section</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>

                            </select>
                        </div>
                    </div>


                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success" data-ng-click="fetchGrid()">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="arrowClass pull-left" data-ng-click="resetDivs()" id="arrowDiv"><i
            class="fa fa-angle-double-right fa-4x"></i></i> </div>

    <div class="orgRightClass pull-left" id="rightDiv">

        <div class="panel" style="min-height: 490px;">
            <div class="panel-heading">Class Routine<span
                        class="subtitle"></span></div>
            <div class="panel-body">
                <div data-jq-grid=""
                     data-config="gridOptions"
                     data-addnew="true"
                     data="classRoutineData"
                     gridid="classRoutine"
                     pagerid="classRoutinePager"
                     grid="grid"
                     inline-nav-options="inlineNavOptions"
                     data-ng-if="gridOptions">

                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css">

    .orgLeftClass {
        width: 30%;

    }

    .orgRightClass {
        width: 66%;
    }

    .arrowClass {
        display: none;
        cursor: pointer;
    }

    .orgLeftClass, .arrowClass {
        margin-right: 25px;
        margin-left: 8px;
    "

    }

    .newRightClass {
        width: 94%;
    }

    .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
        margin-bottom: 0px !important;
    }

    .table tbody tr td {
        border-top: none !important;
    }
</style>