<div class="row">
  <div class="orgLeftClass pull-left panel panel-green" id="leftDiv">
    <div class="panel-heading">
      <h3 class="panel-title">Select </h3>
    </div>
    <div class="panel-body pan">
      <form action="" class="form-horizontal">
        <div class="form-body pal">
          <div data-program-selector="" data-model="courseTeacherSearchParamModel"></div>
          <div class="form-group">
            <label class="col-md-4 control-label">Semester</label>

            <div class="col-md-8">
              <select class="form-control required" data-ng-model="courseTeacherSearchParamModel.semesterId"
                      ng-init="courseTeacherSearchParamModel.academicSemesterId=''">
                <option data-ng-repeat="semester in courseTeacherSearchParamModel.semesters" value="{{semester.id}}">
                  {{semester.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Year</label>

            <div class="col-md-8">
              <select class="form-control required" data-ng-model="courseTeacherSearchParamModel.academicYearId"
                      ng-init="courseTeacherSearchParamModel.academicYearId=''">
                <option data-ng-repeat="year in data.academicYearOptions" value="{{year.id}}">{{year.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Semester</label>

            <div class="col-md-8">
              <select class="form-control required" data-ng-model="courseTeacherSearchParamModel.academicSemesterId"
                      ng-init="courseTeacherSearchParamModel.academicYearId=''">
                <option data-ng-repeat="semester in data.academicSemesterOptions" value="{{semester.id}}">
                  {{semester.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Category</label>

            <div class="col-md-8">
              <select class="form-control required" data-ng-model="courseTeacherSearchParamModel.courseCategoryId"
                      ng-init="courseTeacherSearchParamModel.courseCategoryId=''">
                <option data-ng-repeat="courseCategory in data.courseCategoryOptions" value="{{courseCategory.id}}">
                  {{courseCategory.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-actions text-right pal">
          <button type="button" class="btn btn-success" data-ng-click="fetchCourseTeacherInfo()">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="arrowClass pull-left" onclick="resetDivs()" id="arrowDiv"><i
      class="fa fa-angle-double-right fa-4x"></i></i> </div>
  <div class="orgRightClass pull-left" id="rightDiv">

    <div class="panel" style="min-height: 490px;">
      <div class="panel-heading">Course Teacher List For "{{programName}}" Program of {{departmentName}} Department -
        {{semesterName}}<span
            class="subtitle"></span></div>
      <div class="panel-body">

        <div class="spinner" ng-show="loadingVisibility">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <div data-ng-if="contentVisibility">
        <div class="alert alert-success" style="color: #3c763d;font-weight: bold;padding: 5px;">
          {{academicYear}} -{{academicSemester}} : {{courseCategory}} Courses
        </div>
        <table class="table table-hover table-bordered table-advanced">
          <thead>
          <tr role="row" class="heading">
            <th width="10%" class="sorting">CourseNo</th>
            <th width="35%" class="sorting_asc">Course Title</th>
            <th width="4%" class="sorting">CrHr</th>
            <th width="40%" class="sorting">Course Teacher</th>
            <th width="8%" class="sorting">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="(courseId, courseTeacher) in entries">
            <td>{{courseTeacher.courseNo}}</td>
            <td>{{courseTeacher.courseTitle}}</td>
            <td>{{courseTeacher.courseCrHr}}</td>
            <td>


              <table width='100%' style="border:0px;" border="0">
                <tr data-ng-repeat="selectedTeacher in courseTeacher.selectedTeachers">
                  <td>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-user"></i></div>
                      <select class="select2-size form-control" data-ng-if="courseTeacher.editMode"
                              data-ng-model="selectedTeacher.id"
                              data-ng-options="teacher.id as teacher.name for teacher in courseTeacher.teachers">
                      </select>
                      <div style="padding-left:5px;padding-top:5px;" data-ng-if="!courseTeacher.editMode">{{selectedTeacher.name}}</div>
                    </div>
                  </td>
                  <td width="4px;">&nbsp;</td>
                  <td width="85px;">
                    <select multiple="multiple" data-ng-if="courseTeacher.editMode" data-style="btn-white"
                            class="selectpicker form-control" data-ng-model="selectedTeacher.sections"
                            style="width:50px;"
                            data-ng-options="section.name as section.name for section in courseTeacher.sections">
                    </select>
                    <span data-ng-if="!courseTeacher.editMode" data-ng-repeat="section in selectedTeacher.sections">{{section}}</span>
                  </td>
                  <td width="60px;" style="padding-left: 5px;">
                    <a href="javascript:;" class="btn btn-xs btn-default" data-ng-if="courseTeacher.editMode"
                       data-ng-click="removeCourseTeacher(courseId, selectedTeacher.id)">
                      <i class="fa fa-times" style="color: red;"></i>
                    </a>
                  </td>
                </tr>
              </table>


            </td>
            <td>
              <div class="mbs">
                <button class="btn btn-xs btn-success filter-submit" data-ng-click="editCourseTeacher(courseId)" data-ng-if="!courseTeacher.editMode">
                  <i class="fa fa-plus-square-o"></i>
                  Edit
                </button>
              </div>
              <div class="mbs" data-ng-if="courseTeacher.editMode || isEmpty(courseTeacher.selectedTeachers)">
                <button class="btn btn-xs btn-success filter-submit" data-ng-click="addTeacher(courseId)">
                  <i class="fa fa-plus-square-o"></i>
                  Add More
                </button>
              </div>
              <div class="mbs" data-ng-if="courseTeacher.editMode">
                <a href="javascript:;" class="btn btn-xs btn-default"
                   data-ng-click="saveCourseTeacher(courseId);courseTeacher.editMode=!courseTeacher.editMode;">
                  <i class="fa fa-save"></i>&nbsp;
                  Save
                </a>
              </div>

            </td>
          </tr>
          </tbody>
        </table>
        </div>

      </div>
      <div class="form-actions text-right pal" style="margin-top:25px;display: none;">
        <button type="button" class="btn btn-success" onclick="fetchCourseTeacherInfo()">Save Course-Teacher Info
        </button>
      </div>
    </div>
  </div>


</div>
<style type="text/css">

  .orgLeftClass {
    width: 30%;

  }

  .orgRightClass {
    width: 66%;
  }

  .arrowClass {
    display: none;
    cursor: pointer;
  }

  .orgLeftClass, .arrowClass {
    margin-right: 25px;
    margin-left: 8px;
  "

  }

  .newRightClass {
    width: 94%;
  }

  .bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
    margin-bottom: 0px !important;
  }

  .table tbody tr td {
    border-top: none !important;
  }
</style>
<script type="text/javascript">
  /* function fetchCourseTeacherInfo() {
   $("#leftDiv").hide();
   $("#arrowDiv").show();

   $("#rightDiv").removeClass("orgRightClass");
   $("#rightDiv").addClass("newRightClass");

   }*/

  function resetDivs() {
    $("#arrowDiv").hide();

    $("#leftDiv").show();

    $("#rightDiv").removeClass("newRightClass");
    $("#rightDiv").addClass("orgRightClass");


  }
</script>