<link rel="stylesheet" href="vendors/jquery-dragNdrop/jquery-selection.css"/>
<link rel="stylesheet" href="vendors/jquery-dragNdrop/jquery-dragndrop.css"/>
<script src="vendors/jquery-dragNdrop/jquery-selection.js"></script>
<script src="vendors/jquery-dragNdrop/jquery-dragndrop.js"></script>

<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }



    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }

    .btn-round {
        border-radius: 15px !important;
    }

    .btn-xs, .btn-group-xs > .btn {
        padding: 1px 5px !important;
    }

    #dragndrop {
        margin-top: 20px;
        text-align: center;
    }

    .jqdragndrop-drop {
        transition: background .2s ease;
        background: rgba(0, 0, 0, .3);
    }

    .jqdragndrop-dropHover {
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        background: rgba(0, 0, 0, .5);
    }
</style>
<div id="page-user-profile" class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">

                <div class="panel panel-default " style="border: none;">
                    <div class="panel-heading portlet-pink"
                         style="background: #bf3773 none repeat scroll 0 0;border: 1px solid #bf3773;color: white;">
                        <h3 class="panel-title">Instructions</h3>
                    </div>
                    <div class="panel-body shadowPanel">
                        <select style="width: 90%" data-ng-model="optional.program" >
                            <option value="110500">BSC in EEE</option>
                        </select><br/>
                        <select style="width: 90%;margin-top: 10px;"  data-ng-model="optional.semesterId" data-ng-init="11012017">
                            <option value="11012017">Spring, 2017</option>
                        </select><br/>
                        <select style="width: 90%;margin-top: 10px;"  data-ng-model="optional.year" data-ng-init="">
                            <option value="4">4th Year</option>
                        </select><br/>
                        <select style="width: 90%;margin-top: 10px;"  data-ng-model="optional.semester" data-ng-init="">
                            <option value="1">1st Semester</option>
                        </select><br/>
                        <a href="javascript:;" class="btn btn-xs btn-default"
                           data-ng-click="showCourses()" style="margin-top: 20px;">
                            &nbsp;&nbsp;Go Next &nbsp;
                            <i class="fa fa-forward" style="color: green;"></i>
                        </a>
                    </div>

                </div>

                <div class="panel panel-default portlet-pink">
                    <div class="panel-heading">
                        <h3 class="panel-title">Semester Summary(<b>CrHr</b>)</h3>
                    </div>
                    <div class="panel-body shadowPanel">
                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr>
                                <td width="50%">Semester Total</td>
                                <td><span class="badge badge-warning pull-right">{{ ::total_crhr}}</span></td>
                            </tr>
                            <tr>
                                <td width="50%">Optional Total</td>
                                <td><span class="badge badge-warning pull-right">{{ ::optional_crhr}}</span></td>
                            </tr>
                            <tr>
                                <td width="50%">Theory Total</td>
                                <td><span class="badge badge-warning pull-right">{{ ::theory_crhr}}</span></td>
                            </tr>
                            <tr>
                                <td width="50%">Sessional Total</td>
                                <td><span class="badge pull-right">{{ ::sessional_crhr}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default " style="border: none;">
                    <div class="panel-heading portlet-blue"
                         style="background: #0a819c none repeat scroll 0 0;border: 1px solid #bf3773;color: white;">
                        <h3 class="panel-title">Application Statistics</h3>
                    </div>
                    <div class="panel-body shadowPanel">
                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr ng-repeat="stat in optional.statistics">
                                <td width="50%" style="font-weight: bold;">{{stat.courseNumber}}</td>
                                <td><span class="badge badge-warning pull-right">{{stat.totalApplied}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                <ul data-ui-tab="" class="nav nav-tabs ul-edit responsive">
                    <li class="active">
                        <a href="#tab-optCourses" data-toggle="tab"><i class="fa fa-book"></i>&nbsp;Optional Courses</a>
                    </li>
                    <li>
                        <a href="#tab-allStudent" data-toggle="tab"><i class="fa fa-users"></i>&nbsp;All Student</a>
                    </li>
                    <li>
                        <a href="#tab-singleStudent" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;Single
                            Student</a>
                    </li>
                    <li>
                        <a href="#tab-shiftApplication" data-toggle="tab"><i class="fa fa-random"></i>&nbsp;Shift
                            Application</a>
                    </li>
                    <li>
                        <a href="#tab-section" data-toggle="tab"><i class="fa fa-puzzle-piece"></i>&nbsp;Section</a>
                    </li>

                </ul>

                <div id="generalTabContent" class="tab-content shadowPanel">
                    <div id="tab-optCourses" class="tab-pane fade in active">
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Approved Optional Courses</legend>
                            <div class="control-group">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Course No</th>
                                        <th>Course Title</th>
                                        <th>CrHr</th>
                                        <th>Course Type</th>
                                        <th style="text-align: center;">Cancel</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="course in optional.approvedCourses">
                                        <td>{{$index + 1}}</td>
                                        <td>{{course.no}}</td>
                                        <td>{{course.title}}</td>
                                        <td>{{course.crhr}}</td>
                                        <td><span class="label label-sm label-success">{{course.type}}</span></td>
                                        <td style="text-align: center;">
                                            <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                               data-ng-click="removeApprovedCourse(course)">
                                                <i class="fa fa-times" style="color: red;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>

                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Call for Application</legend>
                            <div class="control-group">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Course No</th>
                                        <th>Course Title</th>
                                        <th>CrHr</th>
                                        <th>Course Type</th>
                                        <th style="text-align: center;">Total Applied</th>
                                        <th style="text-align: center;">Cancel</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="course in optional.applicationCourses">
                                        <td>{{$index + 1}}</td>
                                        <td>{{course.no}}</td>
                                        <td>{{course.title}}</td>
                                        <td>{{course.crhr}}</td>
                                        <td><span class="label label-sm label-success">{{course.type}}</span></td>
                                        <td align="center"><a data-ng-click="showAppliedStudents()"><span
                                                class="badge badge-warning">{{course.totalApplied}}</span></a></td>
                                        <td style="text-align: center;">
                                            <a href="javascript:;" class="btn btn-xs btn-default btn-round"
                                               data-ng-click="removeApplicationCourse(course)">
                                                <i class="fa fa-times" style="color: red;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>

                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border">Selected Optional Courses For Application</legend>
                            <div class="control-group">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Course Id</th>
                                        <th>Course Title</th>
                                        <th>CrHr</th>
                                        <th>Course Type</th>
                                        <th style="text-align: center">Call For<br/> Application</th>
                                        <th style="text-align: center">Approved</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="course in optional.optionalCourses"
                                        style="background-color: {{course.bgColor}}">
                                        <td>{{$index + 1}}</td>
                                        <td>{{course.no}}</td>
                                        <td>{{course.title}}</td>
                                        <td>{{course.crhr}}</td>
                                        <td><span class="label label-sm label-success">{{course.type}}</span></td>
                                        <td style="text-align: center">
                                            <input tabindex="13" type="checkbox" ng-model="course.application"
                                                   data-ng-change="applicationSelectionChange({{$index}},course)"/>&nbsp;&nbsp;
                                        </td>
                                        <td style="text-align: center">
                                            <input tabindex="13" type="checkbox" ng-model="course.approved"
                                                   data-ng-change="approvedSelectionChange({{$index}},course)"/>&nbsp;&nbsp;
                                            {{approved}}
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                        <a href="javascript:;" class="btn btn-xs btn-default"
                           data-ng-click="saveCourses()" style="margin-top: 20px;">
                            &nbsp;&nbsp;Save All &nbsp;
                            <i class="fa fa-floppy-o" style="color: green;"></i>
                        </a>
                    </div>
                    <div id="tab-allStudent" class="tab-pane fade">

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <label class="col-md-2 control-label"><b>Select a Course</b></label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <select class="form-control required"
                                            data-ng-change="fetchApplications()"
                                            data-ng-model="optional.allStudentCourseId">
                                        <option value="">Select a Course</option>
                                        <option ng-repeat="course in optional.approvedCallForApplicationCourses"
                                                value="{{course.id}}">{{course.title}}
                                        </option>
                                    </select>
                                </div>



                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                        <br/><br/>

                        <table class="table table-striped table-hover">
                            <thead data-ng-show="optional.applicationStudents.length>0">
                                <th>Student Id</th>
                                <th>Student Name</th>
                                <th>Status</th>
                                <th style="text-align: center;">Action</th>
                                <th style="text-align: center;">Clear</th>
                            </thead>
                            <tbody>
                            <tr <tr ng-repeat="student in optional.applicationStudents">
                                <td width="15%"><a href="javascript:void(0)" ng-click="showApplicationForStudent(student)" style="font-weight: bold;">{{ ::student.studentId}}</a></td>
                                <td width="45%">{{ ::student.studentName}}</td>

                                <td width="15%">
                                        <div ng-switch on="student.statusLabel">
                                            <button  ng-switch-when="Applied" class="btn btn-default btn-outlined" type="button" style="padding: 0 5px;">{{ ::student.statusLabel}} </button>
                                            <button  ng-switch-when="Approved" class="btn btn-success btn-outlined" type="button" style="padding: 0 5px;">{{ ::student.statusLabel}} </button>
                                            <button  ng-switch-when="Rejected" class="btn btn-primary btn-outlined" type="button" style="padding: 0 5px;">{{ ::student.statusLabel}} </button>
                                            <button  ng-switch-when="Rejected and Shifted" class="btn btn-info btn-outlined" type="button" style="padding: 0 5px;">{{ ::student.statusLabel}} </button>
                                        </div>
                                </td>
                                <td width="15%" style="text-align: right;padding-right: 20px;">
                                    <div ng-switch on="student.statusLabel">
                                        <div ng-switch-when="Applied">
                                            <input type="radio" data-ng-model="student.newStatusId" value="1">
                                            <i class="fa fa-check-square" style="color: green;"></i>
                                            &nbsp;
                                            <input type="radio"  data-ng-model="student.newStatusId" value="2">
                                            <i class="fa fa-times" style="color: red;"></i>
                                        </div>
                                        <div ng-switch-when="Approved">
                                            <input type="radio" data-ng-model="student.newStatusId" value="2">
                                            <i class="fa fa-times" style="color: red;"></i>
                                        </div>
                                        <div ng-switch-when="Rejected">
                                            <input type="radio" data-ng-model="student.newStatusId" value="1">
                                            <i class="fa fa-check-square" style="color: green;"></i>
                                        </div>
                                        <div ng-switch-default>

                                        </div>
                                    </div>

                                </td>
                                <td width="15%" style="text-align: center">

                                    <i class="fa fa-eraser" data-ng-click="resetChanges(student)" style="cursor: pointer"></i>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="javascript:;" class="btn btn-xs btn-default"
                           data-ng-click="saveApplicationStatus()" style="margin-top: 20px;">
                            &nbsp;&nbsp;Save Changes &nbsp;
                            <i class="fa fa-forward" style="color: green;"></i>
                        </a>
                    </div>
                    <div id="tab-singleStudent" class="tab-pane fade">

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <label class="col-md-2 control-label"><b>Student Id</b></label>

                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input data-ng-model="optional.studentId" type="text"
                                           class="form-control required"/>
                                </div>



                            </div>
                            <div class="col-md-2">

                                <a href="javascript:;" class="btn btn-xs btn-default"
                                   data-ng-click="fetchApplicationForSingleStudent()">
                                    Search  <i class="fa fa-search"
                                                       style="color: blue;"></i>
                                </a>


                            </div>

                            <div class="col-md-2"></div>
                        </div>
                        <br/><br/><br/>
                        <table class="table table-striped table-hover">
                            <thead data-ng-show="optional.appliedCoursesForSingleStudent.length>0">
                                <th>Course No</th>
                                <th>Course Title</th>
                                <th>Status</th>
                                <th style="text-align: center;">Action</th>
                                <th style="text-align: center;">Clear</th>
                            </thead>
                            <tbody>
                             <tr ng-repeat="course in optional.appliedCoursesForSingleStudent">
                                <td width="15%"><b>{{ ::course.courseNo}}</b></td>
                                <td width="40%">{{ ::course.courseTitle}}</td>
                                <td width="15%">
                                    <div ng-switch on="course.statusLabel">
                                        <button  ng-switch-when="Applied" class="btn btn-default btn-outlined" type="button" style="padding: 0 5px;">{{ ::course.statusLabel}} </button>
                                        <button  ng-switch-when="Approved" class="btn btn-success btn-outlined" type="button" style="padding: 0 5px;">{{ ::course.statusLabel}} </button>
                                        <button  ng-switch-when="Rejected" class="btn btn-primary btn-outlined" type="button" style="padding: 0 5px;">{{ ::course.statusLabel}} </button>
                                        <button  ng-switch-when="Rejected and Shifted" class="btn btn-info btn-outlined" type="button" style="padding: 0 5px;">{{ ::course.statusLabel}} </button>
                                    </div>
                                </td>
                                <td width="15%" style="text-align: right;padding-right: 20px;">
                                    <div ng-switch on="course.statusLabel">
                                        <div ng-switch-when="Applied">
                                            <input type="radio" data-ng-model="course.newStatusId" value="1">
                                            <i class="fa fa-check-square" style="color: green;"></i>
                                            &nbsp;
                                            <input type="radio"  data-ng-model="course.newStatusId" value="2">
                                            <i class="fa fa-times" style="color: red;"></i>
                                        </div>
                                        <div ng-switch-when="Approved">
                                            <input type="radio" data-ng-model="course.newStatusId" value="2">
                                            <i class="fa fa-times" style="color: red;"></i>
                                        </div>
                                        <div ng-switch-when="Rejected">
                                            <input type="radio" data-ng-model="course.newStatusId" value="1">
                                            <i class="fa fa-check-square" style="color: green;"></i>
                                        </div>
                                        <div ng-switch-default>

                                        </div>
                                    </div>

                                </td>
                                <td width="15%" style="text-align: center">
                                    <i class="fa fa-eraser" data-ng-click="resetChanges(course)" style="cursor: pointer"></i>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="javascript:;" class="btn btn-xs btn-default"
                                   data-ng-click="goToTab(1)" style="margin-top: 20px;">
                                    &nbsp;&nbsp;Go Back &nbsp;
                                    <i class="fa fa-backward" style="color: green;"></i>
                                </a>
                                </div>
                            <div class="col-md-6" style="text-align: right">
                                <a href="javascript:;" class="btn btn-xs btn-default"
                                   data-ng-click="saveApplicationStatusForSingleStudent()" style="margin-top: 20px;">
                                    &nbsp;&nbsp;Save Changes &nbsp;
                                    <i class="fa fa-forward" style="color: green;"></i>
                                </a>
                            </div>
                            </div>


                    </div>
                    <div id="tab-shiftApplication" class="tab-pane fade">
                        <div class="dragndrop">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="panel panel-white">
                                        <div class="panel-heading">Rejected Students List for :
                                            <select style="width: 80%;font-size: 14px;color: black;"
                                                    data-ng-change="fetchStudents(optional.courseIdForRejectedStudents,2,'rejectedStudents')" data-ng-model="optional.courseIdForRejectedStudents">
                                                <option ng-repeat="course in optional.approvedCallForApplicationCourses"
                                                        value="{{course.id}}">{{course.title}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="panel-body" style="text-align: left">
                                            <div class="jqdragndrop-drop C"
                                                 style="width: 100%;height: 400px;background: #CCFFCC;">
                                                <b class="jqselection-selectable" id="{{student.studentId}}" ng-repeat="student in optional.rejectedStudents"
                                                   style="background-image:url(&quot;data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='180px'><text x='15' y='26' fill='black' font-size='25'>{{student.studentId}}</text></svg>&quot;)"><span
                                                        class='dragableObject' style='display:none'>{{student.studentId}}</span></b>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-white">
                                        <div class="panel-heading">Move Students to Course :
                                            <select style="width: 80%;font-size: 14px;color: black;"
                                                    data-ng-change="fetchStudents(optional.targetCourseIdForStudentShifting,1,'approvedStudents')" data-ng-model="optional.targetCourseIdForStudentShifting">
                                                <option ng-repeat="course in optional.approvedCallForApplicationCourses"
                                                        value="{{course.id}}">{{course.title}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="panel-body" style="text-align: left">
                                            <span class="badge badge-default"  ng-repeat="student in optional.approvedStudents">{{ ::student.studentId}}</span>
                                        </div>
                                    </div>

                                    <div class="jqdragndrop-drop D"
                                         style="width: 100%;height: 200px;background: #FFFFCC;">
                                    </div>
                                </div>
                            </div>

                            <br/>
                            <div class="row">
                                <div class="col-md-12" style="text-align: right;">
                                    <input type='button' value="Save Application Shifting" data-ng-click="saveApplicationShifting()"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div id="tab-section" class="tab-pane fade">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tab-content">
                                    <div id="tab-profile-setting" class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="dragndrop1">
                                                <div class="col-md-5">
                                                    Select a Course :
                                                    <br/>
                                                    <select class="form-control required"
                                                            data-ng-change="fetchSectionInformation(sectionCourseId)"
                                                            id="sectionCourseId" data-ng-model="sectionCourseId">
                                                        <option value="">Select a Course</option>
                                                        <option ng-repeat="course in optional.approvedCallForApplicationCourses"
                                                                value="{{course.id}}">{{course.title}}
                                                        </option>
                                                    </select>
                                                    <br/>

                                                    <div class="jqdragndrop-drop AA"
                                                         style="width: 100%;height: 200px;background: #FFFFCC;">
                                                        <b class="jqselection-selectable"
                                                           ng-repeat="student in optional.nonAssignedStudents"
                                                           style="background-image:url(&quot;data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='180px'><text x='15' y='26' fill='black' font-size='25'>{{ ::student.studentId}}</text></svg>&quot;)"><span
                                                                class='dragableObject'
                                                                style='display:none'>{{ ::student.studentId}}</span></b>
                                                    </div>

                                                    <br/>
                                                    <a href="javascript:;" class="btn btn-xs btn-default"
                                                       data-ng-click="addNewSection()"
                                                       data-ng-disabled="routine.addButtonDisable">
                                                        Add New Section <i class="fa fa-plus-circle"
                                                                           style="color: blue;"></i>
                                                    </a>


                                                </div>
                                                <div class="col-md-7">


                                                    <div ng-repeat="section in optional.sections">
                                                        <div class="thumbnail">
                                                            <div class="row">
                                                                <div class="col-md-9">
                                                                    Section Name : <input type="text" style="width: 70%" data-ng-model="section.sectionName"/>
                                                                </div>
                                                                <div class="col-md-3" style='text-align:right;'>
                                                                    <a href="javascript:;"
                                                                       class="btn btn-xs btn-default btn-round"
                                                                       data-ng-click="saveSection(section)"
                                                                       style="border-radius: 15px;"
                                                                       data-ng-hide="date_time.readOnly">
                                                                        <i class="fa fa-floppy-o"
                                                                           style="color: green;"></i>
                                                                    </a>
                                                                    <a href="javascript:;"
                                                                       class="btn btn-xs btn-default btn-round"
                                                                       data-ng-click="removeSection(section.index)"
                                                                       style="border-radius: 15px;"
                                                                       data-ng-hide="date_time.readOnly">
                                                                        <i class="fa fa-times" style="color: red;"></i>
                                                                    </a>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="jqdragndrop-drop BB" id="section{{section.index}}"
                                                                         style="width: 100%;height: 200px;background: #FFFFCC;">
                                                                        <b class="jqselection-selectable"
                                                                           ng-repeat="student in section.studentList"
                                                                           style="background-image:url(&quot;data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='180px'><text x='15' y='26' fill='black' font-size='25'>{{ ::student.mId}}</text></svg>&quot;)">
                                                                            <span class='dragableObject' style='display:none'>{{ ::student.mId}}</span></b>

                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

