<form action="" class="form-horizontal">
    <div class="form-body pal">
        <div class="form-group">
            <label for="accountName" class="col-md-3 control-label">Account Head</label>
            <div class="col-md-9">
                <div class="input-icon right">
                    <input id="accountName" ng-model="vm.account.accountName" type="text" placeholder=""
                           class="form-control" autofocus />
                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="accountName" class="col-md-3 control-label">Account Code</label>
            <div class="col-md-9">
                <div class="input-icon right">
                    <input id="accountCode" ng-model="vm.account.accountCode" type="text" placeholder=""
                           class="form-control"/>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label for="groupName" class="col-md-3 control-label">Group Name</label>
            <div class="col-md-9">
                <ui-select id="groupName" theme="bootstrap"
                           data-ng-model="vm.selectedGroup"
                >
                    <ui-select-match placeholder="Select Main Group">{{vm.selectedGroup.groupName}}</ui-select-match>
                    <ui-select-choices repeat="g in vm.groups|filter:$select.search">
                        <small ng-bind-html="g.groupName | highlight:$select.search"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label for="openingBalance" class="col-md-3 control-label">Opening Balance</label>
            <div class="col-md-5">
                <div class="input-icon right">
                    <input  id="openingBalance" ng-model="vm.account.yearOpenBalance"  type="text" placeholder=""
                           class="form-control"/>
                </div>
            </div>
            <div ng-disabled="true" class="col-md-4" balance-type-directive balance-type="vm.account.yearOpenBalanceType"></div>
        </div>
        <div class="form-group">
            <label for="closingBalance" class="col-md-3 control-label">Closing Balance</label>
            <div class="col-md-5">
                <div class="input-icon right">
                    <input id="closingBalance" ng-model="vm.account.yearOpenBalance" ng-disabled="true" type="text"
                           placeholder="" class="form-control"/>
                </div>
            </div>
            <div ng-disabled="true" class="col-md-4" balance-type-directive balance-type="vm.account.yearOpenBalanceType"></div>
        </div>
    </div>

</form>