<div align="right">
    <dir-pagination-controls boundary-links="true"
                             pagination-id="existingAccounts"
                             on-page-change="vm.pageChanged(vm.pageNumber)"
                             template-url="views\definitions\account\dirPagination.html"></dir-pagination-controls>
</div>


<table class="table table-bordered  table-hover " style="overflow-scrolling: auto">
    <thead>
    <tr>
        <th>#</th>
        <th>Account Name</th>
        <th>Account Code</th>
        <th>Account Group</th>
        <th>Last Modified</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="p in vm.existingAccounts | itemsPerPage: vm.itemsPerPage"
        current-page="vm.pageNumber"
        total-items="vm.totalAccountSize"
        pagination-id="existingAccounts"
        style="cursor: pointer;">
        <td>{{p.rowNumber}}</td>
        <td>{{p.accountName}}</td>
        <th>{{p.accountCode}}</th>
        <td>{{p.accGroupName}}</td>
        <td>{{p.modifiedDate}}</td>
        <td><button class="btn btn-sm btn-success" ng-click="vm.edit(p)" data-toggle="modal" data-target="#addModal">Edit
            </button>
        </td>
    </tr>

    </tbody>
</table>

