<div align="right">
    <dir-pagination-controls boundary-links="true"
                             pagination-id="existingAccounts"
                             on-page-change="vm.pageChanged(vm.pagination.currentPage)"
                             template-url="views\definitions\account\dirPagination.html"></dir-pagination-controls>
</div>


<table class="table table-bordered  table-hover ">
    <thead>
    <tr>
        <th>#</th>
        <th>Account Name</th>
        <th>Account Group</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="p in vm.existingAccounts | itemsPerPage: vm.itemsPerPage"
        current-page="vm.pagination.currentPage"
        total-items="vm.totalAccountSize"
        pagination-id="existingAccountPaginated"
        style="cursor: pointer;">
        <td>{{p.rowNum}}</td>
        <td>{{p.accountName}}</td>
        <td>{{p.accGroupName}}</td>
    </tr>

    </tbody>
</table>

