
<style>
    fieldset {
        border:1px solid grey;
        width: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    legend {
        border:1px solid grey;
        color:#4d4b4b;
        font-size:90%;
        text-align:center;
        width: 60%;
        font-weight: bold;
    }
</style>


<div class="row" >
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>
    <div class="panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal" data-validate=""  data-onvalidate="expandDiv" >
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Program Type</label>
                        <div class="col-md-8">
                            <select
                                    class="form-control required"
                                    name="programType"
                                    id="programType"
                                    data-ng-options="programType.name for programType in programTypes track by programType.id"
                                    data-ng-model="programType" data-ng-change="getSemesters()">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>
                        <div class="col-md-8">
                            <!--<select class="form-control required" name="semester" data-ng-model="semester">
                                <option   value="">Select a semester</option>
                                <option data-ng-repeat="semester in semesters" value="{{semester}}">{{semester.name}}</option>
                            </select>-->
                            <select
                                    class="form-control required"
                                    name="semester"
                                    id="semester"
                                    data-ng-options="semester.name for semester in semesters track by semester.id"
                                    data-ng-model="semester">

                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div id="rightDiv">
        <div class="panel">
            <div class="panel-heading">Taletalk-admission Data<span
                    class="subtitle"></span></div>
            <div class="panel-body shadowPanel"   style="min-height: 490px;">

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Receipt Id</span>
                            <input id="receiptId" type="text" class="form-control" name="receiptId" data-ng-model="receiptId" placeholder="Insert Receipt Id Here">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-ng-click="searchByReceiptId(receiptId)"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br>

                <div class="row" data-ng-if="showDescriptionSection">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td >Name</td>
                                    <td >: <b>{{admissionStudent.studentName}}</b></td>
                                </tr>
                                <tr>
                                    <td >Receipt Id</td>
                                    <td>: <b>{{admissionStudent.receiptId}}</b></td>
                                </tr>
                                <tr>
                                    <td >Unit</td>
                                    <td>: <b>{{admissionStudent.unit}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br>
                <div class="row" data-ng-if="showDescriptionSection">
                    <div class="col-md-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        Admission fee<br>
                                        Registration fee<br>
                                        Tuition fee<br>
                                        Establishment fee<br>
                                        Laboratory fe
                                    </td>
                                    <td align="center">
                                        <p style="font-size: 300%">}</p>
                                    </td>
                                    <td align="center">
                                        <br>
                                        <div data-ng-if="admissionStudent.unit==='BBA'">
                                            <b>Tk.</b><br>
                                            <b>80,360/-</b>
                                        </div>
                                        <div data-ng-if="admissionStudent.unit==='ENGINEERING'">
                                            <b>Tk.</b><br>
                                            <b>1,04,800/-</b>
                                        </div>
                                    </td>
                                    <td align="center">
                                        <br>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Paid
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center"><b>Total</b></td>
                                    <td></td>
                                    <td align="center" colspan="2">
                                        <div data-ng-if="admissionStudent.unit==='BBA'">
                                            <b>Tk. 80,360/-</b>
                                        </div>
                                        <div data-ng-if="admissionStudent.unit==='ENGINEERING'">
                                            <b>Tk. 1,04,800/-</b>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12" align="center">
                        <div data-ng-if="admissionStudent.unit==='BBA'">
                            <b>In words: Taka eighty thousand three hundred sixty only</b>
                        </div>
                        <div data-ng-if="admissionStudent.unit==='ENGINEERING'">
                            In words: <b>Taka one lac four thousand eight hundred only</b>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row" data-ng-if="showDescriptionSection">
                    <div class="col-md-12">
                        <div class="well" align="right">
                            <button class="btn btn-danger">Submit</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>