<div class="tab-content">
    <div class="list-group mail-box">

        <x  class="list-group-item"><input
                type="checkbox"/>
            <a href="#/mailBox/viewMail">
                <span class="fa fa-star-o mrm mlm"></span><span
                    style="min-width: 120px; display: inline-block;"
                    class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
                &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><span
                    class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                    class="glyphicon glyphicon-paperclip"></span></span></a></x>


        <a href="#"
           class="list-group-item"><input
                type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
                style="min-width: 120px; display: inline-block;"
                class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
            &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><span
                    class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                    class="glyphicon glyphicon-paperclip"></span></span></a><a href="#"
                                                                               class="list-group-item"><input
            type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
            style="min-width: 120px; display: inline-block;"
            class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
        &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</span><span
                class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                class="glyphicon glyphicon-paperclip"></span></span></a><a href="#"
                                                                           class="list-group-item"><input
            type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
            style="min-width: 120px; display: inline-block;"
            class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
        &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><span
                class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                class="glyphicon glyphicon-paperclip"></span></span></a><a href="#"
                                                                           class="list-group-item"><input
            type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
            style="min-width: 120px; display: inline-block;"
            class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
        &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</span><span
                class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                class="glyphicon glyphicon-paperclip"></span></span></a><a href="#"
                                                                           class="list-group-item"><input
            type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
            style="min-width: 120px; display: inline-block;"
            class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
        &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><span
                class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                class="glyphicon glyphicon-paperclip"></span></span></a><a href="#"
                                                                           class="list-group-item"><input
            type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
            style="min-width: 120px; display: inline-block;"
            class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
        &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><span
                class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                class="glyphicon glyphicon-paperclip"></span></span></a><a href="#"
                                                                           class="list-group-item"><input
            type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
            style="min-width: 120px; display: inline-block;"
            class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
        &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><span
                class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                class="glyphicon glyphicon-paperclip"></span></span></a><a href="#"
                                                                           class="list-group-item"><input
            type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
            style="min-width: 120px; display: inline-block;"
            class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
        &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</span><span
                class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                class="glyphicon glyphicon-paperclip"></span></span></a><a href="#"
                                                                           class="list-group-item"><input
            type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
            style="min-width: 120px; display: inline-block;"
            class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
        &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><span
                class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                class="glyphicon glyphicon-paperclip"></span></span></a><a href="#"
                                                                           class="list-group-item"><input
            type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
            style="min-width: 120px; display: inline-block;"
            class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
        &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span><span
                class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                class="glyphicon glyphicon-paperclip"></span></span></a><a href="#"
                                                                           class="list-group-item"><input
            type="checkbox"/><span class="fa fa-star-o mrm mlm"></span><span
            style="min-width: 120px; display: inline-block;"
            class="name">Bhaumik Patel</span><span>Sed ut perspiciatis unde</span>&nbsp; -
        &nbsp;<span style="font-size: 11px;" class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit ...</span><span
                class="time-badge">12:10 AM</span><span class="pull-right mrl"><span
                class="glyphicon glyphicon-paperclip"></span></span></a></div>
</div>