<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2" for="courseTeacher">Course Teacher :</label>
                <div class="col-md-10">
                    <div class="col-md-11">
                        <ui-select theme="bootstrap"
                                   data-ng-model="vm.selectedCourseTeacher" on-select="vm.courseTeacherSearched()"

                        >
                            <ui-select-match placeholder="Select Course Teacher">
                                {{vm.selectedCourseTeacher.employeeName}}
                            </ui-select-match>
                            <ui-select-choices id="courseTeacher"
                                               repeat="g in vm.classRoutineService.teacherList | filter:$select.search">
                                <small ng-bind-html="g.employeeName | highlight:$select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class=" col-md-3">Name :</label>
                <div class="col-md-9">
                    <label><b>{{vm.selectedCourseTeacher.employeeName}}</b></label>
                </div>
            </div>
            <div class="form-group">
                <label class=" col-md-3">Designation :</label>
                <div class="col-md-9">
                    <label><b>{{vm.selectedCourseTeacher.designationName}}</b></label>
                </div>
            </div>
            <div class="form-group">
                <label class=" col-md-3">Department :</label>
                <div class="col-md-9">
                    <label><b>{{vm.selectedCourseTeacher.deptOfficeName}}</b></label>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><b>Course in routine</b></p>
    </div>
    <div class="col-md-12 list-group-short">
        <table class="table table-bordered table-striped">
            <thread >
                <th>Day</th>
                <th>Course No</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Room No</th>
                <th>Section</th>
            </thread>
            <tbody>
            <tr ng-repeat="routine in vm.routineBasedOnCourse">
                <td>{{vm.classRoutineService.weekDayMapWithId[routine.day]}}</td>
                <td>{{routine.course.courseTitle}}</td>
                <td>{{routine.startTime}}</td>
                <td>{{routine.endTime}}</td>
                <td>{{routine.room.roomNo}}</td>
                <td>{{routine.section}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
