<style>
    .circle-button {
        border-radius: 12px;
    }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;
        margin: 4px 2px;
    }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="well" style="background-color: #ffeeff">
            <div class="row" align="center">
                <button class="btn btn-success btn-sm circle-button" ng-click="vm.add()">+</button>
            </div>
            <br/>
            <div class="row">

                <form class="form-horizontal" ng-repeat="slotRoutine in vm.slotRoutineList">
                    <hr/>
                    <div class="form-group" align="right">
                        <div class="col-sm-12">
                            <i class="fa fa-minus-circle" ng-click="vm.remove(slotRoutine)" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="course">Course :</label>
                        <div class="col-md-9">
                            <ui-select id="courseNo" theme="bootstrap"
                                       data-ng-model="slotRoutine.course"
                                       on-select="vm.courseSelected(slotRoutine)">
                                <ui-select-match placeholder="Select Course">{{slotRoutine.course.title}}
                                </ui-select-match>
                                <ui-select-choices id="course"
                                                   repeat="g in vm.classRoutineService.courseList|filter:$select.search"
                                >
                                    <small ng-bind-html="g.title | highlight:$select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-3" for="startTime">Start Time :</div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="startTime" ng-model="slotRoutine.startTime"
                                   placeholder="HH:MM AM/PM"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-3" for="endTime">End Time :</div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="endTime" ng-model="slotRoutine.endTime"
                                   placeholder="HH:MM AM/PM" ng-click="vm.assignEndTime(slotRoutine)"
                                   ng-focus="vm.assignEndTime(slotRoutine)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="roomNo">Room No :</label>
                        <div class="col-md-9">
                            <ui-select id="room" theme="bootstrap"
                                       data-ng-model="slotRoutine.room" on-select="vm.roomSelected(slotRoutine.room)"
                            >
                                <ui-select-match placeholder="Select Room No">{{slotRoutine.room.roomNo}}
                                </ui-select-match>
                                <ui-select-choices id="roomNo"
                                                   repeat="g in vm.classRoutineService.roomList | filter:$select.search">
                                    <small ng-bind-html="g.roomNo | highlight:$select.search"></small>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" for="courseTeacher">Course Teacher :</label>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-11">
                                    <ui-select theme="bootstrap"
                                               data-ng-model="slotRoutine.employee"

                                    >
                                        <ui-select-match placeholder="Select Course Teacher">
                                            {{slotRoutine.employee.employeeName}}
                                        </ui-select-match>
                                        <ui-select-choices id="courseTeacher"
                                                           repeat="g in vm.classRoutineService.teacherList | filter:$select.search">
                                            <small ng-bind-html="g.employeeName | highlight:$select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-plus-square-o" aria-hidden="true" style="cursor: pointer"
                                       ng-click="vm.addSelectedTeacher(slotRoutine)"></i>
                                </div>

                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="t in slotRoutine.courseTeacher">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    {{t.teacher.name}}
                                                </div>
                                                <div class="col-md-2">
                                                    <i class="fa fa-trash" aria-hidden="true"
                                                       style="cursor: pointer"></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <ul class="nav nav-tabs">
            <li data-ng-class="vm.showCourseInfo==true?'active':''"><a ng-click="vm.fetchCourseInfo()"
                                                                       data-toggle="tab">Course Info</a>
            </li>
            <li data-ng-class="vm.showRoomInfo==true?'active':''"><a ng-click="vm.fetchRoomInfo()" data-toggle="tab">Room
                Info</a></li>
        </ul>
        <div class="tab-content">
            <div ng-if="vm.showCourseInfo==true"
                 ng-include="'views/routine/course-routine-info.html'"></div>
            <div ng-if="vm.showRoomInfo==true" ng-include="'views/routine/room-routine-info.html'"></div>
        </div>
    </div>
</div>