<div class="row">
    <div class="col-md-12">
        <a ui-sref=".composeMail" role="button" class="btn btn-danger btn-sm btn-block" style="background-color:#795548;border:2px solid #795548;">Search</a>
        <a ui-sref=".composeMail" role="button" class="btn btn-danger btn-sm btn-block" style="background-color:#795548;border:2px solid #795548;">Book</a>
        <a ui-sref=".composeMail" role="button" class="btn btn-danger btn-sm btn-block" style="background-color:#795548;border:2px solid #795548;">COMPOSE</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12" ui-view>
    </div>
</div>


