<div class="row">
    <div class="col-md-12">

        <div style="float:left;margin-left:10px;" ng-if="data.collapsedItemTable">
            <span style='font-size:25px;'>[</span> <i class="fa fa-angle-double-right fa-cx"
                                                      style='color:green;cursor:pointer;'
                                                      ng-click="showHideItemsTable('show')"></i> <span
                style='font-size:25px;'>]</span>
        </div>
        <div style="float:left;margin-left:10px;" ng-if="!data.collapsedItemTable">
            <span style='font-size:25px;'>[</span> <i class="fa fa-angle-double-left fa-cx"
                                                      style='color:green;cursor:pointer;'
                                                      ng-click="showHideItemsTable('hide')"></i> <span
                style='font-size:25px;'>]</span>
        </div>
        <div style='float:left;margin-top:10px;margin-left:5px;font-weight:bold;' ng-if="data.collapsedItemTable">
            Show Items Table
        </div>
        <div style='float:left;margin-top:10px;margin-left:5px;font-weight:bold;' ng-if="!data.collapsedItemTable">
            Hide Items Table
        </div>
    </div>
</div>
<div class="row" id="itemsDiv">
    <div class="col-md-12" style="padding-top: 10px;">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed cf">
                <thead class="cf">
                <tr style="background-color: #EEE">
                    <th style="text-align: center">SL</th>
                    <th style="text-align: center">Copy No</th>
                    <th class="numeric">Accession No</th>
                    <th class="numeric">Accession Date</th>
                    <th class="numeric">Binding Type</th>
                    <th class="numeric">Paper Quality</th>
                    <th class="numeric">Acqui. Type</th>
                    <th class="numeric">Currency</th>
                    <th class="numeric" style="text-align: center">Purchase Price</th>
                    <th class="numeric">Supplier</th>
                    <th class="numeric" style="text-align: center">Status</th>
                    <th class="numeric" style="text-align: center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in itemList">
                    <td data-title="SL" style="text-align: center">{{$index+1}}</td>
                    <td data-title="Copy No" style="text-align: center">{{item.copyNumber}}</td>
                    <td data-title="Accession No" class="numeric">{{item.accessionNumber}}</td>
                    <td data-title="Accession Date" class="numeric">{{item.accessionDate}}</td>
                    <td data-title="bindingType" class="numeric">{{item.bindingTypeName}}</td>
                    <td data-title="paperQuality" class="numeric">{{item.paperQuality}}</td>
                    <td data-title="acqType" class="numeric">{{item.acqTypeName}}</td>
                    <td data-title="Currency" class="numeric">{{item.currencyName}}</td>
                    <td data-title="Purchase Price" class="numeric" style="text-align: right">{{item.price}}</td>
                    <td data-title="Supplier" class="numeric">{{item.supplier.name}}</td>
                    <td data-title="Status" class="numeric" style="text-align: center">{{item.statusName}}</td>
                    <td data-title="Action" class="numeric" style="text-align: center">
                        <i class="fa fa-eye" data-toggle="tooltip"
                           title="View Item" style="cursor: pointer;" data-ng-click="fetchItem(item.id,'view')"></i>
                        <i class="fa fa-pencil-square-o" style="cursor: pointer;" data-toggle="tooltip"
                           title="Edit Item"
                           data-ng-click="fetchItem(item.id, 'edit')"></i>
                        <a data-target="#modal-confirm1" data-toggle="modal"
                           style="cursor: pointer" data-toggle="tooltip"
                           title="Delete Item" data-ng-click="deleteItem(item.id)"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="alignLeft" id="newItemTitle" style="padding-left: 2%;font-size: 18px;font-weight: bold;">
            <span ng-if="!data.multipleItemAdd">Add Item</span>
            <span ng-if="data.multipleItemAdd">Add Items</span>
        </p>
        <p class="alignRight" style="padding-right: 10px;">
            <a href="javascript:;" class="btn btn-xs btn-default bookAnchor" data-ng-show="data.multipleItemAdd"
               data-ng-click="data.multipleItemAdd=false;data.showItemMainButtonPanel=true;showHideItemsTable('show');"
               style="background-color: white;">
                <i data-toggle="tooltip" title="Back to Add Single Item" class="fa fa-arrow-left"
                   aria-hidden="true"></i>
            </a>

            <a href="javascript:;" class="btn btn-xs btn-default bookAnchor"
               data-ng-click="resetItemForm()" style="background-color: white;">
                <i data-toggle="tooltip" title="Clear & Add New Item" class="fa fa-plus-square" aria-hidden="true"></i>
            </a>
        </p>
        <!--Edit Item # 3 / Barcode 3 -->
        <hr style="clear: both;"/>
    </div>
</div>

<form action="" class="form-horizontal" data-onvalidate="saveItem" data-validate="" id="itemForm">
    <div class="form-body pal" style="margin-top: -25px;" ng-show="!data.multipleItemAdd">
        <div class="form-group">
            <label class="col-md-1 control-label">Copy Number</label>
            <div class="col-md-3">
                <input type="text" class="form-control dottedInput" data-ng-model="item.copyNumber" id="copyNumber"
                       name="copyNumber" ng-readonly="data.itemReadOnlyMode"/>
            </div>
            <label class="col-md-1 control-label">Accession #</label>
            <div class="col-md-3">
                <input type="text" class="form-control dottedInput required" data-ng-model="item.accessionNumber"
                       id="accessionNumber" name="accessionNumber" ng-readonly="data.itemReadOnlyMode"/>
            </div>
            <label class="col-md-1 control-label">Access. Date</label>
            <div class="col-md-3">
                <input type="text" data-date-format="dd-mm-yyyy" placeholder="DD-MM-YYYY"
                       class="datepicker-default form-control dottedInput" data-provide="datepicker"
                       data-ng-model="item.accessionDate" id="accessionDate" name="accessionDate"
                       ng-readonly="data.itemReadOnlyMode"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-1 control-label">Barcode</label>
            <div class="col-md-3">
                <input type="text" class="form-control dottedInput" data-ng-model="item.barcode" id="barcode"
                       name="barcode" ng-readonly="data.itemReadOnlyMode"/>
            </div>

            <label class="col-md-1 control-label" for="acqType">Acqui. Type
                <img src="https://cdn2.iconfinder.com/data/icons/officeicons/PNG/24/Help.png"
                     height="16" width="16"
                     style="float: right;cursor: pointer;margin-left: 5px;"
                     data-toggle="tooltip"
                     data-placement="top"
                     title="Acquisition Type"/>
            </label>

            <div class="col-md-3">
                <select style="width: 98%"
                        data-ng-model="item.acqType"
                        id="acqType"
                        name="acqType"
                        cRequired=""
                        ng-disabled="data.readOnlyMode"
                        ng-class="{'disabledElement': data.readOnlyMode}"
                        data-convert-to-number>
                    <option data-ng-repeat="acqType in data.acquisitionTypeOptions" value="{{acqType.id}}">
                        {{acqType.name}}
                    </option>
                </select>
            </div>
            <label class="col-md-1 control-label">Currency</label>
            <div class="col-md-3">
                <select style="width: 98%" class="required" data-ng-model="item.currency" id="currency"
                        name="currency" ng-disabled="data.itemReadOnlyMode"
                        ng-class="{'disabledElement': data.itemReadOnlyMode}" data-convert-to-number>
                    <option data-ng-repeat="currency in currencies" value="{{currency.id}}">{{currency.notation}}
                    </option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-1 control-label">Price</label>
            <div class="col-md-3">
                <input type="text" class="form-control dottedInput" data-ng-model="item.price" id="price" name="price"
                       ng-readonly="data.itemReadOnlyMode"/>
            </div>

            <label class="col-md-1 control-label">Internal Note</label>
            <div class="col-md-6">
                <input type="text" class="form-control dottedInput" data-ng-model="item.internalNote" id="internalNote"
                       name="internalNote" ng-readonly="data.itemReadOnlyMode"/>
            </div>
        </div>

        <div class="form-group">

            <label class="col-md-1 control-label">Supplier
                &nbsp;&nbsp;<span data-toggle="tooltip"
                                  title="Create New Supplier"><i class="fa fa-wpforms  fa-md" aria-hidden="true"
                                                                 style="cursor: pointer"
                                                                 data-toggle="modal" data-target="#modal-supplier"></i></span>
                &nbsp;&nbsp;<i class="fa fa-refresh" style="cursor: pointer" data-toggle="tooltip"
                               title="Refresh" aria-hidden="true" data-ng-click="reloadSuppliers()"></i>

            </label>
            <div class="col-md-3" id="supplierSelect2Div">
                <div data-ng-if="showSupplierSelect2">
                    <input type="text" class="form-control" style="width: 98%" data-select="select2" page="true"
                           parent="supplierSelect2Div"
                           datas="supplierList" placeholder="Select a Name" data-ng-model="item.supplier.id"
                           id="supplier" name="supplier" ng-disabled="data.itemReadOnlyMode"/>
                </div>
            </div>

            <div class="col-md-1">
                <span data-ng-show="showSupplierLoader">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
                </span>
            </div>

            <label class="col-md-1 control-label" for="itemStatus">Status</label>
            <div class="col-md-2">
                <select style="width: 98%" class="required" data-ng-model="item.status" id="itemStatus"
                        name="itemStatus" ng-disabled="data.itemReadOnlyMode"
                        ng-class="{'disabledElement': data.itemReadOnlyMode}" data-convert-to-number>
                    <option data-ng-repeat="item in data.itemOptions" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>

            <label class="col-md-1 control-label" for="bindingType">Binding Type</label>
            <div class="col-md-2">
                <select style="width: 98%"
                        data-ng-model="item.bindingType"
                        id="bindingType"
                        name="bindingType"
                        data-convert-to-number>
                    <option data-ng-repeat="binding in data.bindingTypeOptions" value="{{binding.id}}">{{binding.name}}
                    </option>
                </select>
            </div>

        </div>

        <div class="form-group">
            <label class="col-md-1 control-label" for="paperQuality">Paper Quality</label>
            <div class="col-md-3">
                <input type="text" placeholder="" class="form-control dottedInput"
                       data-ng-model="item.paperQuality" name="paperQuality" id="paperQuality"/>
            </div>
        </div>
    </div>

    <div class="row" data-ng-show="data.showItemMainButtonPanel">
        <div class="text-right col-md-12" style="padding-top: 45px;padding-left: 4%;padding-bottom: 10px;">
            <button type="button" class="btn btn-dark btn-success" value="add_item">Add Item</button>&nbsp;&nbsp;&nbsp;
            <!--<button type="button" class="btn btn-dark btn-success" value="add_and_duplicate_item">Add & Duplicate</button>&nbsp;&nbsp;&nbsp;-->
            <a class="btn btn-dark" value="save_edit_record" ng-click="data.showItemMainButtonPanel=false;">Add Multiple
                copies of this item</a>

            <input type="hidden" data-ng-model="item.mfnNo"/>
            <input type="hidden" data-ng-model="item.itemId"/>

        </div>
    </div>
</form>


<div ng-show="data.multipleItemAdd" id="bulkItemContainer">
    <form action="" class="form-horizontal" data-onvalidate="saveBulkItems" data-validate="" id="bulkItemForm">
        <table class="table table-bordered table-striped table-condensed cf">
            <thead class="cf">
            <tr>
                <th align="center" width="5%" style="text-align: center;">Copy#</th>
                <th align="center" width="8%" style="text-align: center;">Accession #</th>
                <th align="center" width="8%" style="text-align: center;">Accession Date</th>
                <th align="center" width="10%" style="text-align: center;">Barcode</th>
                <th align="center" width="12%" style="text-align: center;">Binding Type</th>
                <th align="center" width="12%" style="text-align: center;">Paper Quality</th>
                <th align="center" width="12%" style="text-align: center;">Acqui. Type</th>
                <th align="center" width="8%" style="text-align: center;">Currency</th>
                <th align="center" width="8%" style="text-align: center;">Price</th>
                <th align="center" width="15%" style="text-align: center;">Supplier</th>
                <th align="center" width="8%" style="text-align: center;">Status</th>
                <th align="center" width="10%" style="text-align: center;">Note</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in bulkItemList">
                <td align="center"><input type='text' style='width:40px;border: 1px solid grey;text-align: center;'
                                          data-ng-model="item.copyNumber"/></td>
                <td align="center"><input type='text' style='width:150px;border: 1px solid grey;padding-left: 5px;'
                                          data-ng-model="item.accessionNumber"
                                          name="bulkAccessionNumber{{$index}}" id="bulkAccessionNumber{{$index}}"/></td>
                <td align="center">
                    <input type='text' style='width:80px;border: 1px solid grey;text-align: center;'
                           data-ng-model="item.accessionDate" readonly="readonly"/>
                </td>
                <td align="center"><input type='text' style='width:150px;border: 1px solid grey;'
                                          data-ng-model="item.barcode" readonly="readonly"/></td>
                <td align="center"><select style="width: 98%"
                                        data-ng-model="item.bindingType"
                                        data-convert-to-number>
                    <option data-ng-repeat="bindingType in data.bindingTypeOptions" value="{{bindingType.id}}">
                        {{acqType.name}}
                    </option>
                </select>
                </td>

                <td align="center">
                    <input type='text' style='width:80px;border: 1px solid grey;text-align: center;'
                           data-ng-model="item.paperQuality"/>
                </td>

                <td align="center">
                    <select style="width: 98%"
                            data-ng-model="item.acqType"
                            id="bulkAcqType{{$index}}"
                            name="bulkAcqType{{$index}}"
                            ng-disabled="data.readOnlyMode"
                            ng-class="{'disabledElement': data.readOnlyMode}"
                            data-convert-to-number>
                        <option data-ng-repeat="acqType in data.acquisitionTypeOptions" value="{{acqType.id}}">
                            {{acqType.name}}
                        </option>
                    </select>
                </td>
                <td align="center"><select style="width: 98%" class="required" data-ng-model="item.currency"
                                           id="bulkCurrency{{$index}}"
                                           name="bulkCurrency{{$index}}" ng-disabled="data.itemReadOnlyMode"
                                           ng-class="{'disabledElement': data.itemReadOnlyMode}" data-convert-to-number>
                    <option data-ng-repeat="currency in currencies" value="{{currency.id}}">{{currency.notation}}
                    </option>
                </select></td>
                <td align="center"><input type='text'
                                          style='width:80px;border: 1px solid grey;text-align: right; padding-right: 4px;'
                                          data-ng-model="item.price"/></td>
                <td align="center">
                    <input type="text" class="form-control bbvfd" style="width: 99%" data-select="select2" page="true"
                           id="bulkContributorName{{$index}}" name="bulkContributorName{{$index}}"
                           data-ng-model="item.supplier.id" datas="supplierList" placeholder="Select a Name"/>
                </td>
                <td align="center">
                    <select style="width: 98%;height: 24px;padding: 0px;" data-ng-model="item.status"
                            id="itemStatus1" name="itemStatus" data-convert-to-number>
                        <option data-ng-repeat="item in data.itemOptions" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </td>
                <td align="center"><input type='text' style='width:150px;padding-left: 5px;'
                                          data-ng-model="item.internalNote"/></td>

            </tr>

            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12" style="padding-top: 45px;padding-left: 4%;padding-bottom: 10px;">
                <button type="button" class="btn btn-dark btn-success" value="add_item">Save Items</button>&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </form>
</div>


<fieldset id="add_multiple_copies_span" data-ng-if="!data.showItemMainButtonPanel">
    <label for="number_of_copies">Number of copies of this item to add: </label>
    <input type="text" id="number_of_copies" name="number_of_copies" value="" size="2"
           style="text-align:center;border:1px solid grey;" ng-model="data.bulkAddCount">
    <input type="button" id="add_multiple_copies_submit" name="add_multiple_copies_submit" value="Add"
           ng-click="addNewItems()">
    <a id="cancel_add_multiple" class="cancel"
       ng-click="data.showItemMainButtonPanel=true;data.multipleItemAdd=false;showHideItemsTable('show');">Cancel</a>

    <div class="hint">
        <table>
            <tr>
                <td width="10%" style="height: 28px;">Copy Start From :</td>
                <td width="23%"><input type="text" value="" style="text-align:center;border:1px solid grey;"
                                       ng-model="bulk.config.copyStartFrom"/></td>
                <td width="10%">First Accession# :</td>
                <td width="23%"><input type="text" value="" style="text-align:center;border:1px solid grey;"
                                       ng-model="bulk.config.firstAccession"/></td>
                <td width="10%">Increment Segment :</td>
                <td width="23%"><input type="text" value="" style="text-align:center;border:1px solid grey;"
                                       ng-model="bulk.config.incrementSegment"/></td>
            </tr>
            <tr>
                <td width="10%">Accession Date :</td>
                <td width="23%"><input type="text" value="" style="text-align:center;border:1px solid grey;"
                                       ng-model="bulk.config.accessionDate"/></td>
                <td width="10%">Acqui. Type :</td>
                <td width="23%"><select style="width: 98%"
                                        data-ng-model="bulk.config.acqType"
                                        data-convert-to-number>
                    <option data-ng-repeat="acqType in data.acquisitionTypeOptions" value="{{acqType.id}}">
                        {{acqType.name}}
                    </option>
                </select></td>
                <td width="10%">Currency :</td>
                <td width="23%"><select style="height: 24px;padding: 0px; width: 158px;"
                                        data-ng-model="bulk.config.currency" data-convert-to-number>
                    <option data-ng-repeat="currency in currencies" value="{{currency.id}}">
                        {{currency.notation}}
                    </option>
                </select></td>
            </tr>
            <tr>
                <td width="10%">Price :</td>
                <td width="23%"><input type="text" value="" style="text-align:center;border:1px solid grey;"
                                       ng-model="bulk.config.price"/></td>
                <td width="10%">Supplier :</td>
                <td width="23%">
                    <input type="text" style="width: 65%" class="form-control" data-select="select2" page="true"
                           data-ng-model="bulk.config.supplier" datas="supplierList" placeholder="Select a Name"
                           id="configSupplierName" name="configSupplierName"/>

                </td>
                <td width="10%">Status :</td>
                <td width="23%">
                    <select style="height: 24px;padding: 0px; width: 158px;" class="required"
                            data-ng-model="bulk.config.status" data-convert-to-number>
                        <option data-ng-repeat="item in data.itemOptions" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="10%">Note :</td>
                <td width="23%"><input type="text" value="" style="text-align:center;border:1px solid grey;"
                                       ng-model="bulk.config.internalNote"/></td>
                <td width="10%">Binding Type: </td>
                <td width="23%"><select style="width: 98%"
                            data-ng-model="bulk.config.bindingType"
                            data-convert-to-number>
                    <option data-ng-repeat="bindingtype in data.bindingTypeOptions" value="{{bindingtype.id}}">
                        {{bindingtype.name}}
                    </option>
                </select></td>
                <td width="10%">Paper Quality: </td>
                <td width="23%">
                    <input type='text' style='border: 1px solid grey;text-align: center;'
                           data-ng-model="item.paperQuality"/>
                </td>
            </tr>
            <tr>
                <td></td><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td><input type="button" value="Set Values" ng-click="setBulkItemsValue()"></td>
            </tr>
        </table>
    </div>

</fieldset>

<div id="modal-confirm1" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"><span data-ng-show="canItemDelete">Are you sure? You want to delete this item</span>
                <span data-ng-show="!canItemDelete">You can not perform <strong style="color: red">delete</strong>. Item is <strong>borrowed</strong> or <strong>on Hold</strong>.</span>
            </div>
            <div class="modal-footer">
                <div data-ng-show="canItemDelete">
                    <button type="button" data-dismiss="modal" class="btn btn-default">No</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary" data-ng-click="confirmation()">
                        Yes, Delete It
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>