<div class="container-fluid" data-ng-init="initialization()">
    <div class="panel panel-blue">
        <div class="panel-heading" align="center">
            <h4 class="panel-title">Application System for Clearance/Carry/Improvement</h4>
        </div>
        <div class="panel-body">
            <div class="spinner" ng-show="loadingVisibility">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div data-ng-if="!applicationAllowed && loadingVisibility==false" align="center">
                <h1>{{applicationMessage}}</h1>
            </div>

            <div data-ng-if="applicationCCIFound==false && submitButtonClicked==false && loadingVisibility==false">
                <h4>Please choose course(s) from the bellow list</h4>

                <div class="panel panel-danger" data-ng-if="resultClearanceNumber>0 || appCCIClearanceNumber>0">
                    <div class="panel-heading" align="center">
                        Candidate Clearance Courses
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                            <th>Course Number</th>
                            <th>Course Title</th>
                            <th>Exam Date</th>
                            <th>Last Apply Date</th>
                            <th>Deadline</th>
                            <th style="width:180px; max-width: 180px;">Status</th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="app in registrationResults" data-ng-if="app.type==2"
                                data-ng-style="{'background-color':app.backgroundColor,color:app.color}">
                                <td>{{app.courseNo}}</td>
                                <td>{{app.courseTitle}}</td>
                                <td>{{app.examDate}}</td>
                                <td>{{app.lastApplyDate}}</td>
                                <td>{{app.deadline}}</td>
                                <td><input type="checkbox" ng-disabled="app.deadline=='Date Over' ?  true : false" data-ng-model="app.apply" data-ng-click="checkMoreThanOneSelectionSubmit(app)"></td>
                                <!--<th><div ><label><input type="checkbox" data-ng-model="app.apply"></label></div></th>-->
                            </tr>
                            <tr data-ng-repeat="app in applicationCCI" data-ng-if="app.cciStatus==8 && app.applicationType==2">
                                <td>{{app.courseNo}}</td>
                                <td>{{app.courseTitle}}</td>
                                <td>{{app.examDate}}</td>
                                <td>{{'Appiled'}}</td>
                                <td>{{'N/A'}}</td>
                                <td>{{app.statusName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="panel panel-warning" data-ng-if="resultImprovementNumber>0 || appCCIImprovementNumber>0">
                    <div class="panel-heading" align="center">
                        Candidate Improvement  Courses
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                            <th>Course Number</th>
                            <th>Course Title</th>
                            <th>Grade</th>
                            <th>Exam Date</th>
                            <th>Last Apply Date</th>
                            <th>Deadline</th>
                            <th style="width:180px; max-width: 180px;">Status</th>
                            <th>Slip</th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="app in registrationResults" data-ng-if="app.type==5"
                                data-ng-style="{'background-color':app.backgroundColor,color:app.color}">
                                <td>{{app.courseNo}}</td>
                                <td>{{app.courseTitle}}</td>
                                <td>{{app.gradeLetter}}</td>
                                <td>{{app.examDate}}</td>
                                <td>{{app.lastApplyDate}}</td>
                                <td>{{app.deadline}}</td>
                                <td><input type="checkbox" ng-disabled="app.deadline=='Date Over' ?  true : false" data-ng-model="app.apply" data-ng-click="checkMoreThanOneSelectionSubmit(app)"></td>
                                <td>Not Applied Yet</td>
                                <!--<th><div ><label><input type="checkbox" data-ng-model="app.apply"></label></div></th>-->
                            </tr>
                            <tr data-ng-repeat="app in applicationCCI" data-ng-if="(app.cciStatus==7 || app.cciStatus==8) && app.applicationType==5">
                                <td>{{app.courseNo}}</td>
                                <td>{{app.courseTitle}}</td>
                                <td>{{app.grade}}</td>
                                <td>{{app.examDate}}</td>
                                <td>{{'Applied'}}</td>
                                <td>{{'N/A'}}</td>
                                <td>{{app.statusName}}</td>
                                <td ><img src="images/pdf_square.png"  data-ng-if="app.cciStatus==7 && app.applicationType==5 " class="download_tooltip ng-scope"
                                         style="position: relative;cursor: pointer;margin-bottom: 10px;"
                                         data-ng-click="receipt(app.transactionId)"><p data-ng-if="app.cciStatus!=7 && app.applicationType==5">N/A</p></td>
                            </tr>
                            </tbody>

                        </table><p align="center" style="color:gray;font-size: 15px">Improvement Examination  Limit (within 8 Semesters): <strong style="font-size: 15px;color: black">{{improvementLimitstatic}} </strong> And You have already Given:  <strong style="font-size: 15px;color: black">{{improvementLimit}}</strong></p>

                    </div>
                </div>
                <div class="panel panel-info" data-ng-if="resultCarryNumber>0 || appCCICarryNumber>0">
                    <div class="panel-heading" align="center">
                        Candidate Carry Courses

                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                            <th>Course Number</th>
                            <th>Course Title</th>
                            <th>Failed Course Semester</th>
                            <th>Exam Date</th>
                            <th style="width:180px; max-width: 180px;">Status</th>
                            <th>Slip</th>
                            </thead>
                            <tbody>
                            <tr id="{{app.courseNo}}" data-ng-repeat="app in registrationResults"
                                data-ng-if="app.type==3"
                                data-ng-style="{'background-color':app.backgroundColor,color:app.color}">
                                <td>{{app.courseNo}}</td>
                                <td>{{app.courseTitle}}</td>
                                <td>{{app.courseYear+"-"+app.courseSemester}}</td>
                                <td>{{app.examDate}}</td>
                                <td ><input type="checkbox" data-ng-model="app.apply"
                                           data-ng-click="checkMoreThanOneSelectionSubmit(app)"></td>
                                <td>{{'N/A'}}</td>
                                <!--<th><div ><label><input type="checkbox" data-ng-model="app.apply"></label></div></th>-->
                            </tr>
                            <tr data-ng-repeat="app in applicationCCI" data-ng-if="app.applicationType==3 && (app.cciStatus==2  || app.cciStatus==7 || app.cciStatus==8 || app.cciStatus==9)">
                                <td>{{app.courseNo}}</td>
                                <td>{{app.courseTitle}}</td>
                                <td>{{app.carryYear+"-"+app.carrySemester }}</td>
                                <td>{{app.examDate}}</td>
                                <td>{{app.statusName}}</td>
                                <td><img src="images/pdf_square.png"  data-ng-if="app.cciStatus==7 && app.applicationType==3" class="download_tooltip ng-scope"
                                         style="position: relative;cursor: pointer;margin-bottom: 10px;"
                                         data-ng-click="receipt(app.transactionId)"><p  data-ng-if="app.cciStatus!=7 && app.applicationType==3">N/A</p></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
                <div align="right" style="padding-bottom:5px" data-ng-if="resultCarryNumber>0 || resultImprovementNumber>0 || resultClearanceNumber>0" >
                    <button class="btn btn-primary" data-ng-disabled="submit_Button_Disable"  data-ng-click="submit()">Submit</button>
                    <button class="btn btn-success" data-ng-disabled="submit_Button_Disable" data-ng-click="cancel()">Cancel</button>
                </div>

            </div>


        </div>
    </div>
</div>
</div>
</div>
