
<style>
    .box{
        width:100px;
        height:50px;
        border: 2px solid black;
        background-color: white;
        padding-bottom: 2%;
    }

    #found{
        color:blue;
    }
</style>

<div data-ng-init="init()">
    <div class="panel panel-blue">
        <div class="panel-heading" align="center">
            View Seat Plan
        </div>
        <div class="panel-body" >
            <div class="row" data-ng-if="studentRecordFound" style="padding-left: 2%;padding-right: 2%;">
                <ul id="myTab4" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="" ng-click="showSemesterFinalSeatPlan()" data-toggle="tab">Semester Final</a></li>
                    <li data-ng-if="student.programId==110300"><a href="" data-toggle="tab">3-1<-->3-2</a></li>
                    <li ><a href="" data-ng-click="showCCISeatPlan()" data-toggle="tab">CCI</a></li>
                </ul>
                <div id="myTabContent4" class="tab-content">
                    <div id="home6" class="tab-pane fade in active" data-ng-if="seatPlanStructure">
                        <div data-ng-if="seatPlanArrLength==0" align="center">
                            <h2>No seat plan is published yet!</h2>
                        </div>
                        <div data-ng-if="seatPlanArrLength>0">
                            <div class="row" align="center">
                                <h4>Room No: <b>{{classRoom.roomNo}}</b></h4>
                            </div>
                            <br>
                            <table align="center">
                                <tr data-ng-repeat="row in rowIterationArr">
                                    <td data-ng-repeat="col in colIterationArr" style="padding-bottom: 2%;">
                                        <div   data-ng-if="col%2!=0" align="center">
                                            <i data-ng-if="col==seatPlanArr.colNo && row==seatPlanArr.rowNo" id="found" class="fa fa-user fa-2x box" aria-hidden="true" ></i>
                                            <i data-ng-if="col!=seatPlanArr.colNo || row!=seatPlanArr.rowNo" class="fa fa-user fa-2x box" aria-hidden="true" ></i>
                                        </div>
                                        <div data-ng-if="col%2==0" align="center">
                                            <i data-ng-if="col==seatPlanArr.colNo && row==seatPlanArr.rowNo" id="found" class="fa fa-user fa-2x box" aria-hidden="true" ></i>
                                            <i data-ng-if="col!=seatPlanArr.colNo || row!=seatPlanArr.rowNo" class="fa fa-user fa-2x box" aria-hidden="true" ></i> &nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>

                                    </td>

                                </tr>
                            </table>
                            <div class="row" align="right" data-ng-if="seatPlanStructure && semesterFinalSelected==false">
                                <button class="btn btn-success" style="padding-right: 5%;" data-ng-click="goBack()">Go Back</button>
                            </div>
                        </div>



                    </div>
                    <div id="home6" class="tab-pane fade in active" data-ng-if="cciSelected && seatPlanStructure==false">
                        <div data-ng-if="applicationCCIArrLength==0" align="center">
                            <h2>You dont have any carry exams!</h2>
                        </div>
                        <table class="table table-bordered table-stripped" data-ng-if="applicationCCILength>0">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Course</th>
                                    <th>Reg. Type</th>
                                    <th>Room Number</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="app in applicationCCIArr">
                                    <td>{{app.examDate}}</td>
                                    <td>{{app.courseNo}}</td>
                                    <td data-ng-if="app.applicationType==2">Clearance</td>
                                    <td data-ng-if="app.applicationType==3">Carry</td>
                                    <td data-ng-if="app.applicationType==4">Special Carry</td>
                                    <td data-ng-if="app.applicationType==5">Improvement</td>
                                    <td>{{app.roomNo}}</td>
                                    <td><a href="" data-ng-click="viewSeatPlan(app.roomId,app.examDate)">View</a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="row" data-ng-if="studentRecordFound==false" align="center">
                <h2><b>Not Yet Registered</b> for the semester</h2>
            </div>
        </div>
    </div>
</div>