

<div class="row" >
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>
    <div class="panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal" data-validate=""  data-onvalidate="showMainPanel" >
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Program Type</label>
                        <div class="col-md-8">
                            <select
                                    class="form-control required"
                                    name="programType"
                                    id="programType"
                                    data-ng-options="programType.name for programType in programTypes track by programType.id"
                                    data-ng-model="programType" data-ng-change="getSemesters()">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>
                        <div class="col-md-8">
                            <!--<select class="form-control required" name="semester" data-ng-model="semester">
                                <option   value="">Select a semester</option>
                                <option data-ng-repeat="semester in semesters" value="{{semester}}">{{semester.name}}</option>
                            </select>-->
                            <select
                                    class="form-control required"
                                    name="semester"
                                    id="semester"
                                    data-ng-options="semester.name for semester in semesters track by semester.id"
                                    data-ng-model="semester">

                            </select>
                        </div>
                    </div>

                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div id="rightDiv">
        <div class="panel">
            <div class="panel-heading">Taletalk-admission Data<span
                    class="subtitle"></span></div>
            <div class="panel-body shadowPanel"   style="min-height: 490px;">

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="input-group">
                        <span class="input-group-addon">Receipt Id</span>
                        <input id="receiptId" type="text" class="form-control" name="receiptId" data-ng-model="receiptId" placeholder="Insert Receipt Id Here">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-ng-click="searchByReceiptId(receiptId)"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                         </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <br>
                <br>
                <div class="row" data-ng-if="showStudentSection">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <table class="table" >
                            <tbody>
                            <tr>
                                <td  align="right">
                                    Name</td>
                                <td > <b>{{admissionStudent.studentName}}</b></td>
                            </tr>
                            <tr>
                                <td align="right">Receipt Id</td>
                                <td> <b>{{admissionStudent.receiptId}}</b></td>
                            </tr>
                            <tr>
                                <td align="right">Unit</td>
                                <td> <b>{{admissionStudent.unit}}</b></td>
                            </tr>
                            <tr>
                                <td align="right">Allocated Program</td>
                                <td> <b>{{admissionStudent.allocatedProgramShortName}}</b></td>
                            </tr>
                            <tr>
                                <td align="right"><h3>Student Id</h3></td>
                                <td> <h3>{{admissionStudent.studentId}}</h3></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4"></div>

                </div>

            </div>
        </div>
    </div>
</div>