
<style>
    fieldset {
        border:1px solid grey;
        width: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    legend {
        border:1px solid grey;
        color:#4d4b4b;
        font-size:90%;
        text-align:center;
        width: 60%;
        font-weight: bold;
    }

</style>
<div class="row" >
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>
    <div class="panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select</h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal">
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Program Type</label>
                        <div class="col-md-8">
                            <select
                                    class="form-control required"
                                    name="programType"
                                    id="programType"
                                    data-ng-options="programType.name for programType in programTypes track by programType.id"
                                    data-ng-model="programType"
                                    data-ng-change="getSemesters()"
                            ></select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>

                        <div class="col-md-8">
                            <select
                                    class="form-control required"
                                    name="semester"
                                    id="semester"
                                    data-ng-options="semester.name for semester in semesters track by semester.id"
                                    data-ng-model="semester"
                            >

                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success" data-ng-click="showRightDiv()">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div id="rightDiv" data-ng-if="rightDiv==true">
        <div class="panel">
            <div class="panel-heading">Search Candidate By <b>ProgramType:</b> {{programType.name}} <b>Semester:</b> {{semester.name}} <b>ReceiptId:</b> {{receiptId}}<span
                    class="subtitle"></span></div>
            <div class="panel-body shadowPanel"   style="min-height: 490px;">
                <div align="center">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="control-label" style="font-weight: bold;">Receipt Id:</label>
                            <input type="text" class="form-control" data-ng-model="receiptId" placeholder="Enter Receipt Id">
                        </div>
                        <button type="submit" class="btn btn-success" data-ng-click="search(receiptId)">Search</button>
                    </form>
                </div>
                <br />
                <div data-ng-show="mainDiv==true">
                    <div class="row">
                        <div class="col-md-4">
                            <div style="border: 1px solid #5e5e5e;">
                                <div class="form-group">
                                    <div class="text-center mbl">
                                        <img
                                                src="https://s3.amazonaws.com/uifaces/faces/twitter/oliveirasimoes/128.jpg"
                                                style="border: 5px solid #fff; box-shadow: 0 2px 3px rgba(0,0,0,0.25);"
                                                class="img-circle"/></div>
                                </div>
                                <table class="table table-striped">
                                    <tr>
                                        <th><label class="control-label" style="font-weight: bold;">Name:</label></th>
                                        <td><label class="control-label">{{admissionStudent.studentName}}</label></td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label" style="font-weight: bold;">Gender:</label></th>
                                        <td><label class="control-label">{{admissionStudent.gender}}</label></td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label" style="font-weight: bold;">Date of Birth:</label></th>
                                        <td><label class="control-label">{{admissionStudent.dateOfBirth}}</label></td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label" style="font-weight: bold;">Father's Name:</label></th>
                                        <td><label class="control-label">{{admissionStudent.fatherName}}</label></td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label" style="font-weight: bold;">Mother's Name:</label></th>
                                        <td><label class="control-label">{{admissionStudent.motherName}}</label></td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label" style="font-weight: bold;">HSC Board:</label></th>
                                        <td><label class="control-label">{{admissionStudent.hscBoard}}</label></td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label" style="font-weight: bold;">SSC Board:</label></th>
                                        <td><label class="control-label">{{admissionStudent.sscBoard}}</label></td>
                                    </tr>
                                    <tr>
                                        <th><label class="control-label" style="font-weight: bold;">HSC Passing Year:</label></th>
                                        <td><label class="control-label">{{admissionStudent.hscYear}}</label></td>
                                    </tr>

                                    <tr>
                                        <th><label class="control-label" style="font-weight: bold;">SSC Passing Year:</label></th>
                                        <td><label class="control-label">{{admissionStudent.sscYear}}</label></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-8" style="border: 1px dashed #5e5e5e;">
                            <br />
                            <div class="col-md-4" data-ng-show="GLShow==true">
                                <form>
                                    <fieldset style="padding-bottom: 5px;">
                                        <legend>Academic</legend>
                                        <div>
                                            <span data-ng-repeat="gl in gLCertificates">

                                                <input
                                                        type="checkbox"
                                                        value="{{gl}}"
                                                        ng-checked="{{gl.disableChecked}}"
                                                        ng-click="toggleSelection(gl)"
                                                        ng-disabled="{{gl.disableChecked}}"
                                                >&nbsp; {{gl.name}} &nbsp;
                                                <br />
                                            </span>
                                        </div>
                                    </fieldset>
                                </form>
                                <br />
                            </div>
                            <div class="col-md-4" data-ng-show="GCEShow==true">
                                <form>
                                    <fieldset style="padding-bottom: 5px;">
                                        <legend>Academic</legend>
                                        <div>
                                            <span ng-repeat="gce in gCECertificates">

                                                <input
                                                        type="checkbox"
                                                        value="{{gce}}"
                                                        ng-checked="{{gce.disableChecked}}"
                                                        ng-click="toggleSelection(gce)"
                                                        ng-disabled="{{gce.disableChecked}}"
                                                >&nbsp; {{gce.name}} &nbsp;
                                                <br />
                                            </span>
                                        </div>
                                    </fieldset>
                                </form>
                                <br />
                            </div>
                            <div class="col-md-4">
                                <form>
                                    <fieldset style="padding-bottom: 5px;">
                                        <legend>National</legend>
                                        <div>
                                            <span ng-repeat="n in nationalCertificates">

                                                <input
                                                        type="checkbox"
                                                        value="{{n}}"
                                                        ng-checked="{{n.disableChecked}}"
                                                        ng-click="toggleSelection(n)"
                                                        ng-disabled="{{n.disableChecked}}"
                                                >&nbsp; {{n.name}} &nbsp;
                                                <br />
                                            </span>
                                        </div>
                                    </fieldset>
                                </form>
                                <br />
                            </div>
                            <div class="col-md-4" data-ng-show="quotaShow==true">
                                <form>
                                    <fieldset style="padding-bottom: 5px;">
                                        <legend>Quota</legend>
                                        <div>
                                            <span ng-repeat="q in quotaCertificates">

                                                <input
                                                        type="checkbox"
                                                        value="{{q}}"
                                                        ng-checked="{{q.disableChecked}}"
                                                        ng-click="toggleSelection(q)"
                                                        ng-disabled="{{q.disableChecked}}"
                                                >&nbsp; {{q.name}} &nbsp;
                                                <br />
                                            </span>
                                        </div>
                                    </fieldset>
                                </form>
                                <br />
                            </div>

                        <div class="col-md-12">
                            <label>Comment:</label><br />
                            <textarea class="form-control" rows="2" data-ng-model="userComment"></textarea>
                            <span data-ng-repeat="comments in previousComments">

                                <textarea class="form-control" rows="1" disabled>{{comments.comment}} {{comments.commentedOn}}</textarea>

                            </span>
                            <br />
                        </div>
                        </div>
                        <div class="col-md-4" align="left">
                            <br />
                            <button type="submit" class="btn btn-warning" data-ng-click="underTaken(userComment)" disabled>Print Undertaken Form</button>
                        </div>
                        <div class="col-md-4" align="right">
                            <br />
                            <button type="submit" class="btn btn-danger" data-ng-click="rejected(userComment)">Rejected</button>
                            <button type="submit" class="btn btn-success" data-ng-click="verified(userComment)">Approved</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
