
<div class="row" >
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>
    <div class="panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal" data-validate=""  data-onvalidate="fetchDeadlineInformation" >
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Program Type</label>
                        <div class="col-md-8">
                            <select class="form-control required" name="programType" data-ng-model="programType" data-ng-change="getSemesters(programType)">
                                <option data-ng-repeat="programType in programTypes" value="{{programType.id}}">{{programType.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>
                        <div class="col-md-8">
                            <select class="form-control required" name="semester" data-ng-model="semester">
                                <option   value="">Select a semester</option>
                                <option data-ng-repeat="semester in semesters" value="{{semester}}">{{semester.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Faculty</label>
                        <div class="col-md-8">
                            <select class="form-control required" name="faculty" data-ng-model="faculty" >
                                <option value="">Select a faculty</option>
                                <option data-ng-repeat="faculty in faculties" value="{{faculty}}">{{faculty.shortName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Merit Type</label>
                        <div class="col-md-8">
                            <select class="form-control required" name="meritType" data-ng-model="meritType">
                                <option value="">Select merit list type</option>
                                <option data-ng-repeat="meritType in meritTypes" value="{{meritType}}">{{meritType.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div id="rightDiv">
        <div class="panel">
            <div class="panel-heading">Grade Submission Deadline Information<span
                    class="subtitle"></span></div>
            <div class="panel-body shadowPanel"   style="min-height: 490px;">
                <div class="row" data-ng-if="showTable==true" style="padding-left: 2%; padding-right: 2%;">
                    <table class="table table-bordered table-advanced table-striped">
                        <thead id="thead" role="row"  class="heading">
                        <th style="text-align:center;">Exam Date</th>
                        <th align="center">Program</th>
                        <th style="text-align:center;">Course No</th>
                        <th align="left">Course Title</th>
                        <th style="text-align:center;">CrHr</th>
                        <th style="width:120px;text-align:center;">Total Students</th>
                        <th style="width:172px;text-align:center;">Last Date of Submission</th>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="e in examGradeStatisticsArr" align="center">
                            <td>{{e.examDate}}</td>
                            <td style="text-align:left;">{{e.programShortName}}</td>
                            <td>{{e.courseNo}}</td>
                            <td align="left">{{e.courseTitle}}</td>
                            <td>{{e.courseCreditHour}}</td>
                            <td>{{e.totalStudents}}</td>
                            <td align="center" >
                                <input align="center" contenteditable="editable" style="width:70%;text-align: center;" type="text"
                                       data-date-format="dd-mm-yyyy" placeholder="DD-MM-YYYY" class="datepicker-default form-control" data-ng-model="e.lastSubmissionDate" data-ng-change="dateChanged(e)">
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <br/>
                    <div align="right" style="padding-right: 3%;" data-ng-if="showButton">
                        <button class="btn btn-primary" data-ng-click="saveChanges()">Save Changes</button> <button class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>