
<div class="row" >
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>
    <div class="panel panel-green" id="leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Select </h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal" data-validate=""  data-onvalidate="fetchTaletalkData" >
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Program Type</label>
                        <div class="col-md-8">
                            <select class="form-control required" name="programTypeObj" data-ng-model="programType" data-ng-change="getSemesters(programTypeObj)">
                                <option data-ng-repeat="programType in programTypes" value="{{programType}}">{{programType.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Semester</label>
                        <div class="col-md-8">
                            <select class="form-control required" name="semester" data-ng-model="semester">
                                <option   value="">Select a semester</option>
                                <option data-ng-repeat="semester in semesters" value="{{semester}}">{{semester.name}}</option>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div id="rightDiv">
        <div class="panel">
            <div class="panel-heading">Taletalk-admission Data<span
                    class="subtitle"></span></div>
            <div class="panel-body shadowPanel"   style="min-height: 490px;">
                <div data-ng-if="showUploadPortion==true" align="center">
                    <h1>This is upload portion</h1>
                </div>
                <div data-ng-if="showUploadPortion==false" align="center">
                    <h1>This is saved portion</h1>
                </div>
            </div>
        </div>
    </div>
</div>