<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body style="background-color: #eeeeee">
<table align="center" cellpadding="0" cellspacing="0" style="width: 600px; margin: 0 auto; font-family: Arial, Helvetica, sans-serif; border-collapse: collapse; border: 0;">
    <tr>
        <td style="padding-top: 20px; padding-right: 40px; padding-bottom: 20px; padding-left: 40px; background-color: #F5FFFA;">
            <h5 style="font-size: 20px; color: #000000;font-weight: bold; letter-spacing: -0.5px;">One-time Password</h5>
            <p style="font-size: 16px; color: #000000; padding-bottom: 3px; padding-top: 10px;">Your One-time password(OTP) is : <font style="font-weight: bold; font-size: 25px;">${others.otp}</font> </p>
            <p style="font-size: 16px; color: #000000; padding-bottom: 15px; padding-top: 5px;">OTP will expire at : <font style="font-weight: bold; ">${others.expireAt}</font> </p>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 0px; padding-bottom: 0px; background-color: #F8F8FF" align="center">
            <p style="padding-top: 5px; color: #808080;font-size: 12px;"> &copy; Copyright 2016 <a style="text-decoration: none; color: #000;" href="http://www.aust.edu/" target="_blank">IUMS </a>, All Rights Reserved </p></td>
    </tr>
</table>
<style scoped>
    @media (min-width: 0px) and (max-width: 720px) {
        table, img {
            width: 100% !important;
        }
    }
</style>
</body>
</html>
