<div class="col-sm-4">
    <div class="form-group" align="right">
        <label class="col-md-4 control-label"><strong>Approval Status</strong></label>
        <div class="col-md-8">
            <select
                    class="form-control required"
                    name="leaveType"
                    data-ng-disabled="vm.itemPerpageChecker"
                    id="leaveType"
                    data-ng-options="L.name for L in vm.carryApprovalStatusList track by L.id"
                    data-ng-model="vm.carryApprovalStatus"
                    data-ng-change="vm.statusChanged(vm.carryApprovalStatus)"
            ></select>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="form-group" align="right">
        <label class="col-md-4 control-label"><strong>Results per page</strong></label>
        <div class="col-md-8">
            <input type="text"
                   class="form-control required"
                   id="resultsPerPage"
                   data-ng-model="vm.itemsPerPage"
                   data-ng-change="vm.setResultsPerPage(vm.itemsPerPage)"
            />
        </div>
    </div>
</div>
<div class="col-sm-4" style="padding-bottom: 25px">
    <div class="form-group" align="right">
        <label class="col-md-8 control-label"><input type="text"
                                                     data-ng-disabled="vm.itemPerpageChecker"
                                                     class="form-control required"
                                                     id="resultsPerPloage"
                                                     placeholder='Search by student Id'
                                                     data-ng-model="vm.seachByStudentId"/></label>
        <div class="col-md-4">
            <button class="btn btn-success" data-ng-disabled="vm.itemPerpageChecker"  data-ng-click="vm.searchByStudentId(vm.seachByStudentId)">Search  </button>
            <button type="button" class="btn btn-primary btn-xs"  data-ng-disabled="vm.itemPerpageChecker" data-ng-click="vm.refresh()">Refresh</button>
        </div>
    </div>
</div>
<br/>
