<div class="btn" style="margin-top: 20px;box-shadow: none;" data-ng-if="examType!=1">
    <p style="background-color: #BBFFFF;padding: 2px 8px;border: 1px solid #BBFFFF;float: left;">Clearance</p>
    <p style="background-color: #CCCCFF;padding: 2px 8px;border: 1px solid #CCCCFF;float: left;margin-left: 5px;">Carry</p>
    <p style="background-color: #00FF00;padding: 2px 8px;border: 1px solid #00FF00;float: left;margin-left: 5px;">Special Carry</p>
    <p style="background-color: #FFF68F;padding: 2px 8px;border: 1px solid #FFF68F;float: left;margin-left: 5px;">Improvement</p>
</div>