<div class="col-sm-4">
    <div class="form-group" align="right">
        <div class="col-md-8">
            <input type="text" data-ng-model="vm.facultyName" size="30" placeholder="Search By Faculty Name">
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group" align="right">
        <div class="col-md-8">
           <button type="button" data-toggle="modal"   data-target="#myModal" class="btn btn-success btn-sm" data-ng-model="kko">Already Assigned Courses</button>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="form-group" align="right">
        <div class="col-md-8">
            <button type="button" class="btn btn-info btn-sm" data-ng-model="kk">Evaluation Result's</button>
        </div>
    </div>
</div>
<br/>
<div class="modal fade" id="myModal" role="dialog" >
    <!--   <div class="modal-backdrop"> -->
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button"  class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Courses Assigned For Evaluation</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body" >


                    <table class="table table-bordered">
                        <thead>
                        <th style="background-color: #FAFAFA; ">#</th>
                        <th style="background-color: #FAFAFA; ">Faculty Name</th>
                        <th style="background-color: #FAFAFA; ">CourseNo</th>
                        <th style="background-color: #FAFAFA; ">CourseTitle</th>
                        <th style="background-color: #FAFAFA; ">Approved Date</th>
                        </thead>
                        <tbody>
                        <tr>

                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"   data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>