<style>
    .datepicker-default.form-control{
        height: 25px !important;
    }
</style>

<div class="row">
    <div onclick="resetCommonCollapsibleDivs()" id="arrowDiv">
        <i class="fa fa-angle-double-right fa-cx"></i></i>
    </div>
    <div class="panel panel-green" id=0"leftDiv">
        <div class="panel-heading">
            <h3 class="panel-title">Enter Book Information</h3>
        </div>
        <div class="panel-body pan">
            <form action="" class="form-horizontal" data-validate="">
                <div class="form-body pal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Book Name</label>
                        <div class="col-md-8">
                           <input  type="text" name="book" id="mBook" data-ng-model="book"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Author</label>
                        <div class="col-md-8">
                            <input type="text" name="author" id="mAuthor" data-ng-model="author"/>
                        </div>
                    </div>
                </div>
                <div class="form-actions text-right pal">
                    <button type="button" class="btn btn-success" data-ng-click="save()">-Submit-</button>
                </div>
            </form>
        </div>
    </div>
    <div id="rightDiv">
        <div class="panel">
            <div class="panel-heading">Book Information<span
                    class="subtitle"></span></div>
            <div class="panel-body shadowPanel"   style="min-height: 490px;">
                <div class="row" data-ng-if="showTable==true" style="padding-left: 2%; padding-right: 2%;">
                    <h1>Data Has Been Saved In The DataBase</h1>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>>