/*******************************
	surfacetheme.com
	Project Name: IUMS
	Version:01
********************************/
@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/opensans-light-webfont.eot');
	src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold';
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sanssemibold';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansitalic';
	src: url('../fonts/opensans-italic-webfont.eot');
	src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-italic-webfont.woff') format('woff'), url('../fonts/opensans-italic-webfont.ttf') format('truetype'), url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}
.login-right {
	position: fixed;
	right: 0;
	float: right;
	height: 100%;
	width: 500px;
	margin: 0;
	padding: 50px;
	padding-top: 20px;
	z-index: 1;
	overflow-y: auto;
	overflow-x: auto;
	-moz-min-width: 360px;
	-ms-min-width: 360px;
	-o-min-width: 360px;
	-webkit-min-width: 360px;
	min-width: 360px
}
.login-left {
	position: fixed;
	height: 100%;
	left: 0;
	right: 500px;
	width: auto;
	background: transparent url("../images/IUMS-main-img.jpg") no-repeat center center;
	-ms-background-size: cover;
	background-size: cover
}
.login-forgotpassword {
	margin-top: 45px
}
.login-wrapper .login-head-title {
	font-family: 'open_sansbold';
	font-size: 19px;
	color: #017e00;
	margin-bottom: 20px;
}
.IUMS-title {
	font-size: 76px;
	font-family: 'open_sanssemibold';
	letter-spacing: -5px;
	line-height: 30px;
}
.IUMS-title span {
	font-size: 30px;
	font-family: 'open_sansitalic';
	letter-spacing: -1px;
	color: #5c5c5c;
}
.IUMS-slogan {
	font-family: 'open_sansregular';
	font-size: 14px;
	color: #979595;
	line-height: 20px;
}
.IUMS-sub-head {
	color: #000001;
	font-family: arial;
	font-size: 18px;
	font-weight: 700;
	margin-top: 14px;
	padding-bottom: 6px;
	margin-bottom: 30px;
	border-bottom: 3px solid #018002;
}
/*Modal Contact*/

.contact-wrap .form-group {
	margin-top: 20px;
}
.contact-wrap .form-group label {
	font-weight: normal;
	font-family: 'open_sanssemibold';
}
.contact-wrap .form-group .form-control {
	border-radius: 0px;
	border: 1px solid #e4e4e4;
	height: 40px;
	box-shadow: none;
}
.copy-right {
	font-size: 11px;
	position: absolute;
	bottom: 0px;
	color: #717171;
}
.contact-wrap .error-msm{
	background-color: #ffe8e9;
	color: #c33;
	line-height: 1.2;
	text-align: center;
	padding:10px;
	border-radius:3px;
}
@media(max-width:767px) {
	.login-left {
		position: relative;
		left: auto;
		right: auto;
		background: none;
		height: auto!important
	}
	.login-right {
		position: relative;
		right: auto;
		float: none;
		height: auto;
		width: auto;
		overflow-y: auto;
		overflow-x: hidden
	}
}
@media (min-width: 0px) and (max-width: 768px) {
	.branding {
		text-align: left;
	}
	.branding img {
		width: 60px;
		height: 80px;
	}
	blockquote {
		padding: 10px;
		margin-left: 20px;
	}
	.IUMS-title {
		font-size: 36px;
		letter-spacing: -2px;
	}
}
/*loader*/
/* Common button styles */
.btn {
	float: left;
	margin-top: 20px;
	margin-right: 10px;
	padding: 14px 40px;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	background-color: #018002;
	font-size: 16px;
	color: #ffffff;
}
.btn:hover, .btn:focus {
	outline: none !important;
	color: #fff;
}
.btn > span {
	vertical-align: middle;
}
.loader:before, .loader:after, .loader {
	border-radius: 50%;
	width: 16px;
	height: 16px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	top: -24px;
	line-height:12px;
}
.loaderDiv {
	display:none;
	padding: 17.3px 57px;
}
.loader:before {
	left: -20px;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 20px;
}
.loader:before, .loader:after {
	content: '';
	position: absolute;
	top: 0;
}
@-webkit-keyframes load7 {
	0%,  80%,  100% {
		box-shadow: 0 2.5em 0 -1.3em #ffffff;
	}
	40% {
		box-shadow: 0 2.5em 0 0 #ffffff;
	}
}
@keyframes load7 {
	0%,  80%,  100% {
		box-shadow: 0 2.5em 0 -1.3em #ffffff;
	}
	40% {
		box-shadow: 0 2.5em 0 0 #ffffff;
	}
}
