<div class="page-content">

    <div class="row" id="topArrowDiv">
        <div class="col-md-2 col-md-offset-5">
            <i class="fa fa-chevron-down" aria-hidden="true" data-ng-click="resetTopBottomDivs()"  style="cursor: pointer;"></i>
        </div>
    </div>

    <div class="row" id="teachersListDiv">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Teacher's List</h3>
            </div>
            <div class="panel-body" style="min-height: 490px;">
                <table class="table table-bordered">
                    <thead class="heading well">
                    <tr>
                        <th>Sl.</th>
                        <th >Teacher Name</th>
                        <th>Designation</th>
                        <th>Employment Type</th>
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="employee in employees track by $index">
                        <td>{{$index + 1}}.</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.designation}}</td>
                        <td>{{employee.employmentType}}</td>
                        <td>{{employee.department}}</td>
                        <td><button type="button" class="btn btn-default" data-ng-click="view($index)">View</button></td>
                    </tr>
                    </tbody>
                </table>
                <div data-ng-show="showNoPendingPublicationListDiv">
                    <br /><br />
                    <h1 style="text-align: center">No Pending Request</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="publicationListDiv" hidden>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Publication List</h3>
            </div>
            <div class="panel-body" style="min-height: 490px;">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>Employee Name: <b>{{currentlySelectedEmployee.name}}</b></label><br>
                                    <label>Designation: <b>{{currentlySelectedEmployee.designation}}</b></label><br>
                                </div>
                                <div class="col-md-6">
                                    <select data-ng-model="data.publicationListViewCategory" data-ng-change="changePublicationViewCategory()" class="form-control">
                                        <option value="" disabled>Select Category</option>
                                        <option value="0" name="Pending Publication">Pending Publication</option>
                                        <option value="1" name="Approved Publication">Approved Publication</option>
                                        <option value="2" name="Rejected Publication">Rejected Publication</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <img class="img-square" src="https://s3.amazonaws.com/uifaces/faces/twitter/oliveirasimoes/128.jpg">
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div align="center">
                        <dir-pagination-controls boundary-links="true"
                                                 pagination-id="iPagination" on-page-change="pageChanged(newPageNumber)"
                                                 template-url="views\registrar-office\directive\dirPagination.tpl.html">
                        </dir-pagination-controls>
                    </div>
                </div>
                <!--<div id="iPublicationDetails" data-ng-repeat="publication in publications track by $index">-->
                <div dir-paginate="publication in publications | itemsPerPage: data.itemPerPage" current-page="pagination.currentPage" total-items="data.totalRecord" pagination-id="iPagination">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <label>Applied On: <b style="border-bottom: 1px solid;">{{publication.appliedOn}}</b></label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><b>{{publication.rowNumber}}</b></h5>
                        </div>
                        <div class="col-md-4" align="right">
                            <div data-ng-if="showActionTakenDate">
                                <label>Action Taken On: <b>{{publication.actionTakenOn}}</b></label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Publication Type</label>
                            <div class="col-md-8"  style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationType}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">ISSN/DOI</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationISSN}}</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Publication Title</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationTitle}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Volume</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationVolume}}</label>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Date Of Publication</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.dateOfPublication}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Issue</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationIssue}}</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Journal/Conference Name</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationJournalName}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Pages</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationPages}}</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Web Link</label>
                            <div class="col-md-8"  style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationWebLink}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Genre</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationInterestGenre}}</label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Country</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publicationCountry}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-md-4 control-label">Publisher Name</label>
                            <div class="col-md-8" style="border-bottom: 1px dashed;">
                                <label class="control-label">{{publication.publisherName}}</label>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="text-right" data-ng-if="showActionButtons">
                                <button type="button" title="Cancel" class="btn" data-ng-click="reject($index)">Reject</button>
                                <button type="submit" title="Submit" class="btn btn-success" data-ng-click="accept($index)">Approve</button>
                            </div>
                            <div class="text-right" data-ng-show="showRevertOptions">
                                <a data-target="#modal-confirm" data-toggle="modal" style="cursor: pointer" data-ng-click="getPublicationIndex($index)"><b>Revert To Pending</b></a>
                            </div>
                        </div>
                    </div>

                    <hr />
                </div>

                <div data-ng-show="showNothingDiv">
                    <h1 style="text-align: center">
                        <span data-ng-if="data.publicationListViewCategory=='0'">No Pending Publication</span>
                        <span data-ng-if="data.publicationListViewCategory=='1'">Nothing Approved</span>
                        <span data-ng-if="data.publicationListViewCategory=='2'">Nothing Rejected</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-confirm" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">Are you sure? You want to revert this publication state to <strong>pending</strong></div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">No</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary" data-ng-click="revertPublicationStatusToPending()">Yes</button>
            </div>
        </div>
    </div>
</div>

