<style>
    .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
        vertical-align: middle;
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body shadowPanel" style="min-height: 600px;">
                    <font color="blue"> Semester :</font> <select>
                        <option>Spring, 2015</option>
                    </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <font color="blue">Exam Type :</font>
                <select>
                    <option>Regular Exam</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <font color="blue">Create :</font>
               <input type="text" /> rows
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" value="Add New" ng-click="addNewDateTime()"/>

                <table class="table table-hover table-bordered table-advanced" style="margin-top: 20px;border-collapse: collapse;" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr role="row" class="heading">
                        <th width="15%" class="sorting">Date-Time</th>
                        <th width="15%" class="sorting_asc">Program</th>
                        <th width="6%" class="sorting">Year<br/>(Student's)</th>
                        <th width="6%" class="sorting">Semester<br/>(Student's)</th>
                        <th width="10%" class="sorting">Course No.</th>
                        <th width="40%" class="sorting">Course Title</th>
                        <th width="6%" class="sorting">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="date_time in routine.date_times">
                        <td align="center">
                            <div class="input-icon right"><i class="fa fa-calendar"></i>
                                <input type="text" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY" class="datepicker-default form-control required" autocomplete="off"/><br/>
                            </div>
                            <select class="form-control">
                                <option data-ng-repeat="examTime in data.examTimeOptions" value="{{examTime.id}}">{{examTime.name}}</option>
                            </select>
                            <br/><br/>
                            <input type="button" value="Add Program" ng-click="addNewProgram(date_time.index)"/>

                            <a href="javascript:;" class="btn btn-xs btn-default"
                               data-ng-click="removeDateTime(date_time.index)">
                                Delete <i class="fa fa-times" style="color: red;"></i>
                            </a>
                        <td colspan="6" style="padding: 0px;">
                            <table width="100%">
                                <tr ng-repeat="program in date_time.programs">
                                    <td width="16%" align="center" style="vertical-align: top;padding-top: 20px;padding-bottom: 20px;">
                                        <select class="form-control"  style="width: 80%" data-ng-model="exam_program"
                                                ng-change="programSelectionChanged(program,exam_program)">
                                            <option data-ng-repeat="ugProgram in data.ugPrograms" value="{{ugProgram.programs[0].id}}">{{ugProgram.programs[0].shortName}}</option>
                                        </select><br/>
                                        <input type="button" value="Add Course" ng-click="addNewCourse(date_time.index,program.index,exam_program)"/>
                                        <a href="javascript:;" class="btn btn-xs btn-default"
                                           data-ng-click="removeProgram(date_time.index,program.index)">
                                            Delete <i class="fa fa-times" style="color: red;"></i>
                                        </a>
                                    </td>
                                    <td width="74%" style="padding-top: 10px;vertical-align: top;" >
                                        <table width="100%">
                                            <tr ng-repeat="course in program.courses">
                                                <td width="10%" align="center" style="padding-top: 5px;padding-bottom: 5px;"><input type="text" class="form-control" style="width: 80%;height: 25px;text-align: center;padding: 0px;" data-ng-model="course.year"/> </td>
                                                <td width="10%" align="center" style="padding-top: 5px;padding-bottom: 5px;"><input type="text" class="form-control" style="width: 80%;height: 25px;text-align: center;padding: 0px;" data-ng-model="course.semester"/> </td>
                                                <td width="15%" align="center" style="padding-top: 5px;padding-bottom: 5px;">
                                                    <select class="select2-size form-control" style="width: 90%;height: 25px;text-align: center;padding: 0px;" ng-model="exam_course" data-ng-change="courseSelectionChanged(course,exam_course)"
                                                            ng-options=" exam_course as exam_course.no for exam_course in program.courseArr">

                                                    </select>
                                                </td>
                                                <td width="58%" align="left" style="padding-left:10px;padding-top: 5px;padding-bottom: 5px;">{{course.title}}</td>
                                                <td width="12%" align="center" style="padding-top: 5px;padding-bottom: 5px;">
                                                    <a href="javascript:;" class="btn btn-xs btn-default"
                                                       data-ng-click="removeCourse(date_time.index,program.index,course.index)">
                                                        Delete <i class="fa fa-times" style="color: red;"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    </tbody>
                    </table>
            </div>
        </div>
    </div>

    </div>


